<script setup>
/**
 * NuxtLink is a component that renders an <a> tag.
 * used ar cosnt for primeVue to render as a corrent nuxt link.
 */
const nuxtLink = resolveComponent('NuxtLink');

const props = defineProps({
  to: {
    type: String,
    required: true,
  },
  target: {
    type: String,
    default: undefined,
  },

  icon: {
    type: String,
    default: 'pi pi-arrow-right',
  },
  iconPos: {
    type: String,
    default: 'right'
  },

  label: {
    type: String,
    required: true,
  },

  disabled: {
    type: Boolean,
    default: undefined,
  },

  loading: {
    type: Boolean,
    default: false,
  },
})

const hasCustomIcon = computed(() => {
  return props?.icon?.indexOf('customicon--') > -1;
});

</script>

<template>
  <Button class="link" :as="nuxtLink" v-bind="props">
    <template v-if="hasCustomIcon" #icon>
      <AppButtonCustomiconsCustomIcon :icon="props.icon"/>
    </template>
  </Button>
</template>

<style lang="scss" scoped>

</style>