<script setup>
const props = defineProps({
  to: {
    type: String,
    default: undefined,
  },
  target: {
    type: String,
    default: undefined,
  },
  icon: {
    type: String,
    default: 'pi pi-arrow-right',
  },
  iconPos: {
    type: String,
    default: 'right'
  },
  label: {
    type: String,
  },
  disabled: {
    type: Boolean,
    default: undefined,
  },
  loading: {
    type: Boolean,
    default: false,
  },
  color: {
    type: String,
    default: null,
  }
})

/**
 * NuxtLink is a component that renders an <a> tag.
 * If undefined, then default behaviour is expected.
 */
const renderAs = (props.to !== undefined) ? resolveComponent('NuxtLink') : undefined;
const hasCustomIcon = computed(() => {
  return props?.icon?.indexOf('customicon--') > -1;
});
const buttonStyles = (() => {
  let styles = {}

  // if (props?.color) {
  //   styles['color'] = props.color
  //   styles['border'] = `1px solid ${props.color}`
  // }

  return styles
})

</script>

<template>
  <Button v-bind="props" :as="renderAs">
    <template v-if="hasCustomIcon" #icon>
      <AppButtonCustomiconsCustomIcon :icon="props.icon"/>
    </template>
  </Button>
</template>

<style lang="scss" scoped>

</style>