<script setup>
const props = defineProps({
  to: {
    type: String,
    default: undefined,
  },
  target: {
    type: String,
    default: undefined,
  },
  icon: {
    type: String,
    default: 'pi pi-arrow-right',
  },
  iconPos: {
    type: String,
    default: 'right'
  },
  label: {
    type: String,
  },
  disabled: {
    type: Boolean,
    default: undefined,
  },
  loading: {
    type: Boolean,
    default: false,
  },
  isReversed: {
    type: Boolean,
    default: false
  }
})

/**
 * NuxtLink is a component that renders an <a> tag.
 * If undefined, then default behaviour is expected.
 */
const renderAs = (props.to !== undefined) ? resolveComponent('NuxtLink') : undefined;
const hasCustomIcon = computed(() => {
  return props?.icon?.indexOf('customicon--') > -1;
});

</script>

<template>
  <Button class="tertiary" :class="{'flex flex-row-reverse': isReversed}" v-bind="props" :as="renderAs">
    <template v-if="hasCustomIcon" #icon>
      <AppButtonCustomiconsCustomIcon :icon="props.icon"/>
    </template>
  </Button>
</template>

<style lang="scss" scoped></style>