<script setup>

import _filter from "lodash/filter";
import _orderBy from "lodash/orderBy";
import _find from "lodash/find";

const { t }      = useI18n();
const dataStore  = useDataStore();
const localePath = useLocalePath();
const route      = useRoute();

const selectedCategory = ref(null);
const search           = ref("");

const filteredShopSuggestions = ref([]);

const onChangeCat = async (newValue) => {
  let path = null;

  if (selectedCategory.value) {
    path = localePath({
      name: "discounts-category",
      params: {
        category: selectedCategory.value.slug,
      },
    });
  } else {
    path = localePath({ name: "discounts" });
  }

  await navigateTo(path);
};
const filterShoplistForAutocompleate = (event) => {
  const shops = dataStore.shops
  // return [...filteredShops.value.map(shop => {
  //   return shop.title;
  // })]
  setTimeout(() => {
    if (!event.query.trim().length) {
      filteredShopSuggestions.value = [...shops];
    } else {
      filteredShopSuggestions.value = shops.filter((shop) => {
        return shop.title.toLowerCase().startsWith(event.query.toLowerCase());
      });
    }
  }, 250);
};

const currentCategory    = computed(() => {
  const catBySlug = _find(dataStore.categories, { slug: route.params.category });

  selectedCategory.value = catBySlug;

  return catBySlug;
});
const filteredDiscounts  = computed(() => {
  let filteredOfferList = dataStore.sales || [];

  const categoryId      = currentCategory?.value?.id;
	const searchQuery     = search.value?.slug;


	if (searchQuery && searchQuery.length > 0) {

    filteredOfferList = _filter(filteredOfferList, (discount) => {
			return discount.shop.slug.toLowerCase().indexOf(searchQuery) > -1
		})
	}

  if (categoryId == null || categoryId == '') {
    return filteredOfferList;
  }

  filteredOfferList = _filter(filteredOfferList, (item) => {
    return item.shop.categories.some(cat => cat.id === categoryId)
  });

  return filteredOfferList
})
const getCategoriesArray = computed(() => {
  if (dataStore.categories) {
    const orderedCats = _orderBy(dataStore.categories, "name");
    return [
      { id: -1, name: t('offers.select_category'), slug: null },
      ...Object.values(orderedCats),
    ];
  }

  return [];
});

</script>

<template>
  <div class="offers flex flex-col">
    <div class="container">
      <div class="w-full flex justify-center mb-10">
        <h1 v-html="$t('discounts.title')"></h1>
      </div>

      <div
            class="inputs w-full flex justify-center flex-col md:flex-row mb-[var(--gap-15)] gap-10 relative lg:gap-16 lg:mb-20"
          >
            <div class="select-wrap">
              <AppSelect
                v-model="selectedCategory"
                :options="getCategoriesArray"
                optionLabel="name"
                :placeholder="$t('shop.choose_cat')"
                class="select inline-flex justify-between w-full md:w-80"
                @change="onChangeCat"
              ></AppSelect>
            </div>

            <div class="search-wrap">
              <AppShopAutoComplete v-model="search" :suggestions="filteredShopSuggestions" @complete="filterShoplistForAutocompleate" />
            </div>
          </div>

      <div class="tiles relative">
        <AppSalesTile
          v-for="(salesItem, index) in filteredDiscounts" :key="index"
          :salesItem="salesItem"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.filter {
  .nav-item {
    &:hover,
    &.active {
      .nav-item__text {
        border-bottom: 1px solid var(--primary-black-100);
        width: max-content;
      }
    }
  }
}

.inputs {
  width: 100%;
  justify-content: center;

  .select-wrap {
    width: 100%;
    @include desktop-lg {
      max-width: 20rem;
    }
  }

  .search-wrap {
    width: 100%;
    @include desktop-lg {
      max-width: 20rem;
    }
  }
}
</style>