<script setup></script>

<template>
  <div class="container">
    <div class="flex w-full justify-center text-center">
      <div class="mx-auto lg:w-8/12">
        <h2 v-html="$t('sustainability.prizeTitle')"></h2>
        <div class="h3 mt-6 uppercase">
          {{ $t("sustainability.prizeSubTitle") }}
        </div>
      </div>
    </div>

    <div
      class="mt-14 flex flex-col items-center justify-between gap-10 md:mt-20 md:flex-row"
    >
      <div
        class="flex shrink-0 flex-col gap-4 md:w-1/2"
        v-html="$t('sustainability.prizeBody')"
      ></div>

      <div class="flex w-full items-center justify-end">
        <!-- prettier-ignore -->
        <svg width="542" height="154" viewBox="0 0 542 154" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M169.023 30.6893C177.504 30.6893 184.379 23.8193 184.379 15.3447C184.379 6.87004 177.504 0 169.023 0C160.543 0 153.668 6.87004 153.668 15.3447C153.668 23.8193 160.543 30.6893 169.023 30.6893Z" fill="#EACEBF"/>
          <path d="M169.023 78.5473C177.504 78.5473 184.379 71.6772 184.379 63.2026C184.379 54.728 177.504 47.8579 169.023 47.8579C160.543 47.8579 153.668 54.728 153.668 63.2026C153.668 71.6772 160.543 78.5473 169.023 78.5473Z" fill="#172924"/>
          <path d="M241.286 65.3828C202.594 65.3828 171.23 96.7238 171.23 135.389V149.471C181.267 142.192 215.923 115.773 233.346 85.9202C233.743 85.244 234.605 85.0104 235.29 85.3833C235.979 85.7645 236.237 86.6252 235.876 87.3178C220.443 116.987 189.047 144.237 177.624 153.557H189.408C228.1 153.557 259.463 122.216 259.463 83.5513V65.3869H241.286V65.3828Z" fill="#172924"/>
          <path d="M301.66 27.9433H302.185C302.538 29.6769 302.993 31.1237 303.551 32.3122C304.113 33.4926 304.728 34.468 305.396 35.2345C306.069 36.0009 306.77 36.5911 307.509 37.005C308.243 37.423 308.989 37.7222 309.74 37.919C310.49 38.1116 311.212 38.2222 311.901 38.255C312.586 38.2878 313.238 38.3001 313.845 38.3001C315.539 38.3001 316.934 38.0501 318.02 37.5378C319.107 37.0255 319.973 36.3738 320.613 35.5951C321.248 34.8123 321.699 33.968 321.958 33.0541C322.212 32.1442 322.343 31.3081 322.343 30.5376C322.343 29.4146 322.134 28.4556 321.72 27.6605C321.302 26.8613 320.773 26.1809 320.137 25.6235C319.497 25.058 318.8 24.6071 318.049 24.2506C317.299 23.9022 316.585 23.6317 315.912 23.435L310.396 21.7587C307.804 20.9636 305.848 19.9062 304.519 18.5988C303.19 17.2873 302.526 15.529 302.526 13.324C302.526 11.8814 302.78 10.5535 303.292 9.31983C303.805 8.09029 304.523 7.02059 305.454 6.12713C306.381 5.23366 307.492 4.52462 308.788 4.01232C310.084 3.50411 311.499 3.25 313.033 3.25C314.153 3.25 315.092 3.34836 315.843 3.53279C316.593 3.72952 317.241 3.94674 317.787 4.18445C318.328 4.42216 318.816 4.63528 319.251 4.82791C319.682 5.02464 320.124 5.1148 320.572 5.1148C320.99 5.1148 321.265 5.06152 321.412 4.94677C321.556 4.83611 321.757 4.55331 322.011 4.10658H322.684V12.7871H322.11C321.917 11.6314 321.589 10.5289 321.125 9.45508C320.658 8.38948 320.059 7.43864 319.325 6.62304C318.591 5.81154 317.701 5.15169 316.663 4.66397C315.621 4.16396 314.415 3.91805 313.037 3.91805C312.27 3.91805 311.421 4.02051 310.494 4.22953C309.563 4.43446 308.702 4.79512 307.902 5.30743C307.103 5.81974 306.438 6.49599 305.909 7.32388C305.384 8.15587 305.118 9.20918 305.118 10.492C305.118 11.5166 305.323 12.3814 305.741 13.1068C306.155 13.8241 306.693 14.4306 307.349 14.9265C308.001 15.4225 308.739 15.8364 309.555 16.1725C310.371 16.5045 311.192 16.8036 312.028 17.0618L317.832 18.8816C318.439 19.0783 319.206 19.3283 320.137 19.648C321.064 19.9677 321.966 20.4472 322.848 21.0906C323.725 21.7259 324.476 22.5702 325.099 23.6276C325.723 24.685 326.039 26.0252 326.039 27.6564C326.039 29.1605 325.76 30.5868 325.198 31.9475C324.64 33.3041 323.832 34.5049 322.774 35.5418C321.72 36.5829 320.44 37.4148 318.935 38.0378C317.43 38.6567 315.736 38.9764 313.849 38.9764C313.177 38.9764 312.586 38.9641 312.073 38.9477C311.561 38.9313 311.081 38.8944 310.634 38.8288C310.183 38.7673 309.736 38.6936 309.289 38.6157C308.838 38.5337 308.341 38.4149 307.8 38.255C307.16 38.0583 306.471 37.8411 305.737 37.5788C304.999 37.3288 304.363 37.1976 303.817 37.1976C303.338 37.1976 303.009 37.296 302.833 37.4804C302.657 37.6771 302.505 37.9313 302.378 38.255H301.66V27.9433Z" fill="#030303"/>
          <path d="M331.504 37.583H336.832V4.79118H331.504V4.11493H340.527C340.974 4.11493 341.425 4.11084 341.872 4.09444C342.319 4.07805 342.77 4.04936 343.217 4.01657C343.664 4.01657 344.107 4.01657 344.538 3.99608C344.973 3.98378 345.412 3.97559 345.859 3.97559C347.68 3.97559 349.369 4.1928 350.92 4.62314C352.47 5.05348 353.815 5.66825 354.951 6.46746C356.083 7.26256 356.973 8.2216 357.613 9.34458C358.253 10.4676 358.573 11.7094 358.573 13.0865C358.573 14.4636 358.204 15.8038 357.47 16.9267C356.735 18.0415 355.759 18.9842 354.545 19.7547C353.331 20.5211 351.912 21.1113 350.3 21.5252C348.684 21.9433 346.995 22.1523 345.239 22.1523C344.788 22.1523 344.214 22.1154 343.513 22.0334C342.807 21.9515 342.184 21.8654 341.642 21.767V37.5912H346.97V38.2675H331.52V37.5912L331.504 37.583ZM341.63 21.0949C342.27 21.2219 342.943 21.3121 343.648 21.3777C344.349 21.4433 344.977 21.4761 345.518 21.4761C347.885 21.4761 349.734 20.7793 351.059 19.3858C352.388 18.0046 353.052 15.9021 353.052 13.0865C353.052 11.4594 352.893 10.0987 352.573 9.00851C352.253 7.92651 351.748 7.05354 351.059 6.39368C350.374 5.74203 349.476 5.283 348.373 5.03299C347.27 4.77069 345.949 4.64774 344.415 4.64774C343.808 4.64774 343.258 4.66413 342.762 4.69692C342.266 4.7297 341.889 4.76249 341.634 4.79528V21.099L341.63 21.0949Z" fill="#030303"/>
          <path d="M362.738 37.5829H368.066V4.79099H362.738V4.11475H378.188V4.79099H372.86V37.5829H378.188V38.2591H362.738V37.5829Z" fill="#030303"/>
          <path d="M411.965 38.2592H411.247C411.026 37.9969 410.767 37.7674 410.48 37.5625C410.193 37.3576 409.746 37.2469 409.135 37.2469C408.655 37.2469 408.134 37.3412 407.577 37.5133C407.015 37.6936 406.379 37.8904 405.657 38.1117C404.935 38.333 404.127 38.5379 403.233 38.7101C402.339 38.8904 401.347 38.9765 400.26 38.9765C398.246 38.9765 396.286 38.6076 394.382 37.8699C392.479 37.1363 390.679 35.9354 388.985 34.2714C387.418 32.7099 386.106 30.8533 385.052 28.718C383.998 26.5745 383.469 24.0949 383.469 21.2793C383.469 18.8817 383.899 16.5947 384.765 14.4307C385.63 12.2544 386.832 10.3364 388.366 8.67648C389.904 7.0166 391.708 5.69689 393.788 4.71736C395.867 3.75012 398.139 3.2583 400.6 3.2583C401.593 3.2583 402.47 3.35666 403.237 3.5411C404.004 3.73782 404.693 3.95504 405.304 4.19275C405.907 4.43046 406.469 4.64358 406.982 4.83621C407.495 5.03294 407.991 5.1231 408.471 5.1231C409.11 5.1231 409.566 5.02064 409.836 4.81162C410.107 4.6067 410.353 4.37718 410.579 4.11488H411.297V13.7094H410.767C410.48 12.4881 410.111 11.2913 409.664 10.1109C409.217 8.93058 408.594 7.88547 407.794 6.96742C406.994 6.05756 405.981 5.32393 404.747 4.76244C403.516 4.20095 401.986 3.92225 400.165 3.92225C398.472 3.92225 397.016 4.18865 395.802 4.71326C394.583 5.24196 393.562 5.9428 392.73 6.82807C391.897 7.70924 391.233 8.72976 390.736 9.89782C390.24 11.0618 389.863 12.2954 389.609 13.5905C389.354 14.8816 389.182 16.1931 389.104 17.521C389.026 18.8448 388.985 20.103 388.985 21.2793C388.985 24.64 389.256 27.4229 389.801 29.6197C390.343 31.8287 391.105 33.5747 392.078 34.8452C393.054 36.1239 394.227 37.0215 395.605 37.5338C396.979 38.0461 398.5 38.2961 400.161 38.2961C402.306 38.2961 404.033 37.9928 405.345 37.3863C406.658 36.7838 407.712 35.9887 408.512 35.0132C409.311 34.0378 409.918 32.9394 410.337 31.7099C410.751 30.4803 411.12 29.2549 411.44 28.0417H411.965V38.2592Z" fill="#030303"/>
          <path d="M415.852 37.5829H421.179V4.79099H415.852V4.11475H443.298V12.4141H442.773C442.355 11.16 441.908 10.0739 441.428 9.12717C440.948 8.18863 440.374 7.38533 439.701 6.72957C439.032 6.07791 438.229 5.5861 437.302 5.27051C436.371 4.95083 435.255 4.79099 433.943 4.79099H425.978V19.6029H429.099C430.153 19.6029 431.051 19.5045 431.785 19.3201C432.52 19.1233 433.151 18.7627 433.68 18.2422C434.209 17.7094 434.656 16.988 435.025 16.0823C435.39 15.1724 435.751 13.9962 436.104 12.5576H436.629V27.4678H436.104C435.878 26.5416 435.645 25.6481 435.407 24.7874C435.169 23.9227 434.833 23.1521 434.402 22.48C433.967 21.816 433.393 21.275 432.675 20.8775C431.953 20.4758 431.018 20.2791 429.866 20.2791H425.982V37.5829H435.05C436.81 37.5829 438.274 37.214 439.443 36.4599C440.607 35.7099 441.559 34.8082 442.297 33.7713C443.031 32.7385 443.577 31.6565 443.93 30.5376C444.282 29.4187 444.508 28.4883 444.602 27.7547H445.127V38.2591H415.86V37.5829H415.852Z" fill="#030303"/>
          <path d="M299.645 95.1173H304.972V62.3254H299.645V61.6492H315.094V62.3254H309.767V95.1173H315.094V95.7935H299.645V95.1173Z" fill="#030303"/>
          <path d="M318.02 95.1172H321.715V61.8909H318.02V61.2229H325.841V95.1213H329.532V95.7976H318.02V95.1213V95.1172Z" fill="#030303"/>
          <path d="M332.993 92.6746C332.993 91.8099 333.153 91.068 333.473 90.4492C333.793 89.8303 334.182 89.2852 334.646 88.8139C335.109 88.3549 335.609 87.9737 336.134 87.6909C336.663 87.3958 337.135 87.1581 337.549 86.9737C335.696 85.6868 334.765 83.9695 334.765 81.7891C334.765 80.6743 335.035 79.6661 335.581 78.7726C336.122 77.8792 336.811 77.1169 337.644 76.498C338.476 75.8709 339.395 75.3996 340.404 75.084C341.409 74.7643 342.377 74.6045 343.304 74.6045C344.743 74.6045 345.982 74.8873 347.024 75.4652C348.061 76.0431 348.82 76.5636 349.3 77.0431C349.653 76.4447 350.173 75.8791 350.862 75.3668C351.547 74.8545 352.405 74.6045 353.43 74.6045C354.066 74.6045 354.66 74.7356 355.202 75.0061C355.747 75.2766 356.018 75.8668 356.018 76.7603C356.018 77.3382 355.833 77.7685 355.464 78.0554C355.095 78.3382 354.722 78.4857 354.336 78.4857C353.889 78.4857 353.569 78.3587 353.377 78.1005C353.184 77.8505 353.016 77.5759 352.872 77.289C352.729 77.0021 352.577 76.7275 352.417 76.4734C352.257 76.2193 352.015 76.0881 351.699 76.0881C351.383 76.0881 351.051 76.2316 350.715 76.5021C350.378 76.7726 350.083 77.08 349.825 77.4324C350.112 77.7521 350.477 78.2972 350.928 79.0595C351.375 79.8341 351.601 80.7932 351.601 81.9408C351.601 82.8998 351.359 83.7769 350.879 84.5761C350.399 85.3753 349.767 86.0802 348.984 86.6827C348.201 87.2934 347.286 87.7606 346.248 88.0967C345.207 88.4327 344.144 88.5967 343.058 88.5967C341.971 88.5967 340.962 88.4491 340.133 88.1458C339.301 87.8467 338.661 87.5802 338.214 87.3548C337.861 87.5188 337.488 87.6909 337.09 87.8794C336.688 88.0762 336.323 88.3139 335.983 88.5967C335.646 88.8918 335.367 89.2278 335.142 89.6295C334.916 90.0311 334.806 90.4861 334.806 90.9943C334.806 91.4738 334.9 91.8713 335.093 92.191C335.285 92.5107 335.532 92.7525 335.835 92.9083C336.139 93.0681 336.479 93.1788 336.864 93.2443C337.25 93.3058 337.648 93.3386 338.066 93.3386H345.645C347.885 93.3386 349.669 93.8796 350.994 94.9493C352.322 96.0149 352.987 97.7035 352.987 100.003C352.987 101.408 352.683 102.691 352.076 103.835C351.465 104.991 350.661 105.991 349.653 106.835C348.648 107.679 347.487 108.339 346.175 108.802C344.862 109.265 343.517 109.499 342.143 109.499C340.896 109.499 339.752 109.355 338.714 109.064C337.677 108.782 336.77 108.388 336.003 107.892C335.236 107.396 334.637 106.798 334.207 106.089C333.772 105.392 333.559 104.609 333.559 103.741C333.559 102.872 333.727 102.15 334.063 101.466C334.4 100.773 334.83 100.171 335.359 99.642C335.884 99.1174 336.483 98.6625 337.156 98.2814C337.824 97.8961 338.501 97.5723 339.174 97.3223V97.2239C337.061 97.2239 335.503 96.8756 334.494 96.1911C333.485 95.5067 332.98 94.3304 332.98 92.6665L332.993 92.6746ZM340.187 97.2321C339.772 97.4822 339.346 97.7486 338.915 98.0231C338.48 98.2895 338.099 98.6379 337.763 99.0519C337.426 99.4658 337.156 99.9576 336.946 100.515C336.737 101.077 336.635 101.769 336.635 102.601C336.635 103.749 336.832 104.704 337.234 105.454C337.636 106.204 338.148 106.81 338.772 107.273C339.395 107.741 340.092 108.069 340.859 108.257C341.626 108.45 342.377 108.544 343.115 108.544C344.263 108.544 345.313 108.368 346.257 108.015C347.2 107.663 348.016 107.191 348.705 106.601C349.39 106.007 349.919 105.331 350.288 104.564C350.657 103.798 350.842 102.995 350.842 102.163C350.842 100.376 350.354 99.101 349.378 98.351C348.402 97.601 347.065 97.228 345.371 97.228H340.187V97.2321ZM347.963 81.6457C347.963 80.912 347.918 80.1661 347.819 79.412C347.725 78.662 347.524 77.9734 347.22 77.3546C346.917 76.7357 346.453 76.2275 345.83 75.8422C345.207 75.4611 344.366 75.2684 343.312 75.2684C341.679 75.2684 340.449 75.7644 339.616 76.7562C338.784 77.748 338.37 79.3792 338.37 81.6457C338.37 82.6047 338.443 83.4654 338.583 84.2359C338.726 84.9982 338.993 85.6622 339.374 86.2237C339.76 86.7851 340.273 87.2073 340.912 87.4942C341.548 87.7811 342.368 87.9286 343.361 87.9286C345.022 87.9286 346.207 87.404 346.913 86.3712C347.614 85.3261 347.967 83.7564 347.967 81.6457H347.963Z" fill="#030303"/>
          <path d="M356.594 75.2232H360.289V69.0386C360.544 69.137 360.786 69.2149 361.007 69.2763C361.228 69.3419 361.614 69.3747 362.16 69.3747C362.639 69.3747 363.058 69.3214 363.406 69.2067C363.759 69.0919 364.091 68.9116 364.415 68.6575V75.2232H371.228V75.8995H364.415V91.572C364.415 92.4696 364.501 93.195 364.678 93.7606C364.854 94.318 365.084 94.7524 365.371 95.0516C365.658 95.3549 365.97 95.5598 366.306 95.65C366.642 95.7443 366.97 95.7975 367.29 95.7975C368.41 95.7975 369.316 95.3836 370.001 94.5721C370.69 93.7606 371.129 92.8261 371.322 91.7687L371.99 92.0065C371.896 92.4204 371.753 92.8876 371.56 93.3958C371.367 93.9081 371.072 94.3959 370.67 94.859C370.268 95.3221 369.747 95.7074 369.111 96.0066C368.471 96.3098 367.672 96.4656 366.712 96.4656C364.313 96.4656 362.643 96.0025 361.7 95.0762C360.753 94.1458 360.285 92.8343 360.285 91.1458V75.8995H356.59V75.2232H356.594Z" fill="#030303"/>
          <path d="M374.449 89.0802H374.979C375.2 89.8466 375.491 90.6212 375.844 91.404C376.197 92.1868 376.668 92.9082 377.259 93.5598C377.849 94.2115 378.579 94.7525 379.445 95.1664C380.31 95.5845 381.348 95.7935 382.562 95.7935C383.587 95.7935 384.498 95.4779 385.298 94.8549C386.097 94.2361 386.495 93.2155 386.495 91.8057C386.495 90.5966 386.183 89.7359 385.56 89.2482C384.937 88.7482 384.207 88.3548 383.378 88.072L379.634 86.7768C379.154 86.617 378.633 86.4162 378.075 86.1785C377.513 85.9408 376.992 85.6006 376.512 85.1702C376.033 84.7399 375.639 84.1866 375.339 83.5186C375.036 82.8423 374.884 81.9816 374.884 80.9283C374.884 80.0349 375.061 79.2029 375.409 78.4324C375.762 77.6659 376.242 76.9938 376.849 76.4159C377.456 75.838 378.186 75.3913 379.031 75.0757C379.88 74.756 380.794 74.5962 381.791 74.5962C382.492 74.5962 383.062 74.6495 383.493 74.7601C383.924 74.8749 384.301 74.9896 384.617 75.0962C384.937 75.211 385.224 75.3257 385.482 75.4323C385.736 75.5429 386.044 75.5962 386.397 75.5962C386.749 75.5962 387.004 75.4692 387.164 75.2151H387.693V80.6824H387.164C386.942 79.9816 386.684 79.3012 386.397 78.6455C386.11 77.9897 385.765 77.4036 385.363 76.8913C384.965 76.379 384.469 75.9815 383.878 75.6946C383.284 75.4118 382.591 75.2642 381.791 75.2642C380.253 75.2642 379.059 75.6085 378.214 76.293C377.365 76.9774 376.943 77.8996 376.943 79.0471C376.943 80.0717 377.304 80.8423 378.022 81.3792C378.739 81.9038 379.802 82.3915 381.213 82.8382L384.715 83.994C386.216 84.5063 387.447 85.203 388.41 86.1006C389.37 86.9982 389.85 88.1744 389.85 89.6458C389.85 90.5105 389.682 91.3548 389.346 92.1868C389.009 93.0188 388.513 93.7483 387.857 94.3713C387.201 94.9902 386.401 95.4943 385.457 95.8795C384.51 96.2648 383.431 96.4574 382.217 96.4574C381.516 96.4574 380.864 96.3878 380.273 96.2402C379.679 96.0927 379.137 95.9451 378.641 95.7894C378.145 95.6254 377.69 95.4738 377.275 95.3304C376.857 95.1869 376.476 95.1131 376.127 95.1131C375.778 95.1131 375.516 95.191 375.36 95.3304C375.2 95.4738 375.073 95.6254 374.974 95.7894H374.445V89.0761L374.449 89.0802Z" fill="#030303"/>
          <path d="M393.543 108.548H397.238V75.8996H393.543V75.2233H401.266V79.2521H401.364C401.844 77.9078 402.636 76.8012 403.739 75.92C404.842 75.0389 406.274 74.6003 408.033 74.6003C409.407 74.6003 410.703 74.8954 411.921 75.4815C413.135 76.0799 414.206 76.8586 415.137 77.834C416.064 78.8095 416.798 79.9529 417.343 81.2645C417.885 82.5719 418.159 83.9448 418.159 85.3875C418.159 86.8302 417.88 88.2564 417.319 89.5802C416.757 90.9082 415.998 92.0803 415.038 93.1049C414.079 94.1295 412.967 94.9451 411.704 95.5558C410.441 96.1583 409.108 96.4657 407.697 96.4657C406.61 96.4657 405.687 96.2812 404.937 95.9165C404.186 95.5476 403.571 95.1173 403.091 94.6214C402.611 94.1254 402.242 93.6131 401.988 93.0844C401.733 92.5557 401.557 92.1377 401.463 91.8098H401.368V108.548H405.06V109.216H393.547V108.548H393.543ZM413.361 84.8096C413.361 83.3383 413.283 82.0227 413.123 80.8505C412.963 79.6865 412.68 78.6906 412.282 77.8545C411.88 77.0266 411.322 76.3832 410.601 75.9364C409.883 75.4897 408.964 75.2684 407.844 75.2684C406.659 75.2684 405.683 75.4733 404.92 75.8955C404.153 76.3094 403.53 76.834 403.05 77.4734C402.697 77.9201 402.418 78.3996 402.209 78.9119C402 79.4242 401.832 80.0349 401.705 80.7316C401.578 81.4407 401.491 82.244 401.442 83.162C401.393 84.0678 401.372 85.1498 401.372 86.3957C401.372 87.4531 401.45 88.5351 401.61 89.654C401.77 90.777 402.074 91.7893 402.521 92.7033C402.968 93.6131 403.6 94.3591 404.416 94.9287C405.232 95.5025 406.311 95.7935 407.652 95.7935C408.993 95.7935 410.002 95.5312 410.773 95.0189C411.54 94.5107 412.118 93.7771 412.499 92.818C412.885 91.859 413.123 90.6991 413.217 89.3384C413.312 87.9818 413.361 86.4695 413.361 84.8096Z" fill="#030303"/>
          <path d="M427.656 83.8997C427.656 84.2153 427.648 84.5432 427.632 84.8792C427.615 85.2153 427.607 85.6415 427.607 86.1539C427.607 87.2113 427.673 88.3096 427.8 89.4572C427.927 90.6048 428.21 91.6499 428.641 92.5762C429.075 93.5024 429.711 94.2688 430.56 94.8754C431.409 95.4861 432.537 95.7894 433.944 95.7894C435.351 95.7894 436.511 95.5844 437.422 95.1623C438.332 94.7483 439.05 94.2401 439.579 93.654C440.108 93.0598 440.502 92.4614 440.756 91.8589C441.01 91.2483 441.203 90.7523 441.33 90.3671L442.048 90.5146C441.954 90.8671 441.769 91.3712 441.498 92.0229C441.228 92.6745 440.793 93.3344 440.202 93.9942C439.612 94.6459 438.812 95.2238 437.803 95.7156C436.794 96.2115 435.49 96.4615 433.89 96.4615C432.291 96.4615 430.81 96.2074 429.453 95.6951C428.095 95.1828 426.918 94.4492 425.926 93.4901C424.933 92.5311 424.166 91.3876 423.625 90.0638C423.079 88.7359 422.809 87.2522 422.809 85.6251C422.809 84.2153 423.087 82.8546 423.649 81.5267C424.207 80.1988 424.978 79.0266 425.95 78.002C426.926 76.9774 428.071 76.1577 429.379 75.5347C430.691 74.9077 432.098 74.5962 433.603 74.5962C434.497 74.5962 435.457 74.756 436.483 75.0757C437.508 75.3913 438.459 75.9159 439.337 76.6331C440.219 77.3503 440.953 78.3012 441.544 79.4856C442.134 80.666 442.434 82.1374 442.434 83.8956H427.656V83.8997ZM426.647 65.4402H440.084V66.9279H426.647V65.4402ZM437.541 83.2275C437.602 82.7808 437.635 82.3669 437.635 81.9857V80.789C437.635 79.6988 437.532 78.8053 437.323 78.1004C437.118 77.4036 436.827 76.838 436.462 76.4241C436.093 76.0101 435.646 75.7151 435.117 75.5429C434.592 75.3626 434.022 75.2765 433.415 75.2765C432.328 75.2765 431.43 75.4896 430.728 75.9241C430.027 76.3544 429.465 76.9364 429.051 77.67C428.633 78.4036 428.325 79.2561 428.112 80.2111C427.907 81.1701 427.767 82.1783 427.706 83.2275H437.541Z" fill="#030303"/>
          <path d="M445.988 75.2232H453.809V96.7525C453.809 98.2894 453.768 99.5518 453.686 100.564C453.608 101.564 453.502 102.392 453.375 103.031C453.247 103.667 453.104 104.175 452.944 104.54C452.784 104.908 452.624 105.253 452.46 105.572C452.079 106.335 451.636 106.978 451.139 107.49C450.643 108.003 450.13 108.404 449.605 108.712C449.076 109.015 448.539 109.224 447.998 109.339C447.452 109.454 446.956 109.507 446.509 109.507C445.996 109.507 445.434 109.421 444.827 109.245C444.224 109.064 443.654 108.798 443.125 108.45C442.6 108.101 442.149 107.642 441.78 107.085C441.411 106.523 441.23 105.88 441.23 105.142C441.23 104.404 441.435 103.802 441.854 103.421C442.268 103.035 442.781 102.843 443.388 102.843C443.962 102.843 444.397 102.994 444.684 103.302C444.971 103.601 445.114 104.011 445.114 104.523C445.114 104.904 445.057 105.273 444.946 105.622C444.836 105.974 444.778 106.421 444.778 106.966C444.778 107.601 444.983 108.077 445.402 108.38C445.816 108.679 446.283 108.831 446.792 108.831C447.723 108.831 448.432 108.462 448.929 107.708C449.425 106.958 449.671 105.749 449.671 104.085V75.8954H445.976V75.2191L445.988 75.2232ZM449.105 64.0467C449.105 63.35 449.351 62.7516 449.847 62.2516C450.344 61.7598 450.942 61.5098 451.644 61.5098C452.345 61.5098 452.948 61.7598 453.44 62.2516C453.936 62.7516 454.183 63.35 454.183 64.0467C454.183 64.7435 453.936 65.3541 453.44 65.85C452.944 66.346 452.345 66.5919 451.644 66.5919C450.942 66.5919 450.34 66.346 449.847 65.85C449.351 65.3541 449.105 64.7558 449.105 64.0467Z" fill="#030303"/>
          <path d="M458.797 65.4402H472.233V66.9279H458.797V65.4402ZM460.187 95.1172H463.883V75.8954H460.187V75.2191H468.009V95.1172H471.7V95.7935H460.187V95.1172Z" fill="#030303"/>
          <path d="M475.157 92.6746C475.157 91.8099 475.317 91.068 475.637 90.4492C475.957 89.8303 476.346 89.2852 476.81 88.8139C477.273 88.3549 477.773 87.9737 478.298 87.6909C478.828 87.3958 479.299 87.1581 479.713 86.9737C477.86 85.6868 476.929 83.9695 476.929 81.7891C476.929 80.6743 477.199 79.6661 477.745 78.7726C478.286 77.8792 478.975 77.1169 479.808 76.498C480.64 75.8709 481.559 75.3996 482.568 75.084C483.573 74.7643 484.541 74.6045 485.468 74.6045C486.907 74.6045 488.146 74.8873 489.188 75.4652C490.225 76.0431 490.984 76.5636 491.464 77.0431C491.817 76.4447 492.337 75.8791 493.026 75.3668C493.711 74.8545 494.569 74.6045 495.594 74.6045C496.23 74.6045 496.824 74.7356 497.366 75.0061C497.911 75.2766 498.182 75.8668 498.182 76.7603C498.182 77.3382 497.997 77.7685 497.628 78.0554C497.259 78.3382 496.886 78.4857 496.5 78.4857C496.053 78.4857 495.733 78.3587 495.541 78.1005C495.348 77.8505 495.18 77.5759 495.036 77.289C494.893 77.0021 494.741 76.7275 494.581 76.4734C494.421 76.2193 494.179 76.0881 493.863 76.0881C493.547 76.0881 493.215 76.2316 492.879 76.5021C492.543 76.7726 492.247 77.08 491.989 77.4324C492.276 77.7521 492.641 78.2972 493.092 79.0595C493.539 79.8341 493.765 80.7932 493.765 81.9408C493.765 82.8998 493.523 83.7769 493.043 84.5761C492.563 85.3753 491.931 86.0802 491.148 86.6827C490.365 87.2934 489.45 87.7606 488.412 88.0967C487.371 88.4327 486.308 88.5967 485.222 88.5967C484.135 88.5967 483.126 88.4491 482.297 88.1458C481.465 87.8467 480.825 87.5802 480.378 87.3548C480.025 87.5188 479.652 87.6909 479.254 87.8794C478.852 88.0762 478.487 88.3139 478.147 88.5967C477.81 88.8918 477.532 89.2278 477.306 89.6295C477.084 90.0311 476.97 90.4861 476.97 90.9943C476.97 91.4738 477.064 91.8713 477.257 92.191C477.45 92.5107 477.696 92.7525 477.999 92.9083C478.303 93.0681 478.643 93.1788 479.029 93.2443C479.414 93.3058 479.812 93.3386 480.23 93.3386H487.81C490.049 93.3386 491.833 93.8796 493.158 94.9493C494.487 96.0149 495.151 97.7035 495.151 100.003C495.151 101.408 494.848 102.691 494.241 103.835C493.629 104.991 492.826 105.991 491.817 106.835C490.812 107.679 489.651 108.339 488.339 108.802C487.026 109.265 485.681 109.499 484.307 109.499C483.06 109.499 481.916 109.355 480.878 109.064C479.841 108.782 478.934 108.388 478.167 107.892C477.4 107.396 476.801 106.798 476.371 106.089C475.936 105.392 475.723 104.609 475.723 103.741C475.723 102.872 475.891 102.15 476.227 101.466C476.564 100.773 476.994 100.171 477.523 99.642C478.048 99.1174 478.647 98.6625 479.32 98.2814C479.988 97.8961 480.665 97.5723 481.338 97.3223V97.2239C479.225 97.2239 477.667 96.8756 476.658 96.1911C475.649 95.5067 475.145 94.3304 475.145 92.6665L475.157 92.6746ZM482.351 97.2321C481.936 97.4822 481.51 97.7486 481.079 98.0231C480.644 98.2895 480.263 98.6379 479.927 99.0519C479.59 99.4658 479.32 99.9576 479.111 100.515C478.901 101.077 478.799 101.769 478.799 102.601C478.799 103.749 478.996 104.704 479.398 105.454C479.8 106.204 480.312 106.81 480.936 107.273C481.559 107.741 482.256 108.069 483.023 108.257C483.79 108.45 484.541 108.544 485.279 108.544C486.427 108.544 487.477 108.368 488.421 108.015C489.364 107.663 490.18 107.191 490.869 106.601C491.558 106.011 492.083 105.331 492.452 104.564C492.821 103.798 493.006 102.995 493.006 102.163C493.006 100.376 492.518 99.101 491.542 98.351C490.566 97.601 489.229 97.228 487.535 97.228H482.351V97.2321ZM490.127 81.6457C490.127 80.912 490.082 80.1661 489.983 79.412C489.889 78.662 489.688 77.9734 489.384 77.3546C489.081 76.7357 488.617 76.2275 487.994 75.8422C487.371 75.4611 486.53 75.2684 485.476 75.2684C483.843 75.2684 482.613 75.7644 481.781 76.7562C480.948 77.748 480.534 79.3792 480.534 81.6457C480.534 82.6047 480.608 83.4654 480.747 84.2359C480.891 84.9982 481.157 85.6622 481.539 86.2237C481.924 86.7851 482.437 87.2073 483.077 87.4942C483.712 87.7811 484.533 87.9286 485.525 87.9286C487.186 87.9286 488.371 87.404 489.077 86.3712C489.778 85.3261 490.131 83.7564 490.131 81.6457H490.127Z" fill="#030303"/>
          <path d="M500.633 89.0802H501.162C501.384 89.8466 501.675 90.6212 502.027 91.404C502.38 92.1868 502.852 92.9082 503.442 93.5598C504.033 94.2115 504.763 94.7525 505.628 95.1664C506.494 95.5845 507.532 95.7935 508.746 95.7935C509.771 95.7935 510.681 95.4779 511.481 94.8549C512.281 94.2361 512.679 93.2155 512.679 91.8057C512.679 90.5966 512.367 89.7359 511.744 89.2482C511.12 88.7482 510.39 88.3548 509.562 88.072L505.817 86.7768C505.337 86.617 504.816 86.4162 504.259 86.1785C503.697 85.9408 503.176 85.6006 502.696 85.1702C502.216 84.7399 501.822 84.1866 501.523 83.5186C501.219 82.8423 501.068 81.9816 501.068 80.9283C501.068 80.0349 501.244 79.2029 501.593 78.4324C501.945 77.6659 502.425 76.9938 503.032 76.4159C503.639 75.838 504.369 75.3913 505.214 75.0757C506.063 74.756 506.978 74.5962 507.974 74.5962C508.676 74.5962 509.246 74.6495 509.676 74.7601C510.107 74.8749 510.484 74.9896 510.8 75.0962C511.12 75.211 511.407 75.3257 511.666 75.4323C511.92 75.5429 512.228 75.5962 512.58 75.5962C512.933 75.5962 513.187 75.4692 513.347 75.2151H513.876V80.6824H513.347C513.126 79.9816 512.867 79.3012 512.58 78.6455C512.293 77.9938 511.949 77.4036 511.547 76.8913C511.149 76.379 510.653 75.9815 510.062 75.6946C509.467 75.4118 508.774 75.2642 507.974 75.2642C506.436 75.2642 505.243 75.6085 504.398 76.293C503.549 76.9774 503.127 77.8996 503.127 79.0471C503.127 80.0717 503.488 80.8423 504.205 81.3792C504.923 81.9038 505.985 82.3915 507.396 82.8382L510.899 83.994C512.4 84.5063 513.63 85.203 514.594 86.1006C515.554 86.9982 516.034 88.1744 516.034 89.6458C516.034 90.5105 515.865 91.3548 515.529 92.1868C515.193 93.0188 514.697 93.7483 514.04 94.3713C513.384 94.9902 512.584 95.4943 511.641 95.8795C510.694 96.2648 509.615 96.4574 508.401 96.4574C507.7 96.4574 507.048 96.3878 506.457 96.2402C505.862 96.0927 505.321 95.9451 504.825 95.7894C504.328 95.6254 503.873 95.4738 503.459 95.3304C503.041 95.1869 502.659 95.1131 502.31 95.1131C501.962 95.1131 501.699 95.191 501.544 95.3304C501.384 95.4738 501.256 95.6254 501.158 95.7894H500.629V89.0761L500.633 89.0802Z" fill="#030303"/>
          <path d="M301.52 132.758H316.727L304.78 152.656H311.543C312.474 152.656 313.233 152.471 313.824 152.106C314.414 151.742 314.894 151.274 315.263 150.717C315.632 150.156 315.92 149.557 316.129 148.922C316.334 148.278 316.539 147.668 316.727 147.098H317.113L316.49 153.332H299.793L311.74 133.434H307.614C306.815 133.434 306.117 133.454 305.527 133.499C304.936 133.553 304.403 133.717 303.919 134.008C303.439 134.294 302.992 134.758 302.574 135.397C302.159 136.04 301.708 136.95 301.228 138.131H300.843L301.516 132.762L301.52 132.758Z" fill="#030303"/>
          <path d="M318.453 122.979H331.889V124.467H318.453V122.979ZM319.848 152.656H323.543V133.434H319.848V132.758H327.669V152.656H331.36V153.332H319.848V152.656Z" fill="#030303"/>
          <path d="M333.66 152.656H337.356V133.434H333.66V132.758H341.383V137.79H341.482C342.15 135.872 343.118 134.471 344.381 133.577C345.645 132.684 347.17 132.237 348.963 132.237C350.562 132.237 351.977 132.585 353.207 133.286C354.438 133.987 355.25 135.155 355.631 136.786H355.726C355.947 136.208 356.255 135.655 356.636 135.11C357.022 134.565 357.502 134.077 358.076 133.647C358.65 133.217 359.331 132.872 360.114 132.618C360.897 132.364 361.783 132.237 362.78 132.237C367.447 132.237 369.785 134.61 369.785 139.377V152.66H373.48V153.336H361.964V152.66H365.659V136.356C365.659 135.274 365.364 134.43 364.769 133.819C364.179 133.208 363.371 132.905 362.345 132.905C361.546 132.905 360.746 133.057 359.946 133.364C359.146 133.667 358.424 134.126 357.785 134.729C357.145 135.331 356.624 136.118 356.226 137.077C355.824 138.036 355.627 139.159 355.627 140.438V152.664H359.323V153.34H347.806V152.664H351.501V137.036C351.501 135.631 351.214 134.585 350.636 133.922C350.062 133.245 349.291 132.909 348.335 132.909C347.662 132.909 346.928 133.085 346.128 133.417C345.329 133.749 344.582 134.282 343.897 135.004C343.208 135.721 342.634 136.659 342.171 137.803C341.707 138.959 341.478 140.36 341.478 142.028V152.668H345.173V153.344H333.656V152.668L333.66 152.656Z" fill="#030303"/>
          <path d="M376.609 143.065C376.609 141.504 376.954 140.045 377.643 138.704C378.328 137.364 379.21 136.2 380.284 135.229C381.355 134.249 382.552 133.491 383.881 132.954C385.21 132.409 386.514 132.139 387.794 132.139C389.073 132.139 390.378 132.409 391.702 132.954C393.031 133.495 394.229 134.249 395.303 135.229C396.374 136.196 397.256 137.364 397.941 138.704C398.625 140.045 398.974 141.504 398.974 143.065C398.974 144.627 398.654 145.983 398.014 147.307C397.375 148.635 396.534 149.795 395.496 150.787C394.454 151.779 393.265 152.557 391.92 153.135C390.575 153.713 389.201 154 387.794 154C386.387 154 385.009 153.713 383.668 153.135C382.323 152.557 381.133 151.779 380.091 150.787C379.054 149.795 378.213 148.635 377.573 147.307C376.933 145.983 376.609 144.569 376.609 143.065ZM381.404 143.065C381.404 145.336 381.58 147.143 381.933 148.483C382.286 149.824 382.749 150.856 383.323 151.578C383.897 152.295 384.57 152.77 385.337 152.992C386.104 153.213 386.924 153.328 387.786 153.328C388.647 153.328 389.463 153.213 390.234 152.992C391.001 152.77 391.674 152.295 392.248 151.578C392.826 150.86 393.29 149.824 393.638 148.483C393.987 147.143 394.167 145.336 394.167 143.065C394.167 141.147 394.04 139.541 393.782 138.245C393.527 136.95 393.134 135.897 392.605 135.081C392.08 134.27 391.415 133.684 390.616 133.335C389.816 132.987 388.872 132.807 387.786 132.807C386.699 132.807 385.751 132.987 384.956 133.335C384.156 133.684 383.491 134.274 382.962 135.081C382.433 135.897 382.04 136.95 381.785 138.245C381.531 139.541 381.4 141.147 381.4 143.065H381.404Z" fill="#030303"/>
          <path d="M402.469 152.656H406.164V119.429H402.469V118.761H410.29V152.66H413.981V153.336H402.469V152.66V152.656Z" fill="#030303"/>
          <path d="M418.008 146.615H418.537C418.759 147.381 419.05 148.156 419.402 148.938C419.755 149.721 420.227 150.443 420.817 151.094C421.408 151.746 422.138 152.287 423.003 152.701C423.869 153.119 424.906 153.328 426.12 153.328C427.146 153.328 428.056 153.012 428.856 152.389C429.656 151.77 430.054 150.75 430.054 149.34C430.054 148.131 429.742 147.27 429.119 146.783C428.495 146.283 427.765 145.889 426.937 145.606L423.192 144.311C422.712 144.151 422.191 143.951 421.634 143.713C421.072 143.475 420.551 143.135 420.071 142.705C419.591 142.274 419.197 141.721 418.898 141.053C418.594 140.377 418.443 139.516 418.443 138.463C418.443 137.569 418.619 136.737 418.968 135.967C419.316 135.196 419.8 134.528 420.407 133.95C421.014 133.372 421.744 132.926 422.589 132.61C423.438 132.29 424.353 132.131 425.349 132.131C426.051 132.131 426.621 132.184 427.052 132.295C427.482 132.409 427.859 132.524 428.175 132.631C428.495 132.745 428.782 132.86 429.041 132.967C429.295 133.077 429.603 133.131 429.955 133.131C430.308 133.131 430.562 133.004 430.722 132.749H431.251V138.217H430.722C430.501 137.516 430.242 136.836 429.955 136.18C429.668 135.524 429.324 134.938 428.922 134.426C428.524 133.913 428.028 133.516 427.437 133.229C426.842 132.946 426.149 132.799 425.349 132.799C423.811 132.799 422.618 133.143 421.773 133.827C420.924 134.512 420.502 135.434 420.502 136.582C420.502 137.606 420.863 138.377 421.58 138.914C422.298 139.438 423.36 139.926 424.771 140.373L428.274 141.528C429.775 142.041 431.005 142.737 431.969 143.635C432.929 144.533 433.409 145.709 433.409 147.18C433.409 148.045 433.24 148.889 432.904 149.721C432.568 150.553 432.072 151.283 431.415 151.906C430.759 152.525 429.959 153.029 429.016 153.414C428.069 153.799 426.99 153.992 425.776 153.992C425.075 153.992 424.423 153.922 423.832 153.775C423.237 153.627 422.696 153.48 422.2 153.324C421.703 153.16 421.248 153.008 420.834 152.865C420.415 152.721 420.034 152.648 419.685 152.648C419.337 152.648 419.074 152.725 418.919 152.865C418.759 153.008 418.631 153.16 418.533 153.324H418.004V146.611L418.008 146.615Z" fill="#030303"/>
          <path d="M452.366 152.197C453.133 151.93 453.982 151.561 454.909 151.098C455.836 150.635 456.787 150.098 457.763 149.492C458.739 148.889 459.642 148.201 460.474 147.426C461.914 146.086 462.976 144.627 463.665 143.041C464.35 141.455 464.695 139.832 464.695 138.172C464.695 136.512 464.28 135.118 463.448 134.192C462.615 133.266 461.434 132.803 459.896 132.803C458.358 132.803 457.185 133.09 456.369 133.668C455.553 134.241 455.147 134.991 455.147 135.922C455.147 136.495 455.241 137.012 455.434 137.479C455.626 137.938 455.721 138.385 455.721 138.799C455.721 139.18 455.544 139.524 455.192 139.828C454.839 140.127 454.31 140.278 453.609 140.278C452.842 140.278 452.288 140.098 451.956 139.733C451.619 139.364 451.451 138.873 451.451 138.262C451.451 137.532 451.603 136.803 451.907 136.086C452.21 135.368 452.698 134.713 453.371 134.118C454.043 133.524 454.933 133.045 456.037 132.68C457.14 132.315 458.477 132.131 460.044 132.131C461.738 132.131 463.169 132.315 464.338 132.68C465.507 133.045 466.466 133.536 467.217 134.143C467.968 134.745 468.513 135.434 468.849 136.2C469.186 136.967 469.35 137.77 469.35 138.598C469.35 139.688 469.071 140.741 468.509 141.766C467.951 142.791 467.205 143.758 466.278 144.684C465.351 145.615 464.301 146.488 463.136 147.299C461.967 148.115 460.778 148.856 459.56 149.533C458.346 150.201 457.169 150.795 456.033 151.307C454.896 151.82 453.896 152.234 453.034 152.549L453.129 152.648H462.004C463.124 152.648 464.092 152.594 464.908 152.484C465.724 152.369 466.409 152.148 466.971 151.807C467.529 151.471 467.984 151 468.337 150.393C468.689 149.791 468.96 149.004 469.153 148.045H469.633V153.32H450.586V152.742C451 152.643 451.595 152.459 452.358 152.184L452.366 152.197Z" fill="#030303"/>
          <path d="M475.4 138.725C476.068 137.401 476.933 136.254 477.992 135.274C479.046 134.307 480.235 133.532 481.568 132.975C482.897 132.413 484.213 132.135 485.526 132.135C486.838 132.135 488.155 132.413 489.484 132.975C490.812 133.532 492.002 134.303 493.06 135.274C494.118 136.254 494.979 137.401 495.652 138.725C496.325 140.053 496.661 141.504 496.661 143.065C496.661 144.541 496.349 145.926 495.726 147.242C495.103 148.549 494.27 149.705 493.228 150.689C492.186 151.68 491.005 152.467 489.676 153.062C488.348 153.656 486.965 153.951 485.526 153.951C484.086 153.951 482.7 153.656 481.375 153.062C480.046 152.467 478.865 151.68 477.823 150.689C476.786 149.705 475.953 148.549 475.326 147.242C474.706 145.922 474.391 144.541 474.391 143.065C474.391 141.504 474.727 140.053 475.4 138.725ZM479.599 148.385C479.968 149.729 480.448 150.771 481.039 151.504C481.63 152.238 482.319 152.73 483.102 152.967C483.885 153.205 484.693 153.328 485.526 153.328C486.358 153.328 487.162 153.209 487.95 152.967C488.733 152.73 489.422 152.238 490.013 151.504C490.603 150.771 491.083 149.729 491.452 148.385C491.821 147.045 492.006 145.27 492.006 143.065C492.006 140.86 491.821 139.086 491.452 137.746C491.083 136.405 490.603 135.36 490.013 134.631C489.422 133.889 488.733 133.405 487.95 133.168C487.166 132.93 486.358 132.807 485.526 132.807C484.693 132.807 483.885 132.926 483.102 133.168C482.319 133.405 481.63 133.893 481.039 134.631C480.448 135.36 479.968 136.405 479.599 137.746C479.23 139.086 479.046 140.86 479.046 143.065C479.046 145.27 479.23 147.045 479.599 148.385Z" fill="#030303"/>
          <path d="M502.12 152.197C502.887 151.93 503.736 151.561 504.663 151.098C505.59 150.635 506.541 150.098 507.517 149.492C508.493 148.889 509.396 148.201 510.228 147.426C511.668 146.086 512.73 144.627 513.419 143.041C514.104 141.455 514.449 139.832 514.449 138.172C514.449 136.512 514.034 135.118 513.202 134.192C512.369 133.266 511.188 132.803 509.65 132.803C508.112 132.803 506.939 133.09 506.123 133.668C505.307 134.241 504.901 134.991 504.901 135.922C504.901 136.495 504.995 137.012 505.188 137.479C505.38 137.938 505.475 138.385 505.475 138.799C505.475 139.18 505.298 139.524 504.946 139.828C504.593 140.127 504.064 140.278 503.363 140.278C502.596 140.278 502.042 140.098 501.71 139.733C501.373 139.364 501.205 138.873 501.205 138.262C501.205 137.532 501.357 136.803 501.661 136.086C501.964 135.368 502.452 134.713 503.125 134.118C503.797 133.524 504.687 133.045 505.791 132.68C506.894 132.315 508.231 132.131 509.798 132.131C511.491 132.131 512.923 132.315 514.092 132.68C515.261 133.045 516.22 133.536 516.971 134.143C517.721 134.745 518.267 135.434 518.603 136.2C518.94 136.967 519.104 137.77 519.104 138.598C519.104 139.688 518.825 140.741 518.263 141.766C517.705 142.791 516.959 143.758 516.032 144.684C515.105 145.615 514.055 146.488 512.89 147.299C511.721 148.115 510.532 148.856 509.314 149.533C508.1 150.201 506.923 150.795 505.786 151.307C504.65 151.82 503.65 152.234 502.788 152.549L502.883 152.648H511.758C512.878 152.648 513.846 152.594 514.662 152.484C515.478 152.369 516.163 152.148 516.725 151.807C517.283 151.471 517.738 151 518.091 150.393C518.443 149.791 518.714 149.004 518.907 148.045H519.387V153.32H500.34V152.742C500.754 152.643 501.349 152.459 502.112 152.184L502.12 152.197Z" fill="#030303"/>
          <path d="M528.313 118.47C528.826 119.016 529.347 119.528 529.872 120.007C530.401 120.487 530.967 120.913 531.578 121.282C532.181 121.647 532.85 121.934 533.567 122.143C534.289 122.348 535.097 122.454 535.991 122.454C536.598 122.454 537.156 122.401 537.669 122.286C538.181 122.175 538.686 121.971 539.182 121.667C539.678 121.364 540.191 120.954 540.716 120.446C541.245 119.934 541.827 119.274 542.467 118.475L542.996 118.811C542.131 119.991 541.348 121.032 540.646 121.925C539.945 122.819 539.256 123.581 538.583 124.2C537.911 124.827 537.201 125.299 536.446 125.614C535.696 125.934 534.839 126.094 533.879 126.094C532.821 126.094 531.742 125.901 530.639 125.516C529.536 125.135 528.313 124.622 526.968 123.987L525.192 135.352L525.291 135.446C526.025 134.397 527.001 133.577 528.215 133C529.429 132.422 530.901 132.139 532.628 132.139C534.355 132.139 535.762 132.434 537.041 133.02C538.321 133.618 539.399 134.393 540.281 135.352C541.163 136.311 541.823 137.405 542.274 138.635C542.722 139.864 542.943 141.119 542.943 142.397C542.943 143.324 542.746 144.451 542.344 145.774C541.942 147.102 541.282 148.377 540.351 149.586C539.424 150.807 538.222 151.836 536.754 152.68C535.282 153.529 533.457 153.955 531.283 153.955C529.716 153.955 528.42 153.75 527.399 153.336C526.374 152.922 525.566 152.414 524.975 151.824C524.384 151.238 523.966 150.627 523.728 150.004C523.49 149.377 523.367 148.861 523.367 148.447C523.367 147.705 523.613 147.188 524.11 146.885C524.606 146.586 525.172 146.434 525.812 146.434C526.484 146.434 527.017 146.594 527.419 146.914C527.821 147.229 528.018 147.709 528.018 148.352C528.018 148.574 528.01 148.832 527.998 149.115C527.981 149.41 527.973 149.648 527.973 149.832C527.973 150.541 528.076 151.123 528.285 151.586C528.494 152.053 528.773 152.414 529.126 152.664C529.478 152.926 529.892 153.098 530.372 153.193C530.852 153.287 531.365 153.34 531.91 153.34C532.964 153.34 533.887 153.164 534.666 152.807C535.45 152.459 536.114 151.844 536.66 150.967C537.205 150.086 537.611 148.885 537.882 147.373C538.153 145.848 538.292 143.942 538.292 141.639C538.292 140.295 538.206 139.086 538.03 137.996C537.853 136.905 537.533 135.979 537.07 135.213C536.606 134.446 535.991 133.856 535.224 133.442C534.457 133.024 533.498 132.815 532.345 132.815C530.971 132.815 529.81 133.028 528.867 133.463C527.92 133.893 527.153 134.405 526.562 135C525.972 135.586 525.525 136.209 525.217 136.868C524.913 137.528 524.696 138.094 524.573 138.573L523.995 138.426L527.067 118.479H528.313V118.47Z" fill="#030303"/>
          <path d="M31.5439 0C98.6857 0 153.109 54.7382 153.109 122.268V146.863C135.694 134.151 75.5554 88.0092 45.3224 35.8694C44.632 34.6883 43.1375 34.2803 41.9489 34.9317C40.7533 35.5974 40.3049 37.1006 40.9312 38.3103C67.7125 90.128 122.193 137.722 142.014 154H121.567C54.425 154 0.00134277 99.2618 0.00134277 31.732V0.0071542H31.5439V0Z" fill="#EACEBF"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>
