<script setup>
import _chunk from "lodash/chunk";

const localePath = useLocalePath()
const dataStore  = useDataStore();

const sliderRowsContainer = ref(null);
const timeline = ref(null);

const list = computed(() => {
  const shops = dataStore?.shops;

  if (shops && shops.length) {
    const shopsData = shops
      .filter((s) => s.is_sustainable_brand)
      .sort((a, b) => a.slug.localeCompare(b.slug));

    return _chunk( shopsData, 6 );
  }

  return [];
})

const mobileList = computed(() => {
  const shops = dataStore?.shops;

  if (shops && shops.length) {
    const shopsData = shops
      .filter((s) => s.is_sustainable_brand)
      .sort((a, b) => a.slug.localeCompare(b.slug));

    return shopsData
  }

  return [];
})

const mobileSliderDuration = computed(() => {
  return mobileList.value?.length * 4
})

const logo = (shop) => {
  if (shop?.main_logo) {
    return shop?.main_logo?.path;
  }

  return `${shop?.image}`;
}

onMounted(() => {
  timeline.value = gsap.utils.toArray(".slider-rows .slider-group").forEach((group, index) => {
    gsap.to(group, {
      scrollTrigger: {
        trigger: sliderRowsContainer.value,
        // end: '-=10%',
        end: '80px',
        scrub: 2
      },
      transform: "translate(0, 0)",
      ease: "power1.out",
    });
  });
});

onUnmounted(() => {
  timeline.value?.kill();
})

</script>

<template>
  <div  class="shop-slider flex flex-col">
    <div class="container">
      <div class="w-full flex justify-center text-center">
        <div class="lg:w-8/12 mx-auto">
          <!-- <h2 v-html="$t('home.special_shops')"></h2> -->
          <h2 v-html="$t('sustainability.brandListTitle')"></h2>
        </div>
      </div>
    </div>

    <!-- MOBILE ONE -->
    <div class="lg:hidden mt-[var(--gap-15)] mb-10">
      <ClientOnly>
        <Vue3Marquee :duration="mobileSliderDuration" :delay="1">
          <div class="slider-group">
            <div class="wrapper">
              <div v-for="shop in mobileList" :key="shop.id" class="slider-item">
                <div class="slider-item-image">
                  <NuxtImg :src="logo(shop)" format="png" :alt="shop.title" />
                </div>
              </div>
            </div>
          </div>
        </Vue3Marquee>
      </ClientOnly>
    </div>
    <!-- END MOBILE ONE -->


    <div ref="sliderRowsContainer" class="slider-rows" id="container">

      <div v-for="(rowOfShops, rowIndex) in list" :key="rowIndex" class="slider-row">
        <div class="slider-group" :class="{'is-reverse': rowIndex%2 == 1}">
          <div class="wrapper">
            <div v-for="shop in rowOfShops" :key="shop.id" class="slider-item">
              <div class="slider-item-image">
                <NuxtImg :src="logo(shop)" format="png" :alt="shop.title" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<style lang="scss" scoped>

.slider-rows {
  display: none;
  flex-direction: column;
  gap: var(--gap-8);

  margin-top: var(--gap-20);
  margin-bottom: var(--gap-13);

  @include desktop-lg {
    display: flex;
  }
}

.slider-group {
  $initialTransformAmount: 4%;

  width: 100%;
  transform: translate(($initialTransformAmount * -2), 0);

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate($initialTransformAmount*0.5, 0);

    @include mobile {
      transform: translate(0, 0) !important;
    }
  }

  &.is-reverse {
    transform: translate(($initialTransformAmount * 2), 0);

    .wrapper {
      transform: translate($initialTransformAmount * -0.5, 0);
    }
  }

  @include mobile {
    transform: translate(0, 0) !important;
  }
}

.slider-row {
  overflow: hidden;
}

.slider-item {
  &-image {
    width: calc(100vw / 2);
    max-width: calc(100vw / 2);

    height: 16vw;

    padding-left: var(--gap-5);
    padding-right: var(--gap-5);

    @include desktop {
      width: calc(100vw / 3);
      max-width: calc(100vw / 3);
      height: var(--gap-14);
      padding-left: var(--gap-8);
      padding-right: var(--gap-8);
    }

    @include desktop-lg {
      width: calc(100vw / 7);
      max-width: calc(100vw / 7);
      height: var(--gap-18);
      padding-left: var(--gap-5);
      padding-right: var(--gap-5);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

</style>