<script setup>
import slugify from 'slugify';

const props = defineProps({
  block: Object
})

function stripHtml(html) {
  return html.replace(/<[^>]*>?/gm, '');
}

const slug = computed(() => {
  const text = stripHtml(props.block?.data?.text)
  return slugify(text).toLowerCase()
})
</script>

<template>
  <div class="container" :id="slug">
    <h1 class="text-center mb-[var(--gap-3)] lg:mb-8 mt-8" v-html="block?.data?.text"></h1>
  </div>
</template>

<style lang="scss" scoped>
</style>