<script setup>
const props = defineProps({
  block: Object
})
</script>

<template>
  <div class="container">
    <div class="has-html-content" v-html=block?.data?.text></div>
  </div>
</template>

<style lang="scss" scoped>
</style>