<script setup>
const props = defineProps({
  block: Object
})

const list = computed(() => {
  const list = props.block?.data?.value_list || null;

  console.log(list);
  if (list && list.length) {
    return list.map(item => {
      return {
        title: item.title,
        content: item.body
      }
    })
  }

  return null;
})

</script>

<template>
  <div class="" v-if="list">
    <AppAccordion :list="list"/>
  </div>
</template>

<style lang="scss" scoped>
</style>