<script setup>
import Toast from 'primevue/toast';


const { $i18n } = useNuxtApp();

const dataStore = useDataStore();
const locale = $i18n.locale.value || $i18n.defaultLocale

dataStore.mesureScrollBarWidth();
await dataStore.fetchData(locale)

</script>


<template>
  <div class="main">
    <MainHeader />

    <section class="main-page">
      <NuxtPage />
    </section>

    <MainFooter />

    <DynamicDialog class="modal"/>
    <Toast position="top-center" group="main"/>
  </div>
</template>


<style lang="scss" scoped>

</style>