<script setup>
const { $i18n } = useNuxtApp();
const localePath = useLocalePath();

const props = defineProps({
  error: Object,
});
</script>

<template>
  <div>
    <div class="main">
      <MainHeader />

      <section class="main-page">
        <div class="page">
          <div class="innerpage">
            <div class="innerpage-block">
              <div class="container text-center">
                <h1 class="mb-[var(--gap-15)] w-11/12 lg:mb-20 lg:w-full" v-html="$t('errorPage.title')"></h1>
                <div class="paragraph mb-10" v-html="$t('errorPage.subtitle')"></div>

                <div class="paragraph mb-[var(--gap-15)] lg:mb-20" v-html="$t('errorPage.body')" ></div>

                <div class="flex flex-wrap justify-center -mx-2 gap-y-4 sm:mx-0 sm:gap-6" >
                  <div class="w-1/2 sm:w-auto px-2 flex-none max-w-full sm:px-0" >
                    <a
                      :href="localePath({ name: 'index' })"
                      :label="$t('mainmenu.home')"
                      :icon="null"
                      class="w-full sm:w-auto p-button p-component"
                    >
                      {{$t('mainmenu.home')}}
                    </a>
                  </div>
                  <div class="w-1/2 sm:w-auto px-2 flex-none max-w-full sm:px-0" >
                    <a
                      :href="localePath({ name: 'shops-category' })"
                      :label="$t('mainmenu.shops')"
                      :icon="null"
                      class="w-full sm:w-auto p-button p-component"
                    >
                      {{$t('mainmenu.shops')}}
                    </a>
                  </div>
                  <div class="w-full sm:w-auto px-2 flex-none max-w-full sm:px-0" >
                    <a
                      :href="localePath({ name: 'map' })"
                      :label="$t('mainmenu.map')"
                      :icon="null"
                      class="w-full sm:w-auto p-button p-component"
                    >
                      {{$t('mainmenu.map')}}
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <MainFooter />
    </div>
  </div>
</template>

<style lang="scss" scoped>

.main-page {
  min-height: 80vh;
}
</style>