<script setup>
defineI18nRoute({
    paths: {
        en: '/vacancies/[slug]',
        lv: '/vakances/[slug]',
    }
})


    import _each from 'lodash/each'
    import { parse } from 'node-html-parser'
    const router = useRouter()
    const route = useRoute()
    const locale = useI18n()
    const vacancyData = await useFetch(`/api/v1/shop/vacancies/${route.params.slug}`, {headers: {'accept-language': locale.code}})
    const vacancy = ref(null)
    vacancy.value = vacancyData?.data?.value?.data || null
    function handleBack() {
        if (window.history.length > 1) {
            router.back();
        } else {
            router.push({ name: 'vacancies' });
        }
    }
    function removeDomain(link) {
        return 'https://cms.spice.lv/storage/app/media' + link;
    }
    const _body = computed(() => {
        let fixedBody = vacancy.value.body
        let parsedHtml = parse(fixedBody)
        let iframeTemplate = parse(`<iframe class="article-video" controls muted autoplay width="100%" height="420" frameborder="0"></iframe>`)
        let videoTemplate = parse(`<video class="article-video" controls="true"></video>`)
        let audioTemplate = parse(`<audio class="article-audio" controls="true"></audio>`)

        _each(parsedHtml.getElementsByTagName('figure'), (node) => {
            let srcVideo = node.getAttribute('data-video') || null
            let srcAudio = node.getAttribute('data-audio') || null

            let newNode = null

            if (srcVideo) {
                if (srcVideo.includes('youtube.com') || srcVideo.includes('youtu.be')) {
                    srcVideo = srcVideo.replace('www.youtube.com/watch?v=', 'www.youtube.com/embed/')
                    srcVideo = srcVideo.replace('https://youtu.be/', 'https://www.youtube.com/embed/')
                    newNode = iframeTemplate.clone().setAttribute('src', srcVideo)
                } else {
                    newNode = videoTemplate.clone().setAttribute('src', srcVideo)
                }
            } else if (srcAudio) {
                newNode = audioTemplate.clone().setAttribute('src', srcAudio)
            }

            if (newNode) {
                parsedHtml.exchangeChild(node, newNode)
            }
        });

        fixedBody = parsedHtml.toString()

        try {
            fixedBody = fixedBody.replaceAll('http://', 'https://')
        } catch (error) {}

        fixedBody = fixedBody.replace(/<\/?em>/g, '')

        //this not a fix because all element quotes are also replaced
        // fixedBody = formatQuotes(fixedBody)

        return fixedBody
    })
    const images = () => {
        // TODO: need backend api to also send images along with the relation Model::with['images']
        if (vacancy.value.shop?.images) {
            return vacancy.value.shop.images.slice(0, 3);
        }

        return [
            {
                path: '/img/vacancies/placeholder-1.jpg'
            },
            {
                path: '/img/vacancies/placeholder-2.jpg'
            },
            {
                path: '/img/vacancies/placeholder-3.jpg'
            }
        ]
    }
    function formatQuotes(text) {
        if (!text || typeof text !== 'string') return text;
        return text.replace(/"([^"]+)"/g, '“$1”');
    }

</script>
<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/vacancies.png`"/>

        <div class="innerpage !mt-[var(--gap-6)] lg:!mt-[var(--gap-30)]">
            <div class="innerpage-block">
                <div class="container">
                    <div class="relative">
                        <AppButtonTertiary
                            :label="$t('global.back')"
                            @click="handleBack"
                            class="mb-[var(--gap-5)] lg:mb-0"
                            hasCustomIcon isReversed icon="customicon--left"
                        />
                        <h1 class="h2 text-center lg:absolute lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:top-[-1rem]">{{ formatQuotes(vacancy.title) }}</h1>
                    </div>
                    <NuxtImg v-if="vacancy.shop.image" :src="removeDomain(vacancy.shop.image)" :alt="vacancy.shop.title" class="d-block mx-auto w-4/12 md:w-[12rem] mt-8 mb-10 lg:mb-6 lg:mt-24 xl:mt-16" />
                    <div v-else class="h2 text-center mt-16 mb-6">{{ vacancy.shop.title }}</div>
                    <p v-if="vacancy.text" class="has-html-content text-center lg:w-8/12 mx-auto mb-[var(--gap-15)] lg:mb-20">{{ vacancy.text }}</p>
                    <div class="grid md:grid-cols-2 gap-x-16 mb-20">
                        <div v-html="_body" class="paragraph has-html-content"></div>
                        <!-- <div v-html="_body" class="paragraph has-html-content"></div> TODO (backend): need second field in backend for body text column no 2 -->
                    </div>


                    <!-- TODO (backend): need third field, which is a text under the body text columns -->
                    <!-- <p class="mb-[var(--gap-15)] lg:mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum eos magnam pariatur molestias laborum laudantium quisquam sunt commodi! Deleniti, omnis enim. Illo officiis ut dolores hic odio nesciunt nihil.</p> -->

                    <div v-if="images().length" class="news-tiles tiles">
                        <PageShopsTile v-for="(image, index) in images()" :key="index" :newsItem="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>