<script setup>
defineI18nRoute({
    paths: {
        en: '/vacancies',
        lv: '/vakances',
    }
})
    const vacancies = ref([])

    const localePath = useLocalePath()
    const activeShop = ref(null);

    useFetch('/api/v1/shop/vacancies', {
        headers: {
            'accept-language': useI18n().code
        }
    }).then((response) => {
        vacancies.value = response?.data?.value?.data;
    });


    const shopsWithVacancies = computed(() => {
        return vacancies.value
            .map((vac) => vac.shop)
            .filter(
                (value, index, self) => self.findIndex((shop) => shop.id === value.id) === index
            )
            .sort((a, b) => a.title.localeCompare(b.title));
    });

    const shopsWithVacanciesList = computed(() => {
        return shopsWithVacancies.value.map((shop) => ({
            id: shop.id,
            value: shop,
            text: shop.title,
            slug: shop.slug,
        }));
    });

    const filteredVacancies = computed(() => {
        if (!activeShop.value || !activeShop.value.id) {
            return vacancies.value;
        }
        return vacancies.value.filter(
            (vac) => vac.shop.id === activeShop.value.id
        );
    });

    function selectShop(shop) {
        activeShop.value = shop;
    }

    function formatQuotes(text) {
        return text
        //this not a fix because all element quotes are also replaced
        // if (!text || typeof text !== 'string') return text;
        // return text.replace(/"([^"]+)"/g, '“$1”');
    }
</script>
<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/vacancies.png`"/>

        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <h1 class="text-center mb-10" v-html="$t('vacancies.title')"></h1>

                    <div class="text-center lg:w-8/12 mx-auto mb-[var(--gap-15)] lg:mb-20">
                        <div class="h3"> {{ $t('vacancies.text') }} </div>
                    </div>

                    <div v-if="vacancies" class="filter hidden sm:block mb-20">
                        <div class="flex flex-wrap justify-center text-center gap-x-16 lg:gap-16">
                            <div
                                class="nav-item mb-3 cursor-pointer"
                                @click="activeShop = null"
                                :class="{ 'active': activeShop == null }"
                            >
                                <div class="h3 nav-item__text uppercase mx-auto py-2">{{ $t('vacancies.vacanciesall') }}</div>
                            </div>

                            <div
                                v-for="shop in shopsWithVacancies"
                                :key="shop.id"
                                class="nav-item mb-3 cursor-pointer"
                                @click="selectShop(shop)"
                                :class="{ 'active': activeShop && activeShop.id === shop.id }"
                            >
                                <div class="h3 nav-item__text uppercase mx-auto py-2">{{ shop.title }}</div>
                            </div>
                        </div>
                    </div>
                    <div v-if="vacancies" class="shop-select-wrap mb-[var(--gap-15)] sm:hidden lg:mb-4">
                        <AppSelect
                            v-model="activeShop"
                            :options="shopsWithVacanciesList"
                            class="shop-select inline-flex justify-between w-full md:w-80 pb-3 pl-2"
                            optionLabel="text"
                            :overlayStyle="{ background: 'var(--primary-white-100)', paddingTop: 'var(--gap-2)' }" :labelStyle="{ color: 'var(--secondary-black-40' }"
                            :placeholder="$t('shop.store_list')"
                        />
                    </div>
                    <div v-if="vacancies" class="vacancies lg:w-10/12 mx-auto">
                        <nuxt-link
                            v-for="vac in filteredVacancies"
                            :key="vac.id"
                            class="flex justify-between items-center first:border-t-[1px] first:border-t-[var(--primary-black-100)] border-b-[1px] border-b-[var(--primary-black-100)]"
                            :to="localePath({ name: 'vacancies-slug', params: { slug: vac.slug } })"
                        >
                            <div class="flex justify-between items-center w-full p-4">
                                <div class="flex flex-wrap w-full flex-col lg:flex-row">
                                    <div class="paragraph mb-3 sm:w-1/2 lg:mb-0">{{ formatQuotes(vac.title) }}</div>
                                    <div class="h4 uppercase sm:w-1/2">{{ vac.shop.title }}</div>
                                </div>
                                <AppButtonPrimary class="secondary" hasCustomIcon icon="customicon--right"></AppButtonPrimary>
                            </div>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .filter {
        .nav-item {
            &:hover, &.active {
                .nav-item__text {
                    border-bottom: 1px solid var(--primary-black-100);
                    width: max-content;
                }
            }
        }
    }
</style>