<script setup>
const localePath = useLocalePath();

import Accordion from 'primevue/accordion'
import AccordionPanel from 'primevue/accordionpanel'
import AccordionHeader from 'primevue/accordionheader'
import AccordionContent from 'primevue/accordioncontent'

const {services} = defineProps({
  services: {
    type: Array,
    default: () => []
  }
})

function getMapPath(mapId) {
    let pathObject = {
        name: 'map',
    };

    const query = mapId
        ?.split('&')
        ?.map((item) => {
            return item
            ?.replace('?','')
            ?.split('=')
        })
        ?.reduce((acc, cur) => {
            if (cur[0] && cur[1]) {
            acc[cur[0]] = cur[1];
            }
            return acc;
        }, {});

    if (query?.page) {
        const name = query.page;

        pathObject = {
            name,
            query

        };
    } else {
        pathObject.query = query;
    }

    return localePath(pathObject);
}
</script>
<template>
  <div class="accordion">
    <Accordion value="0" >
        <template #expandicon>
            <svg class="ml-2 shrink-0 w-[24px] h-[24px]" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.3335 16H26.6668" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M16 5.33333V26.6667" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
        </template>
        <template #collapseicon>
            <svg class="ml-2 shrink-0 w-[24px] h-[24px]" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.3335 16H26.6668" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
        </template>
      <AccordionPanel v-for="(service, index) in services" :value="index" :disabled="service.disabled" class="accordion-panel border-t-[1px] border-t-[var(--primary-black-100)]">
        <AccordionHeader class="accordion-header flex items-center w-full h3 uppercase p-4 text-left">
          <div class="flex items-center w-full">
            <NuxtImg :src="service.image.path" :alt="`${service.title} icon`" width="44" height="44" class="mr-3 h-[2.75rem] md:w-[4.375rem] md:h-[4.375rem] lg:mr-6 w-[2.75rem]"/>
            <div>{{ service.title }}</div>
          </div>
        </AccordionHeader>
        <AccordionContent>
          <div class="py-2 pb-[var(--gap-15)] px-4">
            <div v-for="item in service.service_list" class="flex flex-wrap justify-between mt-6 first:mt-0">
              <div v-html="item.title" class="html-paragraph w-full md:w-auto"></div>
              <AppButtonTertiary v-if="item.map_id" :to="getMapPath(item.map_id)" :label="$t('global.open_map')" hasCustomIcon icon="customicon--right" class="mt-3 ml-auto flex items-center content-center"/>
            </div>
          </div>
        </AccordionContent>
      </AccordionPanel>
    </Accordion>
  </div>
</template>

<style lang="scss" scoped>
  $transitionSpeed: 100ms;
  .accordion-panel {
    &.p-accordionpanel-active {
      transition: border-bottom $transitionSpeed linear;
    }
    &:last-child {
      .accordion-header {
        border-bottom: 1px solid var(--primary-black-100);
      }
      &.p-accordionpanel-active {
        border-bottom: 1px solid var(--primary-black-100);
        .accordion-header {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }
  .accordion-header {
    transition: border-bottom $transitionSpeed linear;
    &[aria-expanded="true"] {
      border-bottom: 1px solid transparent;
    }
  }
</style>