<script setup>

const props = defineProps({
  activeFloor: {
    type: Number,
    default: 1,
  },
});

const emits = defineEmits(['setFloor', 'zoomIn', 'zoomOut']);

function setFloor(floor) {
  emits('setFloor', floor);
}

function zoomIn() {
  emits('zoomIn');
}

function zoomOut() {
  emits('zoomOut');
}

</script>

<template>
  <div class="relative flex flex-col gap-6 mb-4 lg:gap-3 lg:mb-0">
    <div class="flex lg:flex-col gap-3">
      <AppButtonPrimary class="whitespace-nowrap w-1/2 md:w-auto" :class="{secondary: activeFloor == 1}" @click="setFloor(1)" :label="$t('map.floor_1')" :icon="null"/>
      <AppButtonPrimary class="whitespace-nowrap w-1/2 md:w-auto" :class="{secondary: activeFloor == 2}" @click="setFloor(2)" :label="$t('map.floor_2')" :icon="null"/>
    </div>

    <div class="flex flex-row gap-3 items-end justify-end lg:justify-start">
      <AppButtonPrimary class="primary w-min" @click="zoomIn" icon="customicon--plus"/>
      <AppButtonPrimary class="primary w-min" @click="zoomOut" icon="customicon--minus"/>
    </div>
  </div>
</template>

<style lang="scss" scoped>

</style>