<template>
  <div>
    <client-only>
      <component is="style" v-for="(listItem, index) in styleList" :key="listItem.shop.id">
        {{ listItem.cssSelector }} {
        --hover-fill-color: {{ listItem.hoverFillColor }};
        --hover-text-color: {{ listItem.hoverTextColor }};
        }
      </component>

      <component is="style" v-for="(listItem, index) in iconStyleList" :key="listItem.slug">
        {{ listItem.cssSelector }} {
        opacity: {{ listItem.opacity }};
        }
        {{ listItem.cssSelector }} polygon:first-child {
          fill: {{ listItem.fill }};
        }
        {{ listItem.cssSelector }} rect:first-child {
          fill: {{ listItem.fill }};
        }
      </component>

      <!-- ACTIVE SHOPS -->
      <component is="style" v-for="(activeShop, index) in activeShops" :key="`ash-${activeShop.id}`">
        #{{ activeShop.map }} polygon,
        #{{ activeShop.map }} path,
        #{{ activeShop.map }} rect {
        fill: {{ shopCssColor(activeShop) }} !important;
        }

        #{{ activeShop.map }} text {
        fill: #fff !important;
        }
      </component>

      <!-- PET SHOPS -->
      <component is="style" v-for="(activeShop, index) in petShops" :key="`pet-${activeShop.id}`">
        {{ activeShop.cssSelector }} polygon,
        {{ activeShop.cssSelector }} path,
        {{ activeShop.cssSelector }} rect {
        fill: {{ shopCssColor(activeShop) }} !important;
        }

        {{ activeShop.cssSelector }} text {
        fill: #fff !important;
        }
      </component>

      <!-- SUSTANABLE BRANDS -->
      <component is="style" v-for="(activeShop, index) in sustainableBrands" :key="`sustainable-${activeShop.id}`">
        {{ activeShop.cssSelector }} polygon,
        {{ activeShop.cssSelector }} path,
        {{ activeShop.cssSelector }} rect {
        fill: {{ shopCssColor(activeShop) }} !important;
        }

        {{ activeShop.cssSelector }} text {
        fill: #fff !important;
        }
      </component>
    </client-only>
  </div>
</template>

<script>
function lightOrDark (color) {
  // Variables for red, green, blue values
  let r, g, b, hsp

  // Check the format of the color, HEX or RGB?
  if (color.match(/^rgb/)) {
    // If RGB --> store the red, green, blue values in separate variables
    color = color.match(
      /^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+(?:\.\d+)?))?\)$/
    )

    r = color[1]
    g = color[2]
    b = color[3]
  } else {
    // If hex --> Convert it to RGB: http://gist.github.com/983661
    color = +('0x' + color.slice(1).replace(color.length < 5 && /./g, '$&$&'))

    r = color >> 16
    g = (color >> 8) & 255
    b = color & 255
  }

  // HSP (Highly Sensitive Poo) equation from http://alienryderflex.com/hsp.html
  hsp = Math.sqrt(0.299 * (r * r) + 0.587 * (g * g) + 0.114 * (b * b))

  // Using the HSP value, determine whether the color is light or dark
  if (hsp > 127.5) {
    return 'light'
  } else {
    return 'dark'
  }
}
function cssColor (shop) {
  if (
    shop.categories &&
    shop.categories.length > 0 &&
    shop.categories[0].category_color
  ) {
    const color = shop.categories[0].category_color

    // console.log("Shop:", shop.title, color);

    return color.includes('#') ? color : '#' + color
  }

  // console.log("Shop NOT:", shop.title);

  return '#ED1C24'
}
function cssSelector (shop) {
  return `#${shop.map}`
}

export default {
  props: {
    shops: {
      type: Array,
      default: () => []
    },
    icons: {
      type: Array,
      default: () => []
    },
    activeShops: {
      type: Array,
      default: () => []
    }
  },

  computed: {
    styleList () {
      const list = this.shops.map((shop) => {
        // const hoverFillColor = cssColor(shop)
        const hoverFillColor = '#4A1C1F';
        const hoverTextColor = (lightOrDark(hoverFillColor) === 'light')
          ? '#000'
          : '#fff'

        return {
          cssSelector: cssSelector(shop),

          hoverFillColor,
          hoverTextColor,

          shop,
        }
      })

      // console.log(list);

      return list;
    },

    iconStyleList () {
      return this.icons
        .filter((icon) => icon)
        .map((icon) => {
          return {
            cssSelector: `[id*="${icon?.slug}"]`,
            // display: (icon.isActive) ? 'inline' : 'none',
            // opacity: (icon.isActive) ? '1' : '0',
            // fill: (icon.isActive) ? '#E6392F' : 'none',
            fill: '#E6392F',
          }
        })
    },

    petShops () {
      if (this.icons[0]?.slug == 'Pets') {

        const shops = this.shops
          .filter((shop) => shop.is_pets_allowed)
          .map((shop) => {
            // const hoverFillColor = cssColor(shop)
            const hoverFillColor = '#4A1C1F';
            const hoverTextColor = (lightOrDark(hoverFillColor) === 'light')
              ? '#000'
              : '#fff'

            return {
              cssSelector: cssSelector(shop),

              hoverFillColor,
              hoverTextColor,

              shop
            }
        })

        return shops;
      }

      return [];
    },

    sustainableBrands () {
      if (this.icons[0]?.slug == 'SustainableBrand') {

        const shops = this.shops
          .filter((shop) => shop.is_sustainable_brand)
          .map((shop) => {
            // const hoverFillColor = cssColor(shop)
            const hoverFillColor = '#4A1C1F';
            const hoverTextColor = (lightOrDark(hoverFillColor) === 'light')
              ? '#000'
              : '#fff'

            return {
              cssSelector: cssSelector(shop),

              hoverFillColor,
              hoverTextColor,

              shop
            }
        })

        return shops;
      }

      return [];
    }

  },

  methods: {
    shopCssColor (shop) {
      return "#4A1C1F";

      if (
        shop.categories &&
        shop.categories.length > 0 &&
        shop.categories[0].category_color
      ) {
        const color = shop.categories[0].category_color
        return color.includes('#') ? color : '#' + color
      }

      return '#ED1C24'
    }
  }
}

</script>
