<script setup>

const emit  = defineEmits(['update:modelValue'])
const props = defineProps({
  iconList: {
    type: Array,
    default: () => []
  },

  modelValue: {
    type: Object,
    default: () => null,
  }
})

const selected = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
});

const loadedIconSvgs = ref({});


// Bicycle
// Cafe
// CashMachine
// ClothingDonationCenter
// ElectricalGoodsTransferPoint
// ElectricChargingPoint
// GiftCards
// HealthCare
// InfoCenter
// LoungeCorner
// MobilePhoneRepair
// MothersRoom
// ParcelTerminal
// Parking
// Pets
// Pharmacy
// Playground
// PostOffice
// Restaurant
// TaxiParking
// textileRecycle
// Toilet
// WastePaperTransferPoint
// WaterPlace

onMounted(() => {
  props.iconList.forEach( async (icon) => {
    try {
      const object = await import(`~/public/icons/${icon.slug}.svg?raw`);
      loadedIconSvgs.value[icon.slug] = object?.default;
    } catch (error) {
      // console.log('ERROR: ', error, object, icon);
      loadedIconSvgs.value[icon.slug] = '';
    }
  })
});

function isHidden(icon) {
  if (typeof icon.hidden === 'undefined') {
    return false;
  }

  return icon.hidden;
}

</script>

<template>
  <div class="flex flex-col gap-2">
    <template v-for="(icon, iconIndex) in iconList" :key="iconIndex">
      <button class="icon" v-if="!isHidden(icon)"
        @click="selected = icon"
        :class="{ 'active': selected?.slug == icon?.slug }"
      >
        <div class="icon__image" v-html="loadedIconSvgs[icon.slug]" :alt="icon.title_lv"></div>
        <div class="icon__label small-text">{{ icon.title }}</div>
      </button>
  </template>
  </div>
</template>

<style lang="scss" scoped>
.icon {
  display: flex;
  align-items: center;

  gap: var(--gap-2);

  &__image {
    width: var(--gap-7);
    height: var(--gap-7);
    flex-shrink: 0;

    ::v-deep(svg) {
      width: 100%;
      height: 100%;
    }

  }

  &__label {
    // @extend .small-text;
    text-align: left;
  }

  &.active {
    .icon__image {

      ::v-deep(:not(rect)) {
        fill: var(--primary-black-100);
      }
      ::v-deep(rect) {
        fill: var(--primary-beige-100);
      }
      ::v-deep(path:first-child) {
        fill: var(--primary-beige-100);
      }
    }
  }
}
</style>