<template>
  <div class="map-hover-popup" :style="cssStyles" @click.self="closeMe">
    <div class="inner" v-if="shop">
      <PageShopsLogo full class="" :shop="shop" />
      <div class="flex flex-col gap-1">
        <div class="flex items-center">
          <svg
            class="s-24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.8168 13.8555C14.9131 13.7914 15.0239 13.7523 15.1392 13.7419C15.2544 13.7314 15.3705 13.7498 15.4768 13.7955L19.5777 15.6329C19.7159 15.692 19.8313 15.7943 19.9065 15.9244C19.9818 16.0545 20.0129 16.2055 19.9951 16.3547C19.86 17.3643 19.3629 18.2905 18.596 18.9611C17.8292 19.6316 16.845 20.0008 15.8264 20C12.6898 20 9.68173 18.754 7.46386 16.5361C5.24599 14.3183 4 11.3102 4 8.17365C3.99922 7.15502 4.36843 6.17078 5.03895 5.40396C5.70947 4.63715 6.63567 4.13996 7.6453 4.00486C7.79455 3.98713 7.94553 4.01821 8.07564 4.09345C8.20574 4.1687 8.30799 4.28405 8.36706 4.42226L10.2045 8.5267C10.2496 8.63212 10.268 8.74706 10.258 8.8613C10.248 8.97554 10.2099 9.08554 10.1471 9.1815L8.28879 11.3911C8.22288 11.4906 8.1839 11.6054 8.17566 11.7245C8.16743 11.8435 8.19023 11.9627 8.24184 12.0703C8.96098 13.5425 10.4828 15.046 11.9593 15.7582C12.0675 15.8095 12.1872 15.8318 12.3066 15.8228C12.426 15.8138 12.541 15.7739 12.6402 15.7069L14.8168 13.8555Z"
              stroke="#030303"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="phone ml-2">{{ shop.phone }}</p>
        </div>
        <div class="flex items-center">
          <svg
            class="s-24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z"
              stroke="#030303"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 7.73334V12L15.2 15.2"
              stroke="#030303"
              stroke-width="1.4"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
          </svg>

          <p class="time position-relative ml-2">
            {{ shop.time_open.replace(/:[^:]*$/, "") }} -
            {{ shop.time_close.replace(/:[^:]*$/, "") }}
          </p>
        </div>
        <div class="flex items-center" v-if="formatBuilding(shop)">
          <svg
            class="s-24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.9996 12.6154C13.3251 12.6154 14.3996 11.5133 14.3996 10.1539C14.3996 8.79439 13.3251 7.69232 11.9996 7.69232C10.6741 7.69232 9.59961 8.79439 9.59961 10.1539C9.59961 11.5133 10.6741 12.6154 11.9996 12.6154Z"
              stroke="#030303"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18 10.1538C18 15.6923 12 20 12 20C12 20 6 15.6923 6 10.1538C6 8.52174 6.63214 6.95649 7.75736 5.80242C8.88258 4.64835 10.4087 4 12 4C13.5913 4 15.1174 4.64835 16.2426 5.80242C17.3679 6.95649 18 8.52174 18 10.1538Z"
              stroke="#030303"
              stroke-width="1.4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <p class="location h4 uppercase position-relative ml-2">
            {{ formatBuilding(shop) }}
          </p>
        </div>
      </div>

      <AppButtonPrimary :to="shopPage" :label="$t('shop.openShop')" :icon="null" class="shop-button mt-4"/>
    </div>
  </div>
</template>

<script setup>
const { t, te } = useI18n();
const localePath = useLocalePath();

const props = defineProps(["shop", "domTarget"]);
const emits = defineEmits(["close"]);

const cssStyles = computed(() => {

  if (props.domTarget) {
    const { left, top, width, height } = props.domTarget.getBoundingClientRect();

    // const centerX = left + width / 2;
    const centerX = left + width;
    const centerY = top + height / 2;

    /**
     * If popup flouts (by margin of 30px) outside window, move it to other side
     */
    if (window && centerX + 230 > window.innerWidth) {
      return {
        left: `${left - 230}px`,
        top: `${centerY}px`,
      };
    }

    if (window && centerY + 1100 > window.innerWidth) {
      return {
        left: `${centerX}px`,
        top: `${centerY - 140}px`,
      };
    }

    return {
      left: `${centerX}px`,
      top: `${centerY}px`,
    };
  }

  return {
    display: "none",
  };
});
const shopPage = computed(() => {
  const shop = props.shop;
  return localePath({
    name: 'shops-category-slug',
    params: { category: firstCategory(shop), slug: shop.slug },
  })
});

const formatBuilding = () => {
  const shop = props.shop;
  let toTransleate = null;

  if (shop?.site) {
    toTransleate = `global.tc_${shop.site.replace("-theme", "")}`;
  }

  if (te(toTransleate)) {
    return t(toTransleate);
  }

  return null;
};

const closeMe = () => {
  emits('close');
};

function firstCategory(shop) {
  if (shop?.categories.length > 0) {
    return shop?.categories[0].slug
  }

  return 'none';
};

</script>

<style lang="scss" scoped>
.map-hover-popup {
  position: fixed;

  width: 200px;
  background-color: #fff;
  z-index: 999;

  pointer-events: none;

  transform: translate(20px, -50%);

  @include tablet {
    width: 100%;
    height: 100%;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    pointer-events: unset;

    background-color: rgba(0, 0, 0, 0.2);

    z-index: 10000;
  }
}

.inner {
  padding: 0px 10px 20px;
  position: relative;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--primary-black-100);

  @include tablet {
    width: 220px;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    pointer-events: unset;

    background-color: #fff;
  }

}

img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  object-position: center;
}

.title {
  margin: 0;
  color: #000;
  font-size: 1.25rem;
  text-align: center;
  display: block;
  width: 100%;

  padding: 10px;
  padding-top: 0;
}

.shop-button {
  display: none;

  @include tablet {
    display: block;
  }
}

</style>
