<script setup>
const emit       = defineEmits(['close-menu'])
const props      = defineProps({
  isOpen: {
    type: Boolean,
    default: false,
  },
});

const activeFontSize = ref(100);
watch(() => activeFontSize.value, (newFontSizePercent) => {
  document.documentElement.classList.remove('font-150');
  document.documentElement.classList.remove('font-200');

  if (newFontSizePercent == 16 || newFontSizePercent == null || newFontSizePercent == 100) {
    // document.documentElement.style.removeProperty(`font-size`);
  } else {
    // const newFontSize = newFontSizePercent / 100 * 16;
    // document.documentElement.style.setProperty(`font-size`, `${newFontSize}px`);

    document.documentElement.classList.add(`font-${newFontSizePercent}`);
  }

  if (document) {
    const event = new Event("a18y.font.updated");
    document.dispatchEvent(event);
  }
});

const activeContrast = ref(null);
watch(() => activeContrast.value, (newContrast) => {
  document.documentElement.classList.remove('high-contrast-yellow');
  document.documentElement.classList.remove('high-contrast-black');
  document.documentElement.classList.remove('high-contrast-black-yellow');

  if (newContrast == null) {
  } else {
    document.documentElement.classList.add(newContrast);
  }

  if (document) {
    const event = new Event("a18y.contrast.updated");
    document.dispatchEvent(event);
  }
});

function emitCloseMenu(event) {
  emit('close-menu', event);
}

function changeContrast(type) {
  activeContrast.value = type;
}

function changeFontSize(percent) {
  activeFontSize.value = percent;
}

function reset() {
  activeFontSize.value = null;
  activeContrast.value = null;
}

function isFontButtonActiveClass(fontsize) {

  return {
    'active': activeFontSize.value == fontsize,
  }
}




</script>

<template>
  <transition name="overlay-fade-animation">
    <div class="overlay" @click="emitCloseMenu" v-if="isOpen"></div>
  </transition>

  <transition name="accesability-menu-animation">
    <div class="accesability-menu" v-if="isOpen">
      <div class="flex flex-col	gap-8">

        <div class="flex flex-col gap-4">
          <div class="h3 uppercase">
            {{ $t('accessability.font_size') }}
          </div>

          <div class="flex gap-4">
            <AppButtonPrimary label="100%" :icon="null" @click="changeFontSize(100)" :class="isFontButtonActiveClass(100)" />
            <AppButtonPrimary label="150%" :icon="null" @click="changeFontSize(150)" :class="isFontButtonActiveClass(150)" />
            <AppButtonPrimary label="200%" :icon="null" @click="changeFontSize(200)" :class="isFontButtonActiveClass(200)" />
          </div>
        </div>


        <div class="flex flex-col gap-4">
          <div class="h3 uppercase">
            {{ $t('accessability.contrast') }}
          </div>

          <div class="flex gap-4">
            <button @click="changeContrast(null)">
              <svg class="s-32 a18y-ignore-contrast" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.7" y="0.7" width="30.6" height="30.6" fill="#eacebf"/>
                <rect x="0.7" y="0.7" width="30.6" height="30.6" stroke="#030303" stroke-width="1.4"/>
                <path d="M16 11C10.2857 11 8 16 8 16C8 16 10.2857 21 16 21C21.7143 21 24 16 24 16C24 16 21.7143 11 16 11Z" stroke="#030303" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 18.7777C17.5779 18.7777 18.8571 17.534 18.8571 15.9999C18.8571 14.4658 17.5779 13.2221 16 13.2221C14.422 13.2221 13.1428 14.4658 13.1428 15.9999C13.1428 17.534 14.422 18.7777 16 18.7777Z" stroke="#030303" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>

            <button @click="changeContrast('high-contrast-yellow')">
              <svg class="s-32 a18y-ignore-contrast" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.7" y="0.7" width="30.6" height="30.6" fill="#fff86e"/>
                <rect x="0.7" y="0.7" width="30.6" height="30.6" stroke="#030303" stroke-width="1.4"/>
                <path d="M16 11C10.2857 11 8 16 8 16C8 16 10.2857 21 16 21C21.7143 21 24 16 24 16C24 16 21.7143 11 16 11Z" stroke="#030303" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 18.7777C17.5779 18.7777 18.8571 17.534 18.8571 15.9999C18.8571 14.4658 17.5779 13.2221 16 13.2221C14.422 13.2221 13.1428 14.4658 13.1428 15.9999C13.1428 17.534 14.422 18.7777 16 18.7777Z" stroke="#030303" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>

            <button @click="changeContrast('high-contrast-black')">
              <svg class="s-32 a18y-ignore-contrast" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.7" y="0.7" width="30.6" height="30.6" fill="#030303"/>
                <rect x="0.7" y="0.7" width="30.6" height="30.6" stroke="#F2F2F2" stroke-width="1.4"/>
                <path d="M16 11C10.2857 11 8 16 8 16C8 16 10.2857 21 16 21C21.7143 21 24 16 24 16C24 16 21.7143 11 16 11Z" stroke="#F2F2F2" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 18.7777C17.5779 18.7777 18.8571 17.534 18.8571 15.9999C18.8571 14.4658 17.5779 13.2221 16 13.2221C14.422 13.2221 13.1428 14.4658 13.1428 15.9999C13.1428 17.534 14.422 18.7777 16 18.7777Z" stroke="#F2F2F2" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>

            <button @click="changeContrast('high-contrast-black-yellow')">
              <svg class="s-32 a18y-ignore-contrast" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.7" y="0.7" width="30.6" height="30.6" fill="#030303"/>
                <rect x="0.7" y="0.7" width="30.6" height="30.6" stroke="#fff86e" stroke-width="1.4"/>
                <path d="M16 11C10.2857 11 8 16 8 16C8 16 10.2857 21 16 21C21.7143 21 24 16 24 16C24 16 21.7143 11 16 11Z" stroke="#fff86e" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 18.7777C17.5779 18.7777 18.8571 17.534 18.8571 15.9999C18.8571 14.4658 17.5779 13.2221 16 13.2221C14.422 13.2221 13.1428 14.4658 13.1428 15.9999C13.1428 17.534 14.422 18.7777 16 18.7777Z" stroke="#fff86e" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="flex flex-col gap-4">

          <div class="button-row flex gap-4">
            <AppButtonPrimary class="whitespace-nowrap" :icon="null" :label="$t('accessability.reset')" @click="reset" />
            <!-- <AppButtonPrimary :label="$t('accessability.save')"  /> -->
            <!-- <AppButtonPrimary class="whitespace-nowrap" :icon="null" :label="$t('accessability.read_more')"  /> -->
          </div>
        </div>


      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>

.overlay {
  position: fixed;
  top: var(--gap-20);
  left: 0;

  transition: opacity 200ms ease;

  width: 100%;
  height: calc( 100vh - var(--header-height));

  background: rgba(0, 0, 0, 0.2);

  z-index: 1;
  opacity: 1;
}

.accesability-menu {
  position: fixed;
  top: var(--header-height);
  right: 0;
  z-index: 1000;

  padding: var(--gap-10);

  background: var(--primary-beige-100);

  @include mobile {
    width: 100%;

    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .button-row {

    @include mobile {
      flex-wrap: wrap;
    }
  }
}

.accesability-menu-animation {
  &-enter-active, &-leave-active {}

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

.overlay-fade-animation {
  &-enter-active, &-leave-active {}

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

</style>