<script setup>
import slugify from 'slugify';
import _filter from "lodash/filter";

const localePath = useLocalePath()
const dataStore  = useDataStore();
const emit       = defineEmits(['close-menu'])
const props      = defineProps({
  isOpen: {
    type: Boolean,
    default: false,
  },
});

const query = ref(null);
const filteredShops = computed(() => {
  if (query.value == null || query?.value?.length < 1) {
    return null;
  }

  let shopList = null;

  const searchQuery  = slugify(query.value).toLowerCase();
  const searchQuery2 = query.value.toLowerCase();

  // Filter shops by search query
  if (searchQuery && searchQuery.length > 0) {
    shopList = _filter(dataStore.shops, function (shop) {
      return (
        shop.slug.toLowerCase().indexOf(searchQuery) > -1
        || shop.title.toLowerCase().indexOf(searchQuery2) > -1
      );
    });
  }

  return shopList;
});


function emitCloseMenu(event) {
  emit('close-menu', event);
}

watch(() => props.isOpen, (first, second) => {
  if (first) {
    document.body.classList.add('overflow-hidden');
  } else {
    document.body.classList.remove('overflow-hidden');
  }
});

</script>


<template>
  <transition name="overlay-fade-animation">
    <div class="overlay" @click="emitCloseMenu" v-if="isOpen"></div>
  </transition>
  <transition name="search-menu-animation">
    <div class="search-menu" v-if="isOpen">
      <div class="menu-inner-wrapper">
        <div class="container flex flex-col gap-10 justify-between">
          <div class="flex flex-col">
            <div class="flex">
              <div class="h2 mb-16" v-html="$t('search.title')"></div>
            </div>

            <div class="flex w-full">
              <AppSearchInput v-model="query"/>
            </div>

            <div class="shop-list-container flex mt-10 flex-grow-1">
              <div v-if="filteredShops?.length" class="grid grid-cols-4 gap-x-20 gap-y-6">
                <div class="shop-item" v-for="(shop, index) in filteredShops" :key="shop.id">
                  <PageShopsSingleItem :shop="shop" short/>
                </div>
              </div>

              <div v-else-if="query?.length" class="">
                <div class="p w-full"> {{ $t('shop.noResults') }} </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="flex flex-shrink-0">
            <div class="flex gap-4 flex-wrap md:flex-nowrap">
              <AppButtonPrimary class="moble-half" :to="localePath({name: 'shops-category'})" :icon="null" :label="$t('mainmenu.shops')" />
              <AppButtonPrimary class="moble-half" :to="localePath({name: 'map'})" :icon="null" :label="$t('mainmenu.map')" />
              <AppButtonPrimary class="max-sm:w-full" :to="localePath({name: 'discounts-category'})" :icon="null" :label="$t('mainmenu.discounts')" />
            </div>
          </div>

          <div class="flex mt-12 pb-16 flex-shrink-0">
            <MainSocialIcons class="social-icons flex gap-4" />
          </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: var(--gap-20);
  left: 0;

  transition: opacity 200ms ease;

  width: 100%;
  height: calc( 100dvh - var(--header-height));

  background: rgba(0, 0, 0, 0.2);

  z-index: 1;

  opacity: 1;
}

.search-menu {
  position: fixed;
  // top: var(--gap-20);
  left: 0;
  width: 100%;
  height: calc( 100dvh - var(--header-height));

  background: var(--primary-beige-100);

  z-index: 200;

  display: flex;

  transform: translate(0, 0%);
  transition: all 900ms cubic-bezier(.70, 0, .40, 1);
  // transition: all 700ms ease;

  overflow: hidden;
  bottom: 0;
}

.menu-inner-wrapper {
  display: flex;

  width: calc(100vw - var(--scrollbar-size));
  height: calc( 100dvh - var(--header-height));

  // justify-content: center;
  position: fixed;
  bottom: 0;

  padding-top: var(--gap-16);
  overflow: auto;

  > .container {
    height: 100%;
  }

  .shop-list-container {
    height: auto;
  }
}

.search-input {
  width: 100%;
  max-width: 500px;
}

.moble-half {

  @include mobile {
    width: calc(50% - var(--gap-2));
  }
}

.search-menu-animation {
  &-leave-active {
    .image-wrapper {
      transition: height 700ms cubic-bezier(.70, 0, .40, 1);
    }
  }

  &-enter-active, &-leave-active {
    transform: translate(0, 0%);
  }

  &-enter-from {
    height: 0px;
    bottom: 0;

    .on-menuenter-hidden {
      // transform: translate(0%, 10%);
      transform: translate(0%, 2rem);
      opacity: 0;
    }

    .image-wrapper {
      height: 0;
    }
  }

  &-leave-to {
    top: var(--header-height);
    height: 0px;
    bottom: unset;

    .menu-inner-wrapper {
      top: 0;
      bottom: unset;
    }

    .image-wrapper {
      transition: height 800ms cubic-bezier(.70, 0, .40, 1);

      height: 0;
      top: 0;
      bottom: unset;

      .image {
        top: 0;
        bottom: unset;
      }
    }
  }
}

.overlay-fade-animation {
  &-enter-active, &-leave-active {}

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

</style>