<script setup>
const localePath = useLocalePath()
</script>

<template>
  <div class="amenities">
    <div class="container">
      <div class="w-full flex justify-center text-center mb-[var(--gap-15)] lg:mb-20">
        <h1 v-html="$t('home.amenities_title')"></h1>
      </div>
    </div>

    <AppAmenitiesHorizontalSlider />

    <!-- <div class="container">
      <div class="w-full flex justify-center gap-4 mt-12">
        <AppButtonPrimary :label="visi piedāvājumi" :icon="null" :to="localePath({name: 'services'})"/>
      </div>
    </div> -->
  </div>
</template>

<style lang="scss" scoped>

</style>