<script setup>
const cardNo = ref('')
const cardBalance = ref(null)
const cardBalanceLoading = ref(false)

const checkCard = async () => {
    cardBalanceLoading.value = true
    const form = new FormData()
    form.append('card-number', cardNo.value.replace(/\s/g, ''))

    try {
        const { data: balanceData, error } = await $fetch('/api/v1/giftcard/ballance', {
            method: 'POST',
            body: form
        })

        if (balanceData && balanceData.summ) {
            cardBalance.value = balanceData.summ
        } else {
            cardBalance.value = 0
        }

    } catch (error) {
        console.error('Error fetching balance:', error)
    } finally {
        cardBalanceLoading.value = false
    }
}

const clearBalance = () => {
    cardBalance.value = null
}

</script>

<template>
    <div class="gift-card-ballance-modal">
        <h2 v-html="$t('giftcard.get_ballance')"></h2>

        <div class="flex flex-col gap-8">
            <InputMask
              v-model="cardNo"
              mask="9999 9999 9999 9999"
              :placeholder="$t('giftcard.cardNumber')"
              class="search small-text"
              @input="clearBalance"
              slotChar=" "
            />

            <div>
              <AppButtonPrimary :label="$t('giftcard.check')" :disabled="cardNo.length < 1" @click.prevent="checkCard" />
            </div>
        </div>

        <div class="flex justify-cneter items-center gap-4" v-if="cardBalanceLoading || cardBalance !== null">

          <div class="h3 uppercase result">{{ $t('giftcard.balance_result') }}</div>
          <div class="h2">
            <div class="wrap">
            <template v-if="cardBalanceLoading">
                <i class="pi pi-spin pi-spinner text-[var(--primary-black-100)]"></i>
              </template>
              <template v-else>
                <span class="whitespace-nowrap" v-if="cardBalance">{{ cardBalance }}&euro;</span>
                <span v-else>0&euro;</span>
              </template>
            </div>
          </div>
        </div>
  </div>
</template>

<style lang="scss" scoped>

.gift-card-ballance-modal {
  display: flex;
  flex-direction: column;

  background-color: var(--primary-white-100);

  gap: var(--gap-10);
  padding: var(--gap-20);

  @include mobile {
    padding: var(--gap-10) var(--gap-6) var(--gap-6);
  }
}

.search {

  border-bottom: 1px solid var(--primary-black-100);
  padding-bottom: var(--gap-3);

  &::placeholder {
    // @extend .small-text;
    font-family : var(--desktop-small-text-family);
    font-size   : var(--mobile-small-text-size-rem);
    font-weight : var(--desktop-small-text-weight);
    line-height : var(--desktop-small-text-line-height);
    // color       : var(--primary-black-100);
    @include desktop-lg {
      font-size   : var(--desktop-small-text-size-rem);
    }

    color: var(--secondary-black-40, #9A9A9A);
  }
}

.result {
  @include mobile {
    width: 60%;
  }
}

.h2,
.h3 {
  line-height: 1;
}

.wrap {
  position: relative;
  height: 1em;
  width: 1em;

  .pi {
    display: block;
    aspect-ratio: 1;
  }
}

</style>