<script setup>
import { useDialog } from 'primevue/usedialog';
// import CardBalanceModal from './CardBalanceModal';

const CardBalanceModal = defineAsyncComponent(() => import('./CardBalanceModal'));
const dialog           = useDialog();
const localePath       = useLocalePath();

const getCardBalance = (event) => {
  dialog.open(CardBalanceModal, {
    props: {
      modal: true,
      dismissableMask: true,
    },
    data: {},

    onClose: (opt) => {
      const eventType = opt?.data?.eventType;
    },
  });
}

</script>

<template>
  <div class="card">
    <div class="container w-full gap-8 flex flex-col justify-center md:flex-row lg:gap-24">
      <div class="col-card md:w-6/12 lg:w-5/12">
        <AppFloatingCard
          background-image="/img/giftcard/back.png"
          foreground-image="/img/giftcard/front.png"
        />
      </div>
      <div class="col-text flex flex-col gap-4 justify-center md:w-5/12 lg:w-4/12">
        <h2 v-html="$t('shopingCard.card')"></h2>
        <div class="p" v-html="$t('giftcard.where_title_1')"></div>
        <div class="button-row mt-6 flex flex-col gap-6">
          <div>
            <AppButtonPrimary :label="$t('giftcard.get_your_card')" :icon="null" :to="localePath({name: 'giftcard'})" />
          </div>
          <div>
            <AppButtonTertiary :label="$t('giftcard.get_ballance_button')" hasCustomIcon icon="customicon--right" @click="getCardBalance"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .p-button {
    width: 100%;
    @include desktop {
      width: auto;
    }
  }
</style>
