<script setup>
const { homepageBanner } = useDataStore()
</script>

<template>
  <div class="hero w-full flex flex-col lg:flex-row">
    <div class="banner w-full flex">

      <div class="hidden column column-1 image-column lg:block">
        <NuxtImg class="image" :src="homepageBanner?.image?.path" :alt="homepageBanner?.image?.title" />
      </div>

      <div class="hidden column column-2 content-column lg:block">
        <div class="content p-10">          
          <NuxtImg class="image" v-if="homepageBanner?.campaign_logo?.path && !homepageBanner?.banner_text" :src="homepageBanner?.campaign_logo?.path" :alt="homepageBanner?.image?.title" />

          <h1 v-if="homepageBanner?.banner_text" v-html="homepageBanner.banner_text"></h1>

          <p v-if="homepageBanner?.banner_body" class="h3 uppercase has-html-content" v-html="homepageBanner.banner_body"></p>

          <div class="button-row">
            <AppButtonPrimary v-if="homepageBanner?.banner_text_link" :label="homepageBanner.banner_cta||'Uzzināt vairāk'" :icon="null" :to="homepageBanner.banner_text_link"/>
          </div>
        </div>
      </div>

      <div class="hidden column column-3 image-column lg:block">
        <NuxtImg class="image" :src="homepageBanner?.image?.path" :alt="homepageBanner?.image?.title" />
      </div>

      <div class="column column-4 image-column">
        <NuxtImg class="image" :src="homepageBanner?.image?.path" :alt="homepageBanner?.image?.title" />
      </div>
    </div>
    <div class="lg:hidden">
      <div class="content moblie-content pt-[var(--gap-13)] px-3 lg:px-10 pb-10">

          <NuxtImg class="image mb-4" v-if="homepageBanner?.campaign_logo?.path && !homepageBanner?.banner_text" :src="homepageBanner?.campaign_logo?.path" :alt="homepageBanner?.image?.title" />
          <h1 class="mb-8" v-if="homepageBanner?.banner_text" v-html="homepageBanner.banner_text"></h1>
          <div class="h3 uppercase has-html-content" v-if="homepageBanner?.banner_body" v-html="homepageBanner.banner_body"></div>

          <div class="button-row">
            <AppButtonPrimary class="button" v-if="homepageBanner?.banner_text_link" :label="homepageBanner.banner_cta||'Uzzināt vairāk'" :icon="null" :to="homepageBanner.banner_text_link"/>
          </div>
        </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  // margin-top: var(--header-height);
  margin-top: 0;
  background-color: var(--primary-beige-100);

  @include desktop-lg {
    height: calc(100vh - rem(80));
    max-height: 1000px;
  }

  .banner {
    @include desktop-lg {
      height: calc(100vh);
      height: auto;
    }
  }

  .column {
    @include desktop-lg {
      height: 100%;
    }

    &-1 {
      width: 15%;
    }
    &-2 {
      width: 35%;
    }
    &-3 {
      width: 10%;

      .image {
        object-position: center -10vw;
      }
    }
    &-4 {
      width: 100%;
      @include desktop-lg {
        width: 40%;
      }
      .image {
        @include desktop-lg {
          transform: scale(1.5);
        }

        // object-position: right bottom;
      }
    }
  }

  .image-column {
    overflow: hidden;

    .image {
      width: 100%;
      object-fit: cover;
      height: calc(100svh - (var(--header-height)) - var(--mobile-bottom-nav-height));

      @include desktop-lg {
        height: calc(100% + 15vw);
      }

      // transform: translateY(-5vw);
    }
  }

  .content-column {
    .content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: var(--gap-8);

      align-items: flex-start;
      justify-content: center;

      .button-row {
        margin-top: var(--gap-25);
      }

      .image {
        width: 100%;
        height: auto;
      }


    }
  }

  .moblie-content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;



    .image {

      @include desktop-lg {
        display: none;
      }

      @include desktop-lg-down {
        width: 50%;
      }

      @include mobile {
        width: 100%;
        height: auto;
      }

    }

    h1 {
      width: 100%;
    }

    p {

      @include desktop-lg-down {
        width: 50%;
      }

      @include mobile {
        width: 100%;
      }
    }

    .button-row {
      width: 100%;

      @include desktop-lg-down {
        margin-top: var(--gap-14);
      }

      @include mobile {
        margin-top: var(--gap-16);
      }
    }
  }
}
</style>