<script setup>
const dataStore  = useDataStore();
const localePath = useLocalePath()

const news = computed(() => {
  const news = dataStore?.news || null;

  if (news) {
    return news.slice(0, 7);
  }

  return [];
})

</script>

<template>
  <div class="offers flex flex-col">
    <div class="container">
      <div class="w-full flex justify-center text-center mb-[var(--gap-15)] lg:mb-20">
        <h1 v-html="$t('news.title')"></h1>
      </div>

      <AppSwiperNews :news-items="news" />

      <div class="w-full flex justify-center gap-4 mt-10 lg:mt-12">
        <AppButtonPrimary :label="$t('news.get_all')" :icon="null" :to="localePath({name: 'news'})" class="flex-1 md:flex-none"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>