<script setup>
const dataStore = useDataStore();
const localePath = useLocalePath()

const sales = computed(() => {
  const sales = dataStore?.sales || null;

  if (sales) {
    return sales.slice(0, 3);
  }

  return [];
})

</script>

<template>
  <div class="offers flex flex-col">
    <div class="container">
      <div class="w-full flex justify-center text-center mb-[var(--gap-15)] lg:mb-20">
        <h1 v-html="$t('home.actual_sales')"></h1>
      </div>

      <div class="tiles">
        <AppSalesTile
          v-for="(salesItem, index) in sales" :key="index"
          :salesItem="salesItem"
        />
      </div>

      <div class="w-full flex justify-center gap-4 mt-10 lg:mt-12">
        <AppButtonPrimary :label="$t('home.all_sales')" :icon="null" :to="localePath({name: 'discounts-category'})" class="w-full md:w-auto"/>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>