<script setup>
const localePath = useLocalePath()

// Props
const props = defineProps({
  audioStories: {
    type: Array,
    default: null
  }
});

const audioList = ref([
  {
    name: 'audio1',
    url: 'https://www.0dutv.com/upload/dance/F25F74A0B8FF82503241801D0E2CA5CD.mp3'
  },
  {
    name: 'audio2',
    url: 'https://www.0dutv.com/upload/dance/20200316/C719452E3C7834080007662021EA968E.mp3'
  }
  ]);

  // Optionally handle "before play" if needed (Commented out in original)
  // function handleBeforePlay(next) {
  //   this.currentAudioName = this.audioList[this.$refs.audioPlayer.currentPlayIndex].name;
  //   next(); // Continue playing
  // }
</script>

<template>
  <section id="audioStories">
    <div class="stories">
      <div v-for="story in audioStories" :key="story.id" :id="story.slug" class="story">
        <div class="story__inner flex flex-col justify-center md:flex-row">
          <div class="image-contain">
            <NuxtImg :src="story.image.path" :alt="story.title" class="audiostoryimage w-full" />
          </div>

          <div class="content-contain">
            <div class="story__content md:pl-6">
              <h2 v-html="story.title" class="mb-6 lg:mb-8"></h2>
              <p class="mb-6 lg:mb-10" v-html="story.excerpt"></p>
              <!-- <audio controls>
                <source :src="story.file.path" :type="`audio/${story.file.extension}`">
                Your browser does not support the audio element.
              </audio> -->
              <client-only>
                <PageAudiostoriesAudioPlayer
                  ref="audioPlayer"
                  theme-color="#000"
                  :audio-list="[story.file.path]"
                  :show-prev-button="false"
                  :show-next-button="false"
                  :show-playback-rate="false"
                />
              </client-only>

              <AppButtonTertiary
                :label="$t('audioStory.link')"
                :to="localePath({ name: 'audiostories-slug', params: { slug: story.slug } })"
                class="mt-6"
                hasCustomIcon
                icon="customicon--right"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.stories {
  width: 100%;
}
  .story {
    width: 100%;
    @include desktop-lg {
      padding-right: var(--gap-20);
    }

    .audiostoryimage {
      aspect-ratio: 1/1;
      height: auto;
      width: 100%;
      object-fit: cover;
    }

    &__inner {
      display: flex;
    }

    &:not(:first-child) {
      margin-top: var(--gap-13);
      @include desktop-lg {
        margin-top: var(--gap-16);
      }
    }

    .image-contain {
      margin-bottom: var(--gap-6);
      @include desktop {
        width: 40%;
        margin-bottom: 0
      }
    }
    .content-contain {
      @include desktop {
        width: 60%;
      }
    }

    @include desktop-lg {
      &:nth-child(even) {
        padding-right: 0;
        padding-left: var(--gap-20);
      }
    }
  }
</style>