<template>
    <div ref="audioPlayer" class="audio-player" :class="isPlaying ? 'is-playing' : ''">
      <div class="audio__btn-wrap">
        <div
          v-if="showPlaybackRate"
          class="audio__play-rate"
          :style="{
            color: themeColor,
          }"
        >
          <span @click.stop="isShowRates = !isShowRates">{{
            playbackRate.toFixed(1) + 'x'
          }}</span>
          <transition name="fade-rate">
            <div
              v-show="isShowRates"
              class="audio__play-rate__dropdown"
              :style="{
                backgroundColor: themeColor,
              }"
            >
              <div
                v-for="rate in playbackRates"
                :key="'pr_' + rate"
                @click.stop="handleSetPlaybackRate(rate)"
              >
                {{ rate.toFixed(1) + 'x' }}
              </div>
            </div>
          </transition>
        </div>

        <div
          v-if="showPrevButton"
          class="audio__play-prev"
          :class="{ disable: !isLoop && currentPlayIndex === 0 }"
          @click.stop="playPrev"
          :style="{
            color: themeColor,
          }"
        >
          <slot name="play-prev">
            <svg class="audio__play-icon" aria-hidden="true">
              <use xlink:href="#icon-play-prev" />
            </svg>
          </slot>
        </div>

        <div v-if="isLoading && showPlayLoading" class="audio__play-loading">
          <span
            v-for="item in 8"
            :key="item"
            :style="{
              backgroundColor: themeColor,
            }"
          />
        </div>

        <template v-else>
          <div
            v-if="!isPlaying && showPlayButton"
            class="audio__play-start"
            @click.stop="play"
            :style="{
              color: themeColor,
            }"
          >
            <slot name="play-start">
              <svg class="audio__play-icon" aria-hidden="true">
                <!-- <use xlink:href="#icon-play" /> -->
                <g clip-path="url(#clip0_2736_9370)">
                  <path d="M6 4V18L17 11L6 4Z" fill="black"/>
                </g>
                <defs>
                  <clipPath id="clip0_2736_9370">
                    <rect width="22" height="22" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </slot>
          </div>

          <div
            v-else-if="showPlayButton"
            class="audio__play-pause"
            @click.stop="pause"
            :style="{
              color: themeColor,
            }"
          >
            <slot name="play-pause">
              <svg class="audio__play-icon" aria-hidden="true">
                <!-- <use xlink:href="#icon-pause" /> -->
                <g clip-path="url(#clip0_2736_9378)">
                  <rect x="6" y="4" width="3.63636" height="14" fill="black"/>
                  <rect x="12.3636" y="4" width="3.63636" height="14" fill="black"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_2736_9378">
                  <rect width="22" height="22" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </slot>
          </div>
        </template>

        <div
          v-if="showNextButton"
          class="audio__play-next"
          :class="{
            disable: !isLoop && currentPlayIndex === audioList.length - 1,
          }"
          @click.stop="playNext"
          :style="{
            color: themeColor,
          }"
        >
          <slot name="play-next">
            <svg class="audio__play-icon" aria-hidden="true">
              <use xlink:href="#icon-play-next" />
            </svg>
          </slot>
        </div>



        <div v-show="isShowErrorMessage" class="audio__notice">
          {{ noticeMessage }}
        </div>
      </div>

      <div v-show="showProgressBar" class="audio__time-wrap">
        <div class="audio__current-time deca">
          {{ currentTimeFormatted }}&nbsp
        </div>
        <div class="audio__duration deca">
           / {{ durationFormatted }}
        </div>
      </div>

      <div
        v-show="showProgressBar"
        ref="audioProgressWrap"
        class="audio__progress-wrap"
        @click.stop="handleClickProgressWrap"
      >
        <div
          ref="audioProgress"
          class="audio__progress"
          :style="{
            backgroundColor: themeColor,
          }"
        />
        <div
          ref="audioProgressPoint"
          class="audio__progress-point"
          :style="{
            backgroundColor: themeColor,
            boxShadow: `0 0 10px 0 ${themeColor}`,
          }"
          @panstart="handleProgressPanstart"
          @panend="handleProgressPanend"
          @panmove="handleProgressPanmove"
        />
      </div>

      <!-- <div v-if="showVolumeButton" class="audio__play-volume-icon-wrap">
          <svg
            class="audio__play-icon"
            aria-hidden="true"
            :style="{
              color: themeColor,
            }"
            @click.stop="handleVolumeIconTouchstart"
          >

            <g clip-path="url(#clip0_2736_9371)">
              <path d="M2.75 8.2501V13.7501H6.41667L11 18.3334V3.66677L6.41667 8.2501H2.75ZM15.125 11.0001C15.125 9.3776 14.19 7.98427 12.8333 7.30594V14.6851C14.19 14.0159 15.125 12.6226 15.125 11.0001ZM12.8333 2.96094V4.84927C15.4825 5.6376 17.4167 8.09427 17.4167 11.0001C17.4167 13.9059 15.4825 16.3626 12.8333 17.1509V19.0393C16.5092 18.2051 19.25 14.9234 19.25 11.0001C19.25 7.07677 16.5092 3.7951 12.8333 2.96094Z" fill="black"/>
            </g>
            <defs>
              <clipPath id="clip0_2736_9371">
              <rect width="22" height="22" fill="white"/>
              </clipPath>
            </defs>
          </svg>

          <transition name="fade-volume">
            <div
              v-show="isShowVolume"
              ref="playVolumeWrap"
              class="audio__play-volume-wrap"
              @click.stop="handleVolumePanmove"
              @panmove="handleVolumePanmove"
              @panend="handleVolumePanend"
            >
              <div
                ref="playVolume"
                class="audio__play-volume"
                :style="{
                  height: currentVolume * 100 + '%',
                  backgroundColor: themeColor,
                }"
              />
            </div>
          </transition>
        </div> -->

      <audio
        ref="audio"
        class="audio-player__audio"
        :src="audioList[currentPlayIndex]"
        v-bind="$attrs"
        @ended="onEnded"
        @timeupdate="onTimeUpdate"
        @loadedmetadata="onLoadedmetadata"
      >
        浏览器太老咯，请升级浏览器吧~
      </audio>
    </div>
  </template>

<script setup>
import Core from '@any-touch/core'
import Pan from '@any-touch/pan'
import { useEventBus } from '~/composables/useEventBus'

const { emit, on, off } = useEventBus()

const audioPlayer = ref(null);
const isIOS = reactive(/iPhone|iPad|iPod/i.test(window.navigator.userAgent));
const isPlaying = ref(false);
const isDragging = ref(false);
const isDraggingVolume = ref(false);
const isShowErrorMessage = ref(false);
const isLoading = ref(false);
const isShowVolume = ref(false);
const isShowRates = ref(false);
const timer = ref(null);
const noticeMessage = ref('');
const duration = ref('');
const currentPlayIndex = ref(0);
const currentTime = ref('');
const currentVolume = ref(1);
const playbackRate = ref(1);
const at = ref(null);
const timeoutId = ref(null);

const audio = ref(null);
const audioProgressWrap = ref(null);
const audioProgress = ref(null);
const audioProgressPoint = ref(null);
const playVolumeWrap = ref(null);
const playVolume = ref(null);

const props = defineProps({
	// 音频播放列表
	audioList: {
		default: null,
		type: Array,
	},

	// 是否显示播放按钮
	showPlayButton: {
		default: true,
		type: Boolean,
	},

	// 是否显示上一首按钮
	showPrevButton: {
		default: true,
		type: Boolean,
	},

	// 是否显示下一首按钮
	showNextButton: {
		default: true,
		type: Boolean,
	},

	// 是否显示音量按钮
	showVolumeButton: {
		default: true,
		type: Boolean,
	},

	// 显示进度条
	showProgressBar: {
		default: true,
		type: Boolean,
	},

	// 播放前的回调函数
	beforePlay: {
		default: null,
		type: Function,
	},

	// 上一首前的回调函数
	beforePrev: {
		default: null,
		type: Function,
	},

	// 下一首前的回调函数
	beforeNext: {
		default: null,
		type: Function,
	},

	// 是否列表循环播放
	isLoop: {
		type: Boolean,
		default: true,
	},

	// 是否自动播放下一首
	isAutoPlayNext: {
		type: Boolean,
		default: true,
	},

	// 进度更新间隔
	progressInterval: {
		default: 1000,
		type: Number,
	},

	// 是否显示倍速播放速率
	showPlaybackRate: {
		type: Boolean,
		default: true,
	},

	// 是否显示播放时的 loading
	showPlayLoading: {
		type: Boolean,
		default: true,
	},

	playbackRates: {
		type: Array,
		default: () => [0.5, 1, 1.5, 2],
	},

	themeColor: {
		type: String,
		default: '#EC4141',
	},

	// 是否禁用进度条可拖拽功能
	disabledProgressDrag: {
		type: Boolean,
		default: false,
	},

	// 是否禁用进度条可点击功能
	disabledProgressClick: {
		type: Boolean,
		default: false,
	},
});

// Computed
const currentTimeFormatted = computed(() => {
	return currentTime.value ? formatTime(currentTime.value) : '00:00'
})

const durationFormatted = computed(() => {
	return duration.value ? formatTime(duration.value) : '00:00'
})


// Methods
const handleVolumeIconTouchstart = function() {
	isShowVolume.value = !isShowVolume.value
}

const handleVolumePanmove = function(event) {
	let playVolumeWrapRect = playVolumeWrap.value.getBoundingClientRect()
	let pageY = event.y
	let offsetTop
	let volume

	offsetTop = Math.round(playVolumeWrapRect.bottom - pageY)
	volume = offsetTop / playVolumeWrap.value.offsetHeight
	volume = Math.min(volume, 1)
	volume = Math.max(volume, 0)
	audio.value.volume = volume
	currentVolume.value = volume
	clearTimeout(timeoutId.value)
	closeVolumeOnTimer()
}

const handleVolumePanend = function() {
	isShowVolume.value = false
}

const handleSetPlaybackRate = function(rate) {
	playbackRate.value = +rate
	audio.value.playbackRate = +rate
	isShowRates.value = false
}

const handleShowErrorMessage = function(opts = {}) {
	noticeMessage.value = opts.message
	isShowErrorMessage.value = true

	window.setTimeout(() => {
		isShowErrorMessage.value = false
	}, opts.duration || 3000)
}

const onLoadedmetadata = function(event) {
	duration.value = audio.value.duration
	emit('loadedmetadata', event)
}

const onTimeUpdate = function(event) {
	emit('timeupdate', event)
}

const formatTime = function(second) {
	// 将秒数除以60，然后下舍入，既得到分钟数
	let hour
	hour = Math.floor(second / 60)
	// 取得秒%60的余数，既得到秒数
	second = Math.ceil(second % 60)
	// 将变量转换为字符串
	hour += ''
	second += ''
	// 如果只有一位数，前面增加一个0
	hour = hour.length === 1 ? '0' + hour : hour
	second = second.length === 1 ? '0' + second : second
	return hour + ':' + second
}

const onEnded = function(event) {
	window.setTimeout(() => {
		pause()
		emit('ended', event)

		if (props.isLoop && props.isAutoPlayNext) {
			playNext()
		}
	}, 1000)
}

const handleProgressPanstart = function(event) {
	if (props.disabledProgressDrag) return

	isDragging.value = true
	emit('progress-start', event)
}

const handleProgressPanend = function(event) {
	if (props.disabledProgressDrag) return

	audio.value.currentTime = currentTime.value
	play()
	isDragging.value = false
	emit('progress-end', event)
}

const handleProgressPanmove = function(event) {
	if (props.disabledProgressDrag) return

	let pageX = event.x
	let bcr = event.target.getBoundingClientRect()
	let targetLeft = parseInt(getComputedStyle(event.target).left)
	let offsetLeft = targetLeft + (pageX - bcr.left)

	offsetLeft = Math.min(
		offsetLeft,
		audioProgressWrap.value.offsetWidth,
	)
	offsetLeft = Math.max(offsetLeft, 0)
	// 设置点点位置
	setPointPosition(offsetLeft)
	// 设置进度条
	audioProgress.value.style.width = offsetLeft + 'px'
	// 设置当前时间
	currentTime.value =
          (offsetLeft / audioProgressWrap.offsetWidth) * duration.value
	emit('progress-move', event)
}

const handleClickProgressWrap = function(event) {
	if (props.disabledProgressClick) return

	let target = event.target
	let offsetX = event.offsetX

	if (target === audioProgressPoint) {
		return
	}

	// 设置当前播放位置
	currentTime.value =
          (offsetX / audioProgressWrap.value.offsetWidth) * duration.value
	audio.value.currentTime = currentTime.value
	// 设置点点位置
	setPointPosition(offsetX)
	// 设置进度条
	audioProgress.value.style.width = offsetX + 'px'
	play()
	emit('progress-click', event)
}

const setPointPosition = function(offsetLeft) {
	audioProgressPoint.value.style.left =
          offsetLeft - audioProgressPoint.value.offsetWidth / 2 + 'px'
}

const playing = function() {
	// 正在拖拽进度
	if (isDragging.value) {
		return
	}

	let offsetLeft =
          (audio.value.currentTime / audio.value.duration) *
          audioProgressWrap.value.offsetWidth

	currentTime.value = audio.value.currentTime
	audioProgress.value.style.width = offsetLeft + 'px' // 设置播放进度条
	setPointPosition(offsetLeft) // 设置播放进度拖拽点位置
	emit('playing')
}

const play = function() {
	emit('pause', audioPlayer)
	isLoading.value = true

	let handlePlay = () => {
		audio.value
			.play()
			.then(() =>  {
					if (timer.value) {
						currentTime.value = audio.value.currentTime
					} else {
						timer.value = window.setInterval(
							playing,
							props.progressInterval,
						)
					}

					isPlaying.value = true
					isLoading.value = false
					audio.value.playbackRate = playbackRate.value
				emit('play')
			})
			.catch((data) => {
				handleShowErrorMessage({
					message: data.message,
				})

				// Failed to load because no supported source was found.
				if (data.code === 9) {
					if (props.isAutoPlayNext) {
						window.setTimeout(() => {
							playNext()
						}, 3000)
					}
				}

				isLoading.value = false
				emit('play-error', data)
			})
	}

	// 解决 iOS 异步请求后无法播放
	if (isIOS) {
		// console.log(
		//   '为了解决 iOS 设备接口异步请求后出现无法播放问题，请无视 The play() request was interrupted by a call to pause() 错误',
		// )
		audio.value.play()
		audio.value.pause()
	}

	if (props.beforePlay) {
		props.beforePlay((state) => {
			if (state !== false) {
				handlePlay()
			}
		})
		return
	}

	handlePlay()
}

const pause = function() {
  audio.value.pause(); // Pause the audio
  nextTick(() => { // Call nextTick correctly
    clearTimer(); // Clear the timer
    isPlaying.value = false; // Update the playing state
    emit('pause'); // Emit the pause event
  });
};

const playPrev = function() {
	if (currentPlayIndex.value <= 0 && !props.isLoop) {
		// 无上一首了
		return
	}

	clearTimer()

	let handlePrev = () => {
		if (currentPlayIndex.value <= 0 && props.isLoop) {
			// 列表循环
			currentPlayIndex.value = props.audioList.length - 1
		} else {
			currentPlayIndex.value--
		}

		nextTick(() => {
			play()
			emit('play-prev')
		})
	}

	if (props.beforePrev) {
		props.beforePrev((state) => {
			if (state !== false) {
				handlePrev()
			}
		})
		return
	}
	handlePrev()
}

const clearTimer = function() {
	window.clearInterval(timer.value)
	timer.value = null
}

const playNext = function() {
	if (currentPlayIndex.value + 1 >= props.audioList.length && !props.isLoop) {
		// 无下一首了
		return
	}

	clearTimer()

	let handleNext = () => {
		// 已经到达列表最后一首
		if (currentPlayIndex.value + 1 >= props.audioList.length && props.isLoop) {
			currentPlayIndex.value = 0
		} else {
			currentPlayIndex.value++
		}

		nextTick(() => {
			play()
			emit('play-next')
		})
	}

	if (props.beforeNext) {
		props.beforeNext((state) => {
			if (state !== false) {
				handleNext()
			}
		})
		return
	}

	handleNext()
}

const closeVolumeOnTimer = function() {
	timeoutId.value = setTimeout(() => {
		isShowVolume.value = false
	}, 1000);
}


// Created
on('pause', (emittedInstance) => {
	if (emittedInstance !== this) {
		pause()
	}
})

// Mounted
onMounted(() => {
	at.value = new Core(audioPlayer.value, { preventDefault: false })
	at.value.use(Pan)
})

// BeforeDestroy
onBeforeUnmount(() => {
	pause()
	off('pause')
})
</script>

<style>
  @keyframes fadeVolume {
    from {
      height: 0;
    }
    to {
      height: 50px;
    }
  }

  @keyframes fadeRate {
    from {
      max-height: 0;
    }
    to {
      max-height: 120px;
    }
  }

  .fade-volume-enter-active {
    animation: fadeVolume 0.3s;
  }

  .fade-volume-leave-active {
    animation: fadeVolume 0.3s reverse;
  }

  .fade-rate-enter-active {
    animation: fadeRate 0.3s;
  }

  .fade-rate-leave-active {
    animation: fadeRate 0.3s reverse;
  }

  .audio-player {
    display: flex;
    align-items: center;
    /* padding: 15px 0; */
    padding: 12px 24px 12px 0;
    border-radius: 200px;
    border: 1px solid #000;
    transition: all 0.2s linear;
    max-width: 568px;
  }

  .audio-player.is-playing {
    background-color: var(--primary-beige-100);
  }

  .audio-player:hover {
    background-color: var(--primary-beige-100);
  }

  .audio-player:hover .audio__progress-wrap {
    background: var(--primary-white-100);
  }

  .audio-player.is-playing .audio__progress-wrap {
    background: var(--primary-white-100);
  }

  .audio-player:hover .audio__progress-wrap {
    background: var(--primary-white-100);
  }

  .audio-player .audio__btn-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .audio-player .audio__play-icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
    overflow: hidden;
  }

  .audio-player .audio__play-volume-icon-wrap {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    margin-left: 12px;
    margin-bottom: 6px;
    margin-right: 15px;
  }

  .audio-player .audio__play-volume-icon-wrap .audio__play-volume-wrap {
    position: absolute;
    width: 14px;
    height: 50px;
    bottom: 21px;
    left: 0;
    background-color: #ddd;
    border-radius: 10px;
  }

  .audio-player
    .audio__play-volume-icon-wrap
    .audio__play-volume-wrap
    .audio__play-volume {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
  }

  .audio-player .audio__play-rate {
    position: relative;
    height: 21px;
    line-height: 21px;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    font-size: 14px;
    margin-right: 16px;
  }

  .audio-player .audio__play-rate__dropdown {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    color: var(--primary-white-100);
    border-radius: 15px;
    font-size: 12px;
    overflow: hidden;
  }

  .audio-player .audio__play-prev {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .audio-player .audio__play-prev svg {
    display: block;
    width: 21px;
    height: 33px;
  }

  .audio-player .audio__play-prev.disable {
    opacity: 0.5;
  }

  .audio-player .audio__play-start {
    margin: 0 12px 0 14px;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .audio-player .audio__play-start svg {
    display: block;
    width: 22px;
    height: 22px;
  }

  .audio-player .audio__play-pause {
    margin: 0 12px 0 14px;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .audio-player .audio__play-pause svg {
    display: block;
    width: 22px;
    height: 22px;
  }

  .audio-player .audio__play-next {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .audio-player .audio__play-next svg {
    display: block;
    width: 21px;
    height: 33px;
  }

  .audio-player .audio__play-next.disable {
    opacity: 0.5;
  }

  .audio__notice {
    position: absolute;
    bottom: -15px;
    color: rgb(189, 178, 178);
    border-radius: 4px;
    font-size: 12px;
  }

  .audio-player .audio__progress-wrap {
    position: relative;
    background: #ddd;
    height: 4px;
    border-radius: 3px;
    /* margin-top: 20px; */
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    flex-grow: 1;
    transition: background 500ms linear;
  }

  .audio-player .audio__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border-radius: 3px;
  }

  .audio-player .audio__progress-point {
    position: absolute;
    left: -8px;
    top: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -8px;
    opacity: 0;
  }

  .audio-player .audio__progress-point:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background: var(--primary-white-100);
    border-radius: 50%;
  }

  .audio-player .audio__time-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 7px; */
    margin-right: 12px;
  }

  .audio-player .audio__current-time, .audio-player .audio__duration {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: -0.14px;
  }

  .audio-player .audio__current-time {
    color: #000;
  }

  .audio-player .audio__duration {
    color: #000;
  }

  .audio-player .audio-player__audio {
    display: block;
    margin: 0 auto;
  }

  /* @media (any-hover: hover) {
    .audio-player .audio__play-rate:hover > span {
      opacity: 0.7;
    }

    .audio-player .audio__play-rate__dropdown > div:hover,
    .audio__play-icon:hover {
      opacity: 0.7;
    }
  } */

  .audio__play-loading {
    width: 22px;
    height: 22px;
    position: relative;
    margin: 0 12px 0 14px;
  }

  .audio__play-loading span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    animation: loading 1.04s ease infinite;
  }

  @keyframes loading {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .audio__play-loading span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -4px;
    animation-delay: 0.13s;
  }
  .audio__play-loading span:nth-child(2) {
    left: 7px;
    top: 7px;
    animation-delay: 0.26s;
  }
  .audio__play-loading span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -4px;
    animation-delay: 0.39s;
  }
  .audio__play-loading span:nth-child(4) {
    top: 7px;
    right: 7px;
    animation-delay: 0.52s;
  }
  .audio__play-loading span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -4px;
    animation-delay: 0.65s;
  }
  .audio__play-loading span:nth-child(6) {
    right: 7px;
    bottom: 7px;
    animation-delay: 0.78s;
  }
  .audio__play-loading span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    animation-delay: 0.91s;
  }
  .audio__play-loading span:nth-child(8) {
    bottom: 7px;
    left: 7px;
    animation-delay: 1.04s;
  }
  </style>
