<script setup>

const props = defineProps({
  swiper: Object,
})

function onClick(event) {

  if (props.swiper) {
    props.swiper.slideNext();
  }
}

</script>

<template>
<div class="swiper-button" @click="onClick">
  <Button class="secondary" icon="pi pi-arrow-right" aria-label="Previous">
    <template #icon>
      <AppButtonCustomiconsCustomIcon icon="customicon--right"/>
    </template>
  </Button>
</div>
</template>

<style lang="scss" scoped>
.swiper-button {
  right: 0;
  left: auto;
  transform: translate(var(--gap-3), 0);
  // @include desktop {
  //   transform: translate(calc(50%), 0);
  // }
  @include desktop-xl {
    transform: translate(50%, 0);
  }
}
</style>