<script setup>

const props = defineProps({
  swiper: Object,
})

function onClick(event) {

  if (props.swiper) {
    props.swiper.slidePrev();
  }
}

</script>

<template>
<div class="swiper-button" @click="onClick">
  <Button class="secondary" icon="pi pi-arrow-left" aria-label="Previous">
    <template #icon>
      <AppButtonCustomiconsCustomIcon icon="customicon--left"/>
    </template>
  </Button>
</div>
</template>

<style lang="scss" scoped>
.swiper-button {
  left: 0;
  right: auto;
  transform: translate(calc(var(--gap-3) * -1), 0);
  @include desktop-xl {
    transform: translate(-50%, 0);
  }
}
.secondary {

}
</style>