$accentCollor: #fff !default;
$bgCollor: #000 !default;

@mixin a18yColorTepmlate {

  background-color: $bgCollor;

  img {
    // opacity: 0;
  }

  * {
    background-color: transparent !important;
    color: $accentCollor !important;

    ::placeholder {
      color: $accentCollor !important;
    }
  }

  .accesability-menu,
  .main-menu,
  header {
    background-color: $bgCollor !important;
    border: 1px solid $accentCollor !important;
    border-top: 0px solid $accentCollor !important;

  }

  .p-button {

    &:not(.link) {
      background-color: $bgCollor !important;
      border-color: $accentCollor !important;
    }
  }

  svg:not(.a18y-ignore-contrast) {
    path {
      stroke: $accentCollor !important;
    }
  }

  .logo {
    path {
      stroke-width: 0px;
      fill: $accentCollor !important;
    }
  }

  .icon.icon--menu {
    rect {
      fill: $accentCollor !important;
    }
    circle {
      fill: $bgCollor !important;
    }
  }

  .time-box {
    --workhours-color: #{$accentCollor};
  }

  footer {
    svg {
      path {
        stroke: unset !important;
        fill: $accentCollor !important;
      }
    }
  }

  .tile-colorbox {
    border: 1px solid $accentCollor !important;
  }

  @content;
}


$fontSize: 16px !default;

@mixin a18yFontTemplate {
  font-size: $fontSize;

  .main-menu {
    overflow: auto !important;

    .col {
      height: unset;

      &--menu {

        .social-icons {
          padding-top: var(--gap-5);
          padding-bottom: var(--gap-10);
        }
      }
    }

    .menu-inner-wrapper {
      // height: unset;
    }

    .menu-item-list {
      flex-direction: column;
    }

    .image-wrapper {

    }
  }

  .hero .content-column .content .button-row {
    margin-top: 0 !important;
  }

  .amenities .book-spine .inner {
    padding: var(--gap-6) var(--gap-10);
  }

  @content;
}