<script setup>
  const dayjs = useDayjs();
  const store = useOpentimesStore()

  const props = defineProps({
    workHours: Array,
    onlyToday: Boolean,
    underConstructionUntil: String,
    color: {
      type: String,
      default: '#000',
    }
  });

  const spiceWorkHours = computed(() => store.opentimes.spice)
  const spiceHomeWorkHours = computed(() => store.opentimes.spicehome)

  const spiceWorkHoursToday = computed(() => {
    const date = new Date()
    const today = date.getDay()
    const wh = spiceWorkHours.value

    if (!wh) {
      return '10:00 - 22:00'
    }

    for (let element of wh) {
      if (element.days.some(day => day == today)) {
        return `${timeFormat(element.start)} - ${timeFormat(element.end)}`
      }
    }

    return '10:00 - 22:00'
  })

  const spiceHomeWorkHoursToday = computed(() => {
    const date = new Date()
    const today = date.getDay()
    const wh = spiceHomeWorkHours.value

    if (!wh) {
      return today === 0 ? '10:00 - 20:00' : '10:00 - 21:00'
    }

    for (let element of wh) {
      if (element.days.some(day => day == today)) {
        return `${timeFormat(element.start)} - ${timeFormat(element.end)}`
      }
    }

    return today === 0 ? '10:00 - 20:00' : '10:00 - 21:00'
  });

  const timeFormat = (time) => {
    if (!time) return null
    return dayjs(`01-01-2002 ${time}`, "HH:mm:ss").format("HH:mm");
  }

  const isUnderConstruction = () => {
    if (props.underConstructionUntil && dayjs().format('YYYY-MM-DD HH:mm:ss') < dayjs(props.underConstructionUntil).format('YYYY-MM-DD HH:mm:ss')) {
      return true
    }
    return false
  }

  const formatTime = () => {
    return dayjs(props.underConstructionUntil).format('DD.MM')
  }
  </script>

  <template>
    <div class="today" v-if="onlyToday">
      <div class="shop-times">
        <div :style="{ color: color }">SPICE:</div>
        <div :style="{ color: color }">{{ spiceWorkHoursToday }}</div>
      </div>
      <div class="shop-times">
        <div :style="{ color: color }">SPICE HOME:</div>
        <div :style="{ color: color }">{{ spiceHomeWorkHoursToday }}</div>
      </div>
    </div>

    <div class="times" v-else>
      <div
        class="time-box mb-5 last:mb-0"
        v-for="wh in workHours"
        :key="wh.id"
        :class="{ multiple: workHours.length > 1 }"
      >
        <div class="footer-day-block">

          <span class="small-text" v-for="(day, index) in wh.days" :key="index">
            {{ $t(`days.day${day}`) }}
          </span>

          <div class="time mt-1" v-if="isUnderConstruction()">
            Veikals rekonstrukcijā {{ formatTime() }}
          </div>

          <div class="time mt-1" v-else-if="wh.start == null">
            Veikals slēgts
          </div>

          <div class="time mt-1" v-else>
            {{ timeFormat(wh.start) }} - {{ timeFormat(wh.end) }}
          </div>
        </div>
      </div>
    </div>
  </template>

  <style scoped lang="scss">

  .footer-day-block span {
    height: 24px;
    border: 1px solid var(--primary-black-100);
    padding: 4px 6px;
    color: #000;
    text-align: center;
    display: inline-block;

    &:not(:last-child) {
        margin-right: var(--gap-2);
    }
  }

  .shop-times {
    cursor: default;
  }

  .shop-times:nth-child(2) {
    margin-top: var(--gap-10);
  }

  @include mobile {
    .times {
      display: flex;
      flex-wrap: wrap;
    }

    .time-box.multiple {
      width: 50%;
    }
  }
  </style>