<script setup>
    import _ from 'lodash';

    const props = defineProps({
        shops: {
            type: Array,
            default: () => []
        },
    })

    const shopList = computed (() => {
      let result = _(props.shops)
        .groupBy((s) => {
          // let slug = slugify(s.title);
          let letter = s.slug[0].toUpperCase();

          if (!isNaN(parseInt(letter))) {
            return "#";
          }

          return letter;
        })
        .map((shops, letter) => {
          const isNumeric = letter == "#";
          return {letter, shops, isNumeric};
        })
        // Numeric shops needs to be in the back
        .orderBy(["isNumeric","letter"], ["asc", "asc"])
        .value();

      return result;
    })

</script>

<template>
    <div v-for="(l, index) in shopList" :key="index">
        <div class="flex items-center mb-4"><span class="paragraph mr-4" :id="'letter-' + l.letter">{{ l.letter }}</span><hr class="border"></div>
        <div class="grid mb-[var(--gap-15)] sm:grid-cols-2 lg:grid-cols-3 lg:mb-20 md:gap-10">
            <div v-for="shop in l.shops" :key="shop.id" class="cursor-pointer mb-10 last:mb-0 lg:mb-0" >
                <PageShopsSingleItem :shop="shop" />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>

  .border {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid var(--primary-black-100);
    height: unset;
  }

  .shop-logo {
      flex-shrink: 0;
      @include mobile {
          width: 22%;
      }
  }

  .shop-info {

      > div {
          align-items: center;

          &:not(:first-child):not(:last-child) {
              margin-bottom: calc(var(--gap-2) - (var(--gap-1) / 2));
          }
      }
      @include mobile {
          width: 78%;
      }
  }
</style>