<script setup>

const props = defineProps({
  shop: Object,
  full: Boolean,
});

const hasWhiteLogo = computed(() => {
  return false
  return props.shop && props.shop.logo?.path ? true : false;
})

const logo = computed(() => {
  if (props.shop?.main_logo) {
    return props.shop?.main_logo?.path;
  }

  return `${props.shop?.image}`;
  // return `/media/${props.shop?.image}`;
})


</script>

<template>
  <div :class="[hasWhiteLogo ? 'black' : '', 'w-full']">
    <NuxtImg :src="logo" :alt="shop.title" class="shop-logo w-full h-full" :class="{'is-full': full}" format="png" />
  </div>
</template>

<style lang="scss" scoped>
.shop-logo {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;

  width: 100%;
  max-width: var(--gap-20);

  padding: 5px;

  &.is-full {
    aspect-ratio: unset;
    width: 100%;
    max-width: none;
    height: var(--gap-25);

    padding: var(--gap-4);
  }
}

.black {
  background: #000;
}
</style>
