<script setup>
const dataStore = useDataStore();

const props     = defineProps({
  shopId: {
    type: Number,
    required: true,
  },
});

const featuredSales = computed(() => {
  return dataStore.getSalesByShopId(props.shopId);
});

</script>

<template>
  <div v-if="featuredSales" class="offers flex flex-col">
    <div>
      <div class="tiles">
        <AppSalesTile
          v-for="(salesItem, index) in featuredSales" :key="index"
          :salesItem="salesItem"
        />
      </div>
    </div>
  </div>
</template>