<script setup>
const route = useRoute()
const locale = useI18n()
/**
 * @todo Move fetching to global store
 */
const featuredSalesData = useFetch(`/api/v1/shop/sales-featured/${route.params.slug}`, {headers: {'accept-language': locale.code}})
const featuredSales = ref(featuredSalesData?.data?.value?.data || null)

</script>

<template>
  <div v-if="featuredSales" class="offers flex flex-col">
    <div class="container">
      <div class="tiles">
        <AppSalesTile
          v-for="(salesItem, index) in featuredSales" :key="index"
          :salesItem="salesItem"
        />
      </div>
    </div>
  </div>
</template>