<script setup>
const dayjs      = useDayjs()
const { locale } = useI18n()
const localePath = useLocalePath()

const { newsItem } = defineProps({
  newsItem: {
    type: Object,
    required: true
  }
});

onMounted(() => {
  // console.log(newsItem);
});
</script>

<template>
  <div class="tile tile--is-rect">
    <NuxtImg class="tile-image" :src="newsItem.path" width="800" :alt="newsItem.title" />
  </div>

</template>

<style lang="scss" scoped>
.tile {

  &:hover {

    &::v-deep(button) {
      background-color: var(--primary-black-100);
      color: var(--primary-white-100);
    }
  }
}
</style>