:root {

  --font-giga: #{$font-giga};
  --font-deca: #{$font-deca};
  --font-didot: #{$font-didot};

  /* TYPE */
  --desktop-h1-regular-family        : #{$font-didot};
  --desktop-h1-regular-size          : 80px;
  --desktop-h1-regular-size-rem      : 5rem;
  --desktop-h1-regular-weight        : 400;
  --desktop-h1-regular-style         : normal;
  --desktop-h1-regular-line-height   : 110%;

  --desktop-h1-italic-family         : #{$font-didot};
  --desktop-h1-italic-size           : 80px;
  --desktop-h1-italic-size-rem       : 5rem;
  --desktop-h1-italic-style          : italic;
  --desktop-h1-italic-line-height    : 110%;

  --desktop-h2-regular-family        : #{$font-didot};
  --desktop-h2-regular-size          : 50px;
  --desktop-h2-regular-size-rem      : 3.125rem;
  --desktop-h2-regular-weight        : 400;
  --desktop-h2-regular-style         : normal;
  --desktop-h2-regular-line-height   : 108%;

  --desktop-h2-italic-family         : #{$font-didot};
  --desktop-h2-italic-size           : 50px;
  --desktop-h2-italic-size-rem       : 3.125rem;
  --desktop-h2-italic-style          : italic;
  --desktop-h2-italic-line-height    : 108%;

  --desktop-h3-family                : #{$font-giga};
  --desktop-h3-size                  : 16px;
  --desktop-h3-size-rem              : 1rem;
  --desktop-h3-weight                : 400;
  --desktop-h3-style                 : normal;
  --desktop-h3-line-height           : 122%;

  --desktop-h4-family                : #{$font-giga};
  --desktop-h4-size                  : 14px;
  --desktop-h4-size-rem              : 0.875rem;
  --desktop-h4-weight                : 400;
  --desktop-h4-style                 : normal;
  --desktop-h4-line-height           : 140%;

  --desktop-description-family       : #{$font-giga};
  --desktop-description-size         : 12px;
  --desktop-description-size-rem     : 0.75rem;
  --desktop-description-weight       : 400;
  --desktop-description-style        : normal;
  --desktop-description-line-height  : 130%;

  --desktop-paragraph-family         : #{$font-deca};
  --desktop-paragraph-size           : 16px;
  --desktop-paragraph-size-rem       : 1rem;
  --desktop-paragraph-weight         : 400;
  --desktop-paragraph-style          : normal;
  --desktop-paragraph-line-height    : 140%;

  --desktop-paragraph-bd-family      : #{$font-deca};
  --desktop-paragraph-bd-size        : 16px;
  --desktop-paragraph-bd-size-rem    : 1rem;
  --desktop-paragraph-bd-weight      : 700;
  --desktop-paragraph-bd-style       : normal;
  --desktop-paragraph-bd-line-height : 140%;

  --desktop-small-text-family        : #{$font-deca};
  --desktop-small-text-size          : 14px;
  --desktop-small-text-size-rem      : 0.875rem;
  --desktop-small-text-weight        : 400;
  --desktop-small-text-style         : normal;
  --desktop-small-text-line-height   : 130%;

  --mobile-h1-regular-family         : #{$font-didot};
  --mobile-h1-regular-size           : 64px;
  --mobile-h1-regular-size-rem       : 4rem;
  --mobile-h1-regular-weight         : 400;
  --mobile-h1-regular-style          : normal;
  --mobile-h1-regular-line-height    : 110%;

  --mobile-h1-italic-family          : #{$font-didot};
  --mobile-h1-italic-size            : 64px;
  --mobile-h1-italic-size-rem        : 4rem;
  --mobile-h1-italic-style           : italic;
  --mobile-h1-italic-line-height     : 110%;

  --mobile-h2-regular-family         : #{$font-didot};
  --mobile-h2-regular-size           : 38px;
  --mobile-h2-regular-size-rem       : 2.375rem;
  --mobile-h2-regular-weight         : 400;
  --mobile-h2-regular-style          : normal;
  --mobile-h2-regular-line-height    : 108%;

  --mobile-h2-italic-family          : #{$font-didot};
  --mobile-h2-italic-size            : 38px;
  --mobile-h2-italic-size-rem        : 2.375rem;
  --mobile-h2-italic-style           : italic;
  --mobile-h2-italic-line-height     : 108%;

  --mobile-h3-family                 : #{$font-giga};
  --mobile-h3-size                   : 16px;
  --mobile-h3-size-rem               : 1rem;
  --mobile-h3-weight                 : 400;
  --mobile-h3-style                  : normal;
  --mobile-h3-line-height            : 122%;

  --mobile-h4-family                 : #{$font-giga};
  --mobile-h4-size                   : 14px;
  --mobile-h4-size-rem               : 0.875rem;
  --mobile-h4-weight                 : 400;
  --mobile-h4-style                  : normal;
  --mobile-h4-line-height            : 140%;

  --mobile-description-family        : #{$font-giga};
  --mobile-description-size          : 12px;
  --mobile-description-size-rem      : 0.75rem;
  --mobile-description-weight        : 400;
  --mobile-description-style         : normal;
  --mobile-description-line-height   : 130%;

  --mobile-paragraph-family          : #{$font-deca};
  --mobile-paragraph-size            : 16px;
  --mobile-paragraph-size-rem        : 1rem;
  --mobile-paragraph-weight          : 400;
  --mobile-paragraph-style           : normal;
  --mobile-paragraph-line-height     : 140%;

  --mobile-paragraph-bd-family       : #{$font-deca};
  --mobile-paragraph-bd-size         : 16px;
  --mobile-paragraph-bd-size-rem     : 1rem;
  --mobile-paragraph-bd-weight       : 700;
  --mobile-paragraph-bd-style        : normal;
  --mobile-paragraph-bd-line-height  : 140%;

  --mobile-small-text-family         : #{$font-deca};
  --mobile-small-text-size           : 14px;
  --mobile-small-text-size-rem       : 0.875rem;
  --mobile-small-text-weight         : 400;
  --mobile-small-text-style          : normal;
  --mobile-small-text-line-height    : 130%;

  /* COLORS */
  --primary-black-100    : #030303;
  --primary-white-100    : #ffffff;
  --primary-beige-100    : #eacebf;

  --secondary-black-80   : #515151;
  --secondary-black-40   : #9a9a9a;
  --secondary-black-5    : #f2f2f2;

  --tertiary-noble-green : #172924;
  --tertiary-noble-red   : #4a1c1f;
  --tertiary-noble-blue  : #1d2e33;
  --tertiary-brown       : #736863;
  --tertiary-light-brown : #d3bdae;
  --tertiary-beige-50    : #f2e2d9;

  --info-color-error     : #d10a0a;
  --info-color-success   : #04831d;

  /* SHADOWS */
  --focus-line: 0 0 0 2px rgba(3 3 3 / 0.24);

  /* GRIDS */
  --desktop-columns    : 12;
  --desktop-gutter     : 24px;
  --desktop-gutter-rem : 1.5rem;
  --mobile-columns     : 4;
  --mobile-gutter      : 24px;
  --mobile-gutter-rem  : 1.5rem;


  /* GAPS */
  // Define base spacing unit
  $base-spacing-unit: 0.25rem;
  // $base-spacing-unit-mobile: 0.146rem;

  // Generate spacing classes
  @for $i from 1 through 45 {
    --gap-#{$i}: #{ $i * $base-spacing-unit };
  }

  // @include mobile {
  //   @for $i from 1 through 45 {
  //     --gap-#{$i}: #{ $i * $base-spacing-unit-mobile };
  //   }
  // }

  /* BANNER */
  --desktop-banner-vh: calc(68vh - 5rem);



  /* MAP */
  --hover-fill-color: var(--tertiary-noble-red);
  // --hover-fill-color: #ED1C24;
  --hover-text-color: #fff;


  /* MISC ELEMENT SIZES */
  --header-height: var(--gap-18);
  --mobile-bottom-nav-height: var(--gap-16);
  @include desktop {
    --mobile-bottom-nav-height: var(--gap-18);
  }
  @include desktop-lg {
    --header-height: var(--gap-20);
  }
}