@font-face {
  font-family: "Didot";
  font-style: italic;
  src: url('/fonts/didot-italic.ttf') format("truetype");
}
@font-face {
  font-family: "Didot";
  font-style: normal;
  src: url('/fonts/didote.ttf') format("truetype");
}
