body {

  @include mobile {
    --scrollbar-size: 0px !important;
  }
}

body.overflow-hidden {
  overflow: hidden;
  padding-right: var(--scrollbar-size);

  @include mobile {
    padding-right: 0;
  }
}


.desktop {
  // display: block;
  @include mobile {
      display: none !important;
  }
}

.mobile {
  @include desktop {
      display: none !important;
  }
}

.container-inner {
  @include desktop-xl {
    width: 80%;
    margin: 0 auto;
  }
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-page {
  height: 100%;
}

/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
hr {
  all: unset;
  box-shadow: none;
  outline: none;
  color: transparent;
  margin: 0;
  padding: 0;
}


/* Sizes for svg */
.s-16 {
  width: var(--gap-4);
  height: var(--gap-4);
}
.s-24 {
  width: var(--gap-6);
  height: var(--gap-6);
}
.s-32 {
  width: var(--gap-8);
  height: var(--gap-8);
}
