@use "sass:math";
@use "sass:list";

$rem-base: 16px;

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin tablet {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin desktop-lg {
  @media (min-width: 1024px) {
    @content;
}
}
@mixin desktop-lg-down {
  @media (max-width: 1023px) {
    @content;
}
}
@mixin desktop-xl {
  @media (min-width: 1280px) {
      @content;
  }
}


/**
 * Divides two numbers. Basically a wrapper for math.div
 * @param {Number} $value - The value to divide
 */
@function div($value, $div) {
  @return math.div($value, $div);
}

/**
 * Strips the unit from a number
 * @param {Number} $num - The number to strip the unit from
 */
@function strip-unit($num) {
  @return math.div($num , ($num * 0 + 1));
}

/**
 * Converts a value to rem
 * @param {Number} $value - The value to convert
 * @param {Number} $base-value - The base value to convert from
 */
@function convert-to-rem($value, $base-value: $rem-base)  {
  $svvalue: strip-unit($value);
  $sbvalue: strip-unit($base-value);

  $value: math.div($svvalue, $sbvalue) * 1rem;

  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

/**
 * Converts a list of values (or one value if needed) to rem
 * @param {List} $values - The list of values to convert
 * @param {Number} $base-value - The base value to convert from
 */
@function rem($values, $base-value: $rem-base) {
  $max: list.length($values);
  @if $max == 1 { @return convert-to-rem(list.nth($values, 1), $base-value); }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(list.nth($values, $i), $base-value));
  }
  @return $remValues;
}