h1, .h1 {
  font-family : var(--desktop-h1-regular-family);
  font-size   : var(--mobile-h1-regular-size-rem);
  font-weight : var(--desktop-h1-regular-weight);
  line-height : var(--desktop-h1-regular-line-height);
  color       : var(--primary-black-100);

  letter-spacing: -0.06em;
  @include desktop-lg {
    font-size   : var(--desktop-h1-regular-size-rem);
  }
}

h2, .h2 {
  font-family : var(--desktop-h2-regular-family);
  font-size   : var(--mobile-h2-regular-size-rem);
  font-weight : var(--desktop-h2-regular-weight);
  line-height : var(--desktop-h2-regular-line-height);
  color       : var(--primary-black-100);

  letter-spacing: -0.06em;
  @include desktop-lg {
    font-size   : var(--desktop-h2-regular-size-rem);
  }
}

h3, .h3 {
  font-family : var(--desktop-h3-family);
  font-size   : var(--mobile-h3-size-rem);
  font-weight : var(--desktop-h3-weight);
  line-height : var(--desktop-h3-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-h3-size-rem);
  }
}

h4, .h4 {
  font-family : var(--desktop-h4-family);
  font-size   : var(--mobile-h4-size-rem);
  font-weight : var(--desktop-h4-weight);
  line-height : var(--desktop-h4-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-h4-size-rem);
  }
}

.description {
  font-family : var(--desktop-description-family);
  font-size   : var(--mobile-description-size-rem);
  font-weight : var(--desktop-description-weight);
  line-height : var(--desktop-description-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-description-size-rem);
  }
}

p, .paragraph, .p {
  font-family : var(--desktop-paragraph-family);
  font-size   : var(--mobile-paragraph-size-rem);
  font-weight : var(--desktop-paragraph-weight);
  line-height : var(--desktop-paragraph-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-paragraph-size-rem);
  }

}

p.bd, .paragraph.bd, .p.bd {
  font-family : var(--desktop-paragraph-bd-family);
  font-size   : var(--mobile-paragraph-bd-size-rem);
  font-weight : var(--desktop-paragraph-bd-weight);
  line-height : var(--desktop-paragraph-bd-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-paragraph-bd-size-rem);
  }
}

.small-text {
  font-family : var(--desktop-small-text-family);
  font-size   : var(--mobile-small-text-size-rem);
  font-weight : var(--desktop-small-text-weight);
  line-height : var(--desktop-small-text-line-height);
  color       : var(--primary-black-100);
  @include desktop-lg {
    font-size   : var(--desktop-small-text-size-rem);
  }
}

ul {
  padding-left: var(--gap-5);
  list-style-type: circle;

  li {
    @extend .paragraph;

    list-style-position: outside;
    list-style-type: disc;
    // list-style: inside;
  }
}

.has-html-content {

  p, .paragraph, .p {
    margin-bottom: var(--gap-3);
  }

  a {
    display: inline-block;
    border: none;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid var(--primary-black-100);

    padding: var(--gap-2) 0;
    justify-content: flex-start;

    &:active {
      --btn-bg: transparent;
      color: initial;
      border-bottom: 1px solid var(--primary-black-100);
    }

    &:hover {
      @include desktop-lg {
        --btn-bg: transparent;
        color: initial;
        // font-weight: bold;

        border-bottom: 1px solid var(--primary-black-100);
      }
    }
  }
}