<script setup>

defineI18nRoute({
    paths: {
        en: '/shops/[[category]]',
        lv: '/veikali/[[category]]',
    }
})

import _filter from "lodash/filter";
import _orderBy from "lodash/orderBy";
import _find from "lodash/find";

const { t }      = useI18n();
const dataStore  = useDataStore();
const localePath = useLocalePath();
const route      = useRoute();

const selectedBuilding = ref(null);
const selectedCategory = ref(null);
const search           = ref("");

const filteredShopSuggestions = ref([]);

const onChangeCat = async (newValue) => {
  let path = null;

  if (selectedCategory.value) {
    path = localePath({
      name: "shops-category",
      params: {
        category: selectedCategory.value.slug,
      },
    });
  } else {
    path = localePath({ name: "shops" });
  }

  await navigateTo(path);
};
const filterShoplistForAutocompleate = (event) => {
  const shops = dataStore.shops
  // return [...filteredShops.value.map(shop => {
  //   return shop.title;
  // })]
  setTimeout(() => {
    if (!event.query.trim().length) {
      filteredShopSuggestions.value = [...shops];
    } else {
      filteredShopSuggestions.value = shops.filter((shop) => {
        return shop.title.toLowerCase().startsWith(event.query.toLowerCase())
         || shop.slug.toLowerCase().startsWith(event.query.toLowerCase());
      });
    }
  }, 250);
};

const currentCategory    = computed(() => {
  const catBySlug = _find(dataStore.categories, { slug: route.params.category });

  selectedCategory.value = catBySlug;

  return catBySlug;
});
const filteredShops      = computed(() => {
  // Set all shops by default
  let shopList = dataStore.shops;

  // const searchQuery = slugify(search.value?.slug).toLowerCase();
  const searchQuery  = search.value?.slug;
  // const searchQuery2 = search.value.toLowerCase();

  const selectedSite = selectedBuilding.value;
  const categoryId = currentCategory?.value?.id;

  // Filter shops by category
  if (categoryId != null) {
    let shopListArray = [];
    for (var i = 0; i < dataStore.shops.length; i++) {
      if (dataStore.shops[i].categories.length > 0) {
        for (var z = 0; z < dataStore.shops[i].categories.length; z++) {
          if (dataStore.shops[i].categories[z].id == categoryId) {
            shopListArray.push(dataStore.shops[i]);
          }
        }
      }
    }

    shopList = shopListArray;
  }

  // Filter shops by site (spice, spicehome, etc)
  if (selectedSite) {
    shopList = _filter(shopList, ["site", selectedSite]);
  }

  // Filter shops by search query
  if (searchQuery && searchQuery.length > 0) {
    shopList = _filter(shopList, function (shop) {
      return (
        shop.slug.toLowerCase().indexOf(searchQuery) > -1
        // || shop.title.toLowerCase().indexOf(searchQuery2) > -1
      );
    });
  }

  return shopList;
});
const getCategoriesArray = computed(() => {
  if (dataStore.categories) {
    const orderedCats = _orderBy(dataStore.categories, "name");
    return [
      { id: -1, name: t('shop.choose_cat'), slug: null },
      ...Object.values(orderedCats),
    ];
  }

  return [];
});

</script>

<template>
  <div class="page">
    <MainSubpageHero :image="`/img/heroimages/shops.png`"/>

    <div class="innerpage">
      <div class="innerpage-block">
        <div class="container">
          <h1 class="text-center mb-10 lg:mb-20" v-html="$t('shops.title')"></h1>
          <div class="filter relative z-1 mb-[var(--gap-13)] lg:mb-6">
            <div class="flex flex-wrap text-center justify-center gap-x-10 lg:gap-x-0">
              <div
                class="nav-item mb-3 cursor-pointer"
                @click="selectedBuilding = null"
                :class="{ active: selectedBuilding == null }"
              >
                <div class="h3 nav-item__text uppercase mx-auto py-2">
                  {{ $t('shop.allShops') }}
                </div>
              </div>
              <div
                v-for="(building, index) in dataStore.buildings"
                :key="index"
                class="nav-item mb-3 cursor-pointer w-auto lg:ml-12"
                @click="selectedBuilding = building.site"
                :class="{ active: selectedBuilding == building.site }"
              >
                <div class="h3 nav-item__text uppercase mx-auto py-2">
                  {{ building.name }}
                </div>
              </div>
            </div>
          </div>

          <div
            class="inputs w-full flex justify-center flex-col gap-10 mb-[var(--gap-15)] md:flex-row lg:mb-20 lg:gap-16 relative z-2"
          >
            <div class="select-wrap">
              <AppSelect
                v-model="selectedCategory"
                :options="getCategoriesArray"
                optionLabel="name"
                :placeholder="$t('shop.choose_cat')"
                class="select inline-flex justify-between w-full md:w-80"
                @change="onChangeCat"
              ></AppSelect>
            </div>

            <div class="search-wrap">
              <AppShopAutoComplete
                v-model="search"
                :suggestions="filteredShopSuggestions"
                @complete="filterShoplistForAutocompleate"
              />
              <!-- <input placeholder="Meklēt veikalu" class="search w-full md:w-80 pr-2 pb-3 pl-2" type="text" v-model="search" /> -->
            </div>
          </div>

          <div class="w-full relative z-1">
            <!-- <ProgressSpinner v-if="loading" style="margin-left: auto; margin-right: auto; width: 50px; height:50px" /> -->
            <PageShopsList :shops="filteredShops" />
            <!-- <div v-else class="paragraph">Meklējuma rezultāti netika atrasti</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.filter {
  .nav-item {
    .nav-item__text {
      border-bottom: 1px solid transparent;
      width: max-content;
    }
    &:hover,
    &.active {
      .nav-item__text {
        border-bottom: 1px solid var(--primary-black-100);
      }
    }
  }
}

.inputs {
  width: 100%;
  justify-content: center;

  .select-wrap, .search-wrap {
    width: 100%;
    @include desktop-lg {
      max-width: 20rem;
    }
  }
}
</style>