<script setup>
const {images} = defineProps({
  images: {
    type: Array,
    default: []
  }
});

const swiperObject    = ref(null);
const setSwiper = (swiper) => {
  swiperObject.value = swiper;
};

</script>

<template>
  <ClientOnly>

    <div class="swiperParentWrapper" v-if="images.length">

      <Swiper
        @swiper="setSwiper"
        class="swiper swiper--has-tiles"
        :loop="true"
      >

        <SwiperSlide v-for="(image, index) in images" :key="image.id" class="swiper-tile">
          <AppImageTile :image="image" />
        </SwiperSlide>

      </Swiper>

      <AppSwiperButtonNext :swiper="swiperObject"/>
      <AppSwiperButtonPrev :swiper="swiperObject"/>
    </div>

  </ClientOnly>

</template>

<style lang="scss" scoped>

.swiperParentWrapper {
  width: 100%;
  position: relative;
}
</style>