<script setup>
    const {locations} = defineProps({
        locations: {
            type: Array,
            default: []
        }
    })
    const swiperObject    = ref(null);
    const setSwiper = (swiper) => {
        swiperObject.value = swiper;
    };
</script>
<template>
    <ClientOnly>

        <div class="swiperParentWrapper w-full relative mb-10 lg:hidden" v-if="locations && locations.length">

            <Swiper
                @swiper="setSwiper"
                class="swiper swiper--has-tiles"
                :loop="true"
            >

                <SwiperSlide v-for="(location, index) in locations" :key="location.id" class="swiper-tile">
                    <PageGiftcardLocationTile :location="location" />
                </SwiperSlide>

            </Swiper>

            <AppSwiperButtonNext  :swiper="swiperObject"/>
            <AppSwiperButtonPrev  :swiper="swiperObject"/>
        </div>

    </ClientOnly>
</template>