<script setup>
const {newsItems} = defineProps({
  newsItems: {
    type: Array,
    default: []
  }
});

const swiperObject    = ref(null);
const setSwiper = (swiper) => {
  swiperObject.value = swiper;
};

</script>

<template>
  <ClientOnly>

    <div class="swiperParentWrapper" v-if="newsItems.length">

      <Swiper
        @swiper="setSwiper"
        class="swiper swiper--has-tiles"
        :breakpoints="{
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        }"
        :loop="true"
      >

        <SwiperSlide v-for="(newsItem, index) in newsItems" :key="newsItem.id" class="swiper-tile">
          <AppNewsTile :newsItem="newsItem" />
        </SwiperSlide>

      </Swiper>

      <AppSwiperButtonNext :swiper="swiperObject"/>
      <AppSwiperButtonPrev :swiper="swiperObject"/>
    </div>

  </ClientOnly>

</template>

<style lang="scss" scoped>

.swiperParentWrapper {
  width: 100%;
  position: relative;
  &::v-deep(.swiper-button) {
    top: 50vw;
    @include desktop {
      top: 40%;
    }
  }
}
</style>