<script setup>
const {offers} = defineProps({
  offers: {
    type: Array,
    default: []
  }
});

const swiperObject    = ref(null);
const setSwiper = (swiper) => {
  swiperObject.value = swiper;
};

</script>

<template>
  <ClientOnly>

    <div class="swiperParentWrapper" v-if="offers && offers.length">

      <Swiper
        @swiper="setSwiper"
        class="swiper swiper--has-tiles"
        :loop="true"
      >

        <SwiperSlide v-for="(offer, index) in offers" :key="offer.id" class="swiper-tile">
          <AppSalesTile :salesItem="offer" />
        </SwiperSlide>

      </Swiper>

      <AppSwiperButtonNext v-if="offers.length > 1":swiper="swiperObject"/>
      <AppSwiperButtonPrev v-if="offers.length > 1":swiper="swiperObject"/>
    </div>

  </ClientOnly>

</template>

<style lang="scss" scoped>

.swiperParentWrapper {
  width: 100%;
  position: relative;
  &::v-deep(.swiper-button) {
    top: 34vw;
    @include desktop-lg {
      top: 40%;
    }
  }
}
</style>