<script setup>
const localePath = useLocalePath()
</script>

<template>
  <footer id="footer">
    <div class="container flex flex-col gap-10">
      <div class="w-full flex flex-col justify-between lg:flex-row">
        <div class="flex flex-col gap-10 lg:gap-0">
          <div class="w-full flex flex-wrap flex-col gap-10 md:gap-y-10 md:gap-x-0 md:-mx-6 md:flex-row lg:gap-y-24 lg:gap-x-24 lg:mx-0">

            <div class="flex flex-col md:w-4/12 md:px-6 lg:w-auto lg:px-0">
              <div class="h3 uppercase mb-3">{{$t('footer.tc')}} Spice</div>
              <AppWorkHours spice :style="`--color: var(--primary-white-100)`"/>
            </div>

            <div class="flex flex-col md:w-4/12 md:px-6 lg:w-auto lg:mr-0 lg:px-0">
              <div class="h3 uppercase mb-3">{{$t('footer.tc')}} SPICE home</div>
              <AppWorkHours spicehome :style="`--color: var(--primary-white-100)`"/>
            </div>

            <div class="hidden w-4/12 md:block lg:hidden"></div>

            <div class="flex flex-col md:w-4/12 md:px-6 lg:w-auto lg:px-0">
              <div class="h3 uppercase mb-3">{{$t('footer.contacts')}}</div>
              <p class="mb-1">Lielirbes iela 29, Rīga</p>
              <p class="mb-1">(+371) 67 807 281</p>
              <p class="mb-1">info@spice.lv</p>
            </div>

            <div class="hidden w-4/12 px-6 md:flex lg:hidden">
              <div class="flex flex-col">
                <div class="h3 uppercase mb-3">{{$t('footer.follow')}}</div>
                <div class="flex gap-[var(--gap-13)]">
                  <div class="flex flex-col">
                    <a href="https://www.instagram.com/tkspice/" class="p mb-1">Instagram</a>
                    <a href="https://www.facebook.com/TKSpice/" class="p mb-1">Facebook</a>
                  </div>
                  <div class="flex flex-col">
                    <a href="https://www.tiktok.com/@spiceshoppingcentre" class="p mb-1">TikTok</a>
                    <a href="https://www.linkedin.com/company/shopping-centre-spice" class="p mb-1">LinkedIn</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden w-4/12 px-6 md:block lg:hidden">
              <div class="h3 uppercase mb-3">{{$t('footer.find_us')}}</div>
              <div class="flex flex-col">
                <a class="p mb-1" target="_blank" href="https://ul.waze.com/ul?preview_venue_id=15729209.157554237.321752&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">Waze</a>
                <a class="p" target="_blank" href="https://maps.app.goo.gl/wSYyKrjWrDtgY14M6">Google Map</a>
              </div>
            </div>

          </div>

          <div class="flex md:hidden lg:flex">
            <div class="flex flex-col">
              <div class="h3 uppercase mb-3">{{$t('footer.follow')}}</div>
              <div class="flex gap-[var(--gap-13)]">
                <div class="flex flex-col">
                  <nuxt-link to="https://www.instagram.com/tkspice/" target="_blank" class="p mb-1">Instagram</nuxt-link>
                  <nuxt-link to="https://www.facebook.com/TKSpice/" target="_blank" class="p mb-1">Facebook</nuxt-link>
                </div>
                <div class="flex flex-col">
                  <nuxt-link to="https://www.tiktok.com/@spiceshoppingcentre" target="_blank" class="p mb-1">TikTok</nuxt-link>
                  <nuxt-link to="https://www.linkedin.com/company/shopping-centre-spice" target="_blank" class="p mb-1">LinkedIn</nuxt-link>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="hidden lg:flex">
          <svg width="260" height="272" viewBox="0 0 260 272" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M236.235 47.3993C249.36 47.3993 259.999 36.7886 259.999 23.6997C259.999 10.6107 249.36 0 236.235 0C223.11 0 212.471 10.6107 212.471 23.6997C212.471 36.7886 223.11 47.3993 236.235 47.3993Z" fill="white"/>
          <path d="M236.235 123.797C249.36 123.797 259.999 113.186 259.999 100.097C259.999 87.0082 249.36 76.3975 236.235 76.3975C223.11 76.3975 212.471 87.0082 212.471 100.097C212.471 113.186 223.11 123.797 236.235 123.797Z" fill="white"/>
          <path d="M71.4732 146.924C61.8088 145.215 43.8504 140.682 43.8504 128.531C43.8504 118.201 55.1736 109.803 89.612 109.803C127.981 109.803 152.322 121.545 160.869 126.376L181.82 99.956C174.428 94.4565 143.92 76.3975 89.3235 76.3975C34.7269 76.3975 4.90432 98.2467 4.90432 130.314C4.90432 160.71 30.2192 174.013 57.9503 179.884C110.78 191.032 149.149 191.515 149.149 210.242C149.149 228.97 117.631 238.037 93.8311 238.037C51.5675 238.037 23.2234 215.519 23.2234 215.519L0 243.314C0 243.314 32.0223 272 92.9656 272C159.066 272 187.698 245.878 187.698 211.915C187.698 161.453 132.957 157.886 71.4732 146.924Z" fill="white"/>
          </svg>
        </div>
      </div>

      <div class="md:hidden">
        <div class="h3 uppercase mb-3">{{ $t('footer.find_us') }}</div>
        <div class="flex flex-col">
          <a class="p mb-1" href="https://ul.waze.com/ul?preview_venue_id=15729209.157554237.321752&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">Waze</a>
          <a class="p" href="https://maps.app.goo.gl/wSYyKrjWrDtgY14M6">Google Map</a>
        </div>
      </div>

      <div class="w-full flex flex-wrap justify-between gap-10 lg:gap-0">

        <div class="p flex flex-wrap gap-x-8 gap-y-3 lg:gap-x-8 lg:gap-y-8">
          <NuxtLink :to="localePath('rent')">{{$t('footer.rent_page')}}</NuxtLink>
          <NuxtLink :to="localePath('advertisement')">{{$t('footer.ad_page')}}</NuxtLink>
          <NuxtLink :to="localePath({name:'privacy-policy', hash: '#sikdatnu-politika'})">{{$t('footer.cookies_page')}}</NuxtLink>
          <NuxtLink :to="localePath({name:'privacy-policy', hash: '#policy'})">{{$t('footer.private_page')}}</NuxtLink>
          <NuxtLink :to="localePath('internal-procedures')">{{$t('footer.internal_rules_page')}}</NuxtLink>
        </div>

        <div class="flex gap-x-[var(--gap-30)] md:w-full lg:w-auto">
          <p class="w-1/2 self-end lg:w-auto">All rights reserved © Spice</p>
          <div class="flex w-1/2 md:h-[30vw] md:justify-end lg:hidden">
            <svg class="max-w-full max-h-min md:h-full" width="260" height="272" viewBox="0 0 260 272" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M236.235 47.3993C249.36 47.3993 259.999 36.7886 259.999 23.6997C259.999 10.6107 249.36 0 236.235 0C223.11 0 212.471 10.6107 212.471 23.6997C212.471 36.7886 223.11 47.3993 236.235 47.3993Z" fill="white"/>
            <path d="M236.235 123.797C249.36 123.797 259.999 113.186 259.999 100.097C259.999 87.0082 249.36 76.3975 236.235 76.3975C223.11 76.3975 212.471 87.0082 212.471 100.097C212.471 113.186 223.11 123.797 236.235 123.797Z" fill="white"/>
            <path d="M71.4732 146.924C61.8088 145.215 43.8504 140.682 43.8504 128.531C43.8504 118.201 55.1736 109.803 89.612 109.803C127.981 109.803 152.322 121.545 160.869 126.376L181.82 99.956C174.428 94.4565 143.92 76.3975 89.3235 76.3975C34.7269 76.3975 4.90432 98.2467 4.90432 130.314C4.90432 160.71 30.2192 174.013 57.9503 179.884C110.78 191.032 149.149 191.515 149.149 210.242C149.149 228.97 117.631 238.037 93.8311 238.037C51.5675 238.037 23.2234 215.519 23.2234 215.519L0 243.314C0 243.314 32.0223 272 92.9656 272C159.066 272 187.698 245.878 187.698 211.915C187.698 161.453 132.957 157.886 71.4732 146.924Z" fill="white"/>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
footer {
  width: 100%;
  background-color: var(--primary-black-100);
  padding-top: var(--gap-20);
  padding-bottom: calc(var(--gap-15) * 2);

  @include desktop {
    padding-top: var(--gap-18);
    padding-bottom: calc(var(--mobile-bottom-nav-height) + var(--gap-18));
  }

  @include desktop-lg {
    padding-top: var(--gap-20);
    padding-bottom: var(--gap-25);
  }

  * {
    color: var(--primary-white-100);
  }

  p, .p {
    color: var(--primary-white-100);
  }
  // lai jauka diena
}
</style>