<script setup>
const {locales, locale:activeLocaleCode}  = useI18n();
const localePath                          = useLocalePath()
const switchLocalePath                    = useSwitchLocalePath()
const route                               = useRoute();


const isMenuOpen    = ref(false);
const isMenuVisible = ref(true);
const direction     = ref('down');

const isAccessabilityMenuOpen = ref(false);
const isSearchMenuOpen = ref(false);

const shouldMenuBeVisible = computed(() => {
  return isMenuVisible.value || isMenuOpen.value;
});

function closeAllMenus(event) {
  closeMenu(event);
  closeAccessabilityMenu(event);
  closeSearchMenu(event);
}

function toggleMenu(event) {
  if (isAnyMenuOpen.value) {
    return closeAllMenus(event);
  }

  isMenuOpen.value = !isMenuOpen.value;
}
function closeMenu(event) {
  isMenuOpen.value = false;
}

function toggleAccessabilityMenu (event) {
  if (isAnyMenuOpen.value) {
    closeAllMenus(event);
  }

  isAccessabilityMenuOpen.value = !isAccessabilityMenuOpen.value;
}
function closeAccessabilityMenu (event) {
  isAccessabilityMenuOpen.value = false;
}

function toggleSearchMenu (event) {
  if (isAnyMenuOpen.value) {
    closeAllMenus(event);
  }

  isSearchMenuOpen.value = !isSearchMenuOpen.value;
}
function closeSearchMenu (event) {
  isSearchMenuOpen.value = false;
}

const isAnyMenuOpen = computed(() => {
  return isMenuOpen.value || isAccessabilityMenuOpen.value || isSearchMenuOpen.value;
});

watch(() => route.fullPath, () => {
  closeAllMenus()
});

const scroll = new function () {
    this.lastScrollTop = (import.meta.browser)
        ? window.pageYOffset || document.documentElement.scrollTop
        : 0;

    this.lastDirection = null;

    this.getDirection = () => {
        if (!import.meta.browser) return null

        const scrollTopPosition = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTopPosition > this.lastScrollTop) {
            this.lastDirection = 'down';
        } else if (scrollTopPosition < this.lastScrollTop) {
            this.lastDirection = 'up';
        }

        this.lastScrollTop = scrollTopPosition <= 0 ? 0 : scrollTopPosition;
        return this.lastDirection
    }
}

const handleScroll = (e) => {
    direction.value = scroll.getDirection()
    if (isAnyMenuOpen.value) {
      isMenuVisible.value = true;
      return;
    }

    if (direction.value == 'up' && isMenuVisible.value == false) {
      isMenuVisible.value = true;
    } else if (direction.value == 'down' && isMenuVisible.value == true) {
      isMenuVisible.value = false;
    }
}

onMounted(() => {
    if (!import.meta.browser) return

    window.addEventListener('scroll', handleScroll, {
        passive: true,
    })
})


</script>

<template>
  <div class="header-wrapper h-[var(--header-height)]" >
    <header class="h-[var(--header-height)]" :class="{shouldMenuBeVisible, 'down': direction == 'down'}">
      <div class="background-color">
        <div class="container flex columns-2 items-center">
            <div class="column w-full flex items-center gap-10">

              <nuxt-link class="logo" :to="localePath({ name: 'index' })" aria-label="$t('mainmenu.home')">
                <svg width="92" height="32" viewBox="0 0 92 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M46.6735 5.03434C47.8846 5.03434 48.8665 4.07017 48.8665 2.88082C48.8665 1.69146 47.8846 0.727295 46.6735 0.727295C45.4623 0.727295 44.4805 1.69146 44.4805 2.88082C44.4805 4.07017 45.4623 5.03434 46.6735 5.03434ZM48.322 24.3239H45.0273V15.8083L48.3246 13.8912L48.322 24.3239ZM48.8665 9.59761C48.8665 10.787 47.8846 11.7511 46.6735 11.7511C45.4623 11.7511 44.4805 10.787 44.4805 9.59761C44.4805 8.40826 45.4623 7.44409 46.6735 7.44409C47.8846 7.44409 48.8665 8.40826 48.8665 9.59761ZM31.4941 7.44409C33.2869 7.44409 34.8656 7.92975 36.2321 8.65313C37.5619 9.34274 38.6702 10.382 39.4331 11.6546C40.201 12.9327 40.5851 14.4101 40.5856 16.0869C40.5856 17.7424 40.2014 19.2148 39.4331 20.5039C38.6758 21.784 37.5742 22.8346 36.249 23.5405C34.8933 24.2741 33.3406 24.6409 31.591 24.6409C26.825 24.6409 24.8044 22.2542 24.8044 22.2542V31.2728H21.4727V7.82048H24.8044V10.0175C24.8044 10.0175 26.9857 7.44409 31.4941 7.44409ZM31.0457 10.4303C27.5317 10.4303 24.6431 12.7365 24.6431 16.0876C24.6431 19.3575 27.6189 21.6516 31.0457 21.6516C34.4296 21.6516 37.4165 19.3575 37.4165 16.0876C37.4158 12.9615 34.574 10.4303 31.047 10.4303H31.0457ZM68.37 19.4883L68.4024 19.4629L70.309 21.7647C69.3815 22.52 68.2289 23.1846 66.851 23.7584C65.4424 24.345 63.8524 24.6384 62.0811 24.6384C60.2898 24.6384 58.6847 24.2611 57.2656 23.5066C55.8853 22.7884 54.7211 21.7273 53.8889 20.4291C53.0568 19.1302 52.6408 17.6736 52.6408 16.0594C52.6408 14.4222 53.0566 12.9652 53.8889 11.6744C54.7212 10.3836 55.8496 9.36114 57.2663 8.60708C58.6829 7.85303 60.2889 7.44533 62.0817 7.44533C66.8276 7.44533 69.424 9.6046 70.2941 10.6513L68.3575 12.9889C67.6592 12.2457 65.7083 10.4328 62.2099 10.4328C58.027 10.4328 55.9674 13.341 55.9674 16.0562C55.9674 19.1593 58.9282 21.6515 62.2418 21.6515C65.6161 21.6515 67.5169 20.1585 68.37 19.4883ZM6.5933 13.6433C5.70309 13.4918 4.04435 13.0943 4.04435 12.0265C4.04435 11.1191 5.08879 10.3804 8.26571 10.3804C11.8044 10.3804 14.0501 11.4137 14.8382 11.8387L16.7722 9.51644C16.0909 9.03461 13.2751 7.44407 8.24033 7.44407C3.45673 7.44407 0.455518 9.36499 0.455518 12.1857C0.455518 14.8568 2.79038 16.0262 5.34909 16.5413C6.55734 16.7846 7.6837 16.9702 8.69448 17.1367L8.6946 17.1367C11.7601 17.6417 13.7625 17.9716 13.7625 19.2086C13.7625 20.9256 10.8544 21.6516 8.66071 21.6516C4.75626 21.6516 2.14419 19.6706 2.14419 19.6706L0 22.1161C0 22.1161 2.95371 24.6384 8.57676 24.6384C14.6742 24.6384 17.3156 22.3411 17.3156 19.3575C17.3156 15.3644 13.2255 14.71 8.2739 13.9177H8.27389L8.27363 13.9176C7.7227 13.8295 7.16111 13.7396 6.5933 13.6433ZM90.7521 11.6713C91.5846 12.96 92.0009 14.4217 92.0009 16.0563C92.0006 16.3814 91.9823 16.7063 91.9462 17.0295H76.2679C76.8087 19.6623 79.4833 21.6503 82.4415 21.6503C85.8146 21.6503 87.7168 20.1572 88.5705 19.4871C88.649 19.4255 88.7186 19.3708 88.7797 19.3249L90.5725 21.7136C89.6337 22.4902 88.46 23.1719 87.0514 23.7585C85.6427 24.3451 84.0528 24.6384 82.2814 24.6384C80.4906 24.6384 78.8854 24.2612 77.466 23.5067C76.0851 22.7877 74.9205 21.7254 74.0886 20.426C73.2561 19.127 72.8398 17.6705 72.8398 16.0563C72.8398 14.4191 73.2563 12.9621 74.0886 11.6713C74.9209 10.3804 76.0493 9.358 77.466 8.60395C78.8826 7.8499 80.4886 7.4422 82.2814 7.4422H82.5593C84.3495 7.4422 85.9555 7.8499 87.3748 8.60395C88.7938 9.36013 89.9196 10.3826 90.7521 11.6713ZM82.5834 10.4383C82.5255 10.4356 82.4675 10.4328 82.407 10.4328V10.4297C79.0479 10.4297 77.0592 12.3071 76.4059 14.4562H88.4277C87.7874 12.3576 85.8657 10.5166 82.6322 10.4405C82.6159 10.4398 82.5997 10.4391 82.5834 10.4383Z" fill="#030303"/>
                </svg>
              </nuxt-link>

              <div class="work-time hidden lg:block">
                <AppWorkHours only-today/>
              </div>
            </div>

            <div class="column flex items-center justify-end gap-6 lg:gap-10" :class="{'menu-open': isAnyMenuOpen}">
              <div class="languages flex gap-2">

                <template v-for="(locale, index) in locales" :key="locale.code">
                    <a :href="switchLocalePath(locale.code)"
                      class="language h4 uppercase"
                      :class="{disabled: locale.code == activeLocaleCode}"
                    >
                      {{locale.code}}
                    </a>

                    <div v-if="locales.length != index+1" class="spacer"></div>
                </template>
              </div>

              <div class="secondarymenuhandle icons flex gap-4" aria-label="$t('mainmenu.accessability')">
                <button class="icon" :class="{active: isAccessabilityMenuOpen}" @click="toggleAccessabilityMenu">
                  <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 8.11111C12.8975 8.11111 13.625 7.41467 13.625 6.55556C13.625 5.69645 12.8975 5 12 5C11.1025 5 10.375 5.69645 10.375 6.55556C10.375 7.41467 11.1025 8.11111 12 8.11111Z" stroke="#030303" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.5 11.0493V9.66663H18.5V11.0493L13.9118 12.4321L16.2059 19H14.2941L12 14.8518L9.32353 19H7.79412L9.70588 12.4321L5.5 11.0493Z" stroke="#030303" stroke-width="1.2"/>
                  </svg>
                </button>

                <button class="icon" :class="{active: isSearchMenuOpen}" @click="toggleSearchMenu" aria-label="$t('mainmenu.search')">
                  <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.6003 16.2006C13.6933 16.2006 16.2006 13.6933 16.2006 10.6003C16.2006 7.50734 13.6933 5 10.6003 5C7.50734 5 5 7.50734 5 10.6003C5 13.6933 7.50734 16.2006 10.6003 16.2006Z" stroke="#030303" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.0703 15.0705L19.0003 19.0005" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>

              <div class="menuhandle icons flex gap-4">
                <button class="icon icon--menu" @click="toggleMenu" aria-label="$t('mainmenu.toggleMenu')">
                  <template v-if="!isAnyMenuOpen">
                    <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect class="s-24" fill="#030303"/>
                      <circle cx="12" cy="7.5" r="3.5" fill="#EACEBF"/>
                      <circle cx="12" cy="16.5" r="3.5" fill="#EACEBF"/>
                    </svg>

                    <div class="icon--label">
                      {{ $t('footer.navi') }}
                    </div>
                  </template>

                  <template v-else>
                    <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.75 5.25L5.25 18.75" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                      <path d="M19 19L5 5" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                    </svg>
                  </template>

                </button>
              </div>
            </div>
        </div>
      </div>
    </header>

    <MainMenu :is-open="isMenuOpen" @close-menu="closeMenu" />
    <MainMenuAccessability :is-open="isAccessabilityMenuOpen" @close-menu="closeAccessabilityMenu" />
    <MainMenuSearch :is-open="isSearchMenuOpen" @close-menu="closeSearchMenu" />


    <MainMobileBottomNav @openSearch="toggleSearchMenu"/>
  </div>
</template>

<style lang="scss" scoped>

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-beige-100);
  height: var(--header-height);

  position: fixed;
  width: 100vw;
  z-index: 500;

  transform: translate(0, -100%);
  transition: transform 0.3s ease-in-out;

  &.shouldMenuBeVisible {
    transform: translate(0, 0);
  }

  &.down {
    transition-delay: 800ms;
  }
}

.logo {

  svg {
    width: var(--gap-23);
    height: var(--gap-8);
  }
}

.work-time {
  max-width: 60vw;
}

.background-color {
  background-color: var(--primary-beige-100);
  width: calc(100vw - var(--scrollbar-size));
}

.column {

  @include desktop-lg-down {
    .languages,
    .secondarymenuhandle {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      transform: translate(var(--gap-4), 0);
      opacity: 0;
    }

    .languages {
      transition-delay: 100ms;
    }
  }

  &.menu-open {

    @include desktop-lg-down {
      .languages,
      .secondarymenuhandle {
        transform: translate(0, 0);
        opacity: 1;
      }

      .secondarymenuhandle {
        transition-delay: 200ms;
      }
    }
  }
}

.languages {
  align-items: stretch;

  .language {

    &.disabled {
      color: var(--secondary-black-40);
    }
  }

  .spacer {
    width: 1px;
    background-color: var(--primary-black-100);
  }
}

.icons {

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: var(--gap-1);

    cursor: pointer;

    &--label {
      font-family: var(--font-deca);
      font-size: 0.625rem;
      font-weight: var(--mobile-small-text-weight);
      line-height: 1.2;
      text-transform: uppercase;
    }

    &.active {
      background-color: var(--primary-black-100);

      svg {
        path {
          stroke: var(--primary-beige-100);
        }
      }
    }
  }
}

.menuhandle {
  .icon {
    // @todo Need to update this..
    width: var(--gap-10);
  }
}

</style>