<script setup>
import _chunk from "lodash/chunk";

const { t } = useI18n()
const { homepageBanner } = useDataStore()
const emit       = defineEmits(['close-menu'])
const localePath = useLocalePath()
const locale     = useI18n()
const props      = defineProps({
  isOpen: {
    type: Boolean,
    default: false,
  },
});


function url(name) {
  let path = null;

  try {
    path = localePath({
      name: name
    });
  } catch (error) {}

  if (path == null || path == '') {
    console.error("No such page: " + name);
    return '/';
  }

  return path;
}

function emitCloseMenu(event) {
  emit('close-menu', event);
}

const linkList = [
  {page: 'shops-category',       label: t('mainmenu.shops') },
  {page: 'map',                  label: t('mainmenu.map') },
  {page: 'discounts-category',   label: t('mainmenu.discounts') },
  {page: 'about',                label: t('mainmenu.about') },
  {page: 'services',             label: t('mainmenu.services') },
  {page: 'news',                 label: t('mainmenu.news') },
  {page: 'giftcard',             label: t('mainmenu.giftCards') }, // ???
  {page: 'kids',                 label: t('mainmenu.kids') },
  {page: 'sustainability',       label: t('mainmenu.sustainability') },
  // {to: 'https://spicestyle.lv',  label: t('mainmenu.spicestyle') },
  {page: 'vacancies',            label: t('mainmenu.vacancies') },
  {to: '#footer',                label: t('mainmenu.contacts') },
];

const menuLength = computed(() => {
  const menuLength = linkList.length || 2;
  return Math.ceil(menuLength/2)
});



/**
 * Map link list to correct format for vFor loop and AppButtonLink component
 * Also split link list into 2 columns.
 */
const menuColumns = computed(() => {
  const mappedLinkList = [...linkList].map((menuItem) => {
    menuItem.icon = menuItem.icon || null;

    if (menuItem.page) {
      menuItem.to = url(menuItem.page);
    } else {
      if ( menuItem.to.indexOf('http://') > -1 || menuItem.to.indexOf('https://') > -1 ) {
        menuItem.icon = 'customicon--external-link';
        menuItem.target = '_blank';
      }
    }

    return menuItem;
  })

  return _chunk( mappedLinkList, menuLength.value );
})


const animationDelayStyle = (index) => {
  return {
    '--animation-delay': `${index * 100 + 500}ms`
  }
}

watch(() => props.isOpen, (first, second) => {
  if (first) {
    document.body.classList.add('overflow-hidden');
  } else {
    document.body.classList.remove('overflow-hidden');
  }
});

const spiceFullnesRatio = ref(null);
useFetch('/api/v3/visitors/inside', {
  headers: {
    'accept-language': locale.code
  }
}).then((respone) => {
  const ratio = respone?.data?.value?.data?.ratio;

  if (ratio && ratio > 0) {
    spiceFullnesRatio.value = ratio;
  } else {
    spiceFullnesRatio.value = 0;
  }
});

</script>

<template>
  <transition name="overlay-fade-animation">
    <div class="overlay" @click="emitCloseMenu" v-if="isOpen"></div>
  </transition>

  <transition name="main-menu-animation">
    <div class="main-menu" v-if="isOpen">
      <div class="menu-inner-wrapper">
        <div class="col col--image">
          <div class="image-wrapper">
            <NuxtImg class="image" :src="homepageBanner?.image?.path" :alt="homepageBanner?.banner_body.replace(/<[^>]*>?/gm, '')" />
          </div>
        </div>

        <div class="col col--menu justify-between md:justify-start lg:justify-between lg:hap-y-0">

          <div class="menu-item-list flex flex-col justify-between w-full gap-4 xl:flex-row xl:gap-0">
            <div v-for="(menuList, columnIndex) in menuColumns" :key="columnIndex" class="flex flex-col items-center gap-4 lg:items-start" >
              <AppButtonLink
                v-for="(menu, menuIndex) in menuList"
                class="menu-item on-menuenter-hidden"
                :style="animationDelayStyle(menuIndex)"
                :key="menuIndex"
                v-bind="menu"

                @click="emitCloseMenu"
              />
            </div>
          </div>

          <div class="under-menu-wrapper flex flex-col w-full gap-6 lg:gap-16 on-menuenter-hidden" :style="animationDelayStyle(menuLength+1)">
            <div class="visitation" v-if="spiceFullnesRatio">
              <AppVisitationSlider :progress="spiceFullnesRatio"/>
            </div>

            <MainSocialIcons class="social-icons on-menuenter-hidden" :style="animationDelayStyle(menuLength+2)" />

            <div class="work-hours">
              <AppWorkHours only-today/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: var(--header-height);
  left: 0;

  transition: opacity 200ms ease;

  width: 100%;
  height: calc( 100dvh - var(--header-height));

  background: rgba(0, 0, 0, 0.2);

  z-index: 1;

  opacity: 1;
}

.main-menu {
  position: fixed;
  // top: var(--gap-20);
  left: 0;
  width: 100%;
  height: calc( 100dvh - var(--header-height));

  background: var(--primary-beige-100);

  z-index: 200;

  display: flex;

  transform: translate(0, 0%);
  transition: all 900ms cubic-bezier(.70, 0, .40, 1);
  // transition: all 700ms ease;

  overflow: hidden;
  bottom: 0;
}

.menu-inner-wrapper {
  display: flex;
  width: calc(100vw - var(--scrollbar-size));
  height: calc( 100dvh - var(--header-height));

  justify-content: center;
  position: fixed;
  bottom: 0;

  @include desktop-lg {
    justify-content: flex-start;
  }

  overflow: auto;

  .menu-item {
    &:hover {
        &::v-deep(path) {
          stroke: #030303;
        }
    }
  }
}

.col {
  // height: 100%;

  display: flex;
  flex-direction: column;

  @include desktop-lg {
    width: 50%;
  }

  &--image {
    display: none;
    position: relative;

    .image-wrapper {
      position: absolute;
      overflow: hidden;
      transition: height 1s cubic-bezier(.70, 0, .40, 1);
      bottom: 0;

      width: 100%;
      // height: 100%;
      height: calc( 100dvh - var(--header-height));
    }

    .image {
      height: calc( 100dvh - var(--header-height));
      object-fit: cover;

      position: absolute;
      bottom: 0;
    }

    @include desktop-lg {
      // height: 0;
      display: flex;
    }
  }

  &--menu {
    padding: var(--gap-6) var(--gap-4);
    width: 100%;

    @include desktop-lg {
      padding: var(--gap-18) var(--gap-25);
      width: 50%;
    }
  }
}

.under-menu-wrapper {
  @include mobile {
    padding-bottom: var(--gap-10);
  }
}

.visitation {
  margin-top: var(--gap-8);

  @include tablet {
    margin-top: var(--gap-12);
  }

  @include desktop-lg-down {
    order: 3;
    padding-bottom: var(--gap-6);
  }

}

.social-icons {
  display: flex;
  gap: var(--gap-4);
  justify-content: center;

  @include desktop-lg {
    justify-content: flex-start;
  }

  @include tablet {
    padding-bottom: var(--gap-24);
  }

  @include desktop-lg-down {
    margin-top: var(--gap-8);
    order: 1;
  }
}

.work-hours {
  @include desktop-lg {
    display: none;
  }

  @include desktop-lg-down {
    order: 2;

    ::v-deep(.workhours) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--gap-1)
    }
  }

}


.on-menuenter-hidden {
  transition: transform 500ms var(--animation-delay) ease, opacity 500ms var(--animation-delay) ease;
  transform: translate(0%, 0%);
  opacity: 1;

  @include desktop-lg-down {
    transition: transform 500ms ease, opacity 500ms ease;
  }

  &.enter-from {
    transform: translate(0%, 2rem);
    opacity: 0;
  }
}

.main-menu-animation {
  &-leave-active {
    .image-wrapper {
      transition: height 700ms cubic-bezier(.70, 0, .40, 1);
    }
  }

  &-enter-active, &-leave-active {
    transform: translate(0, 0%);
  }

  &-enter-from {
    height: 0px;
    bottom: 0;

    .on-menuenter-hidden {
      // transform: translate(0%, 10%);
      transform: translate(0%, 2rem);
      opacity: 0;
    }

    .image-wrapper {
      height: 0;
    }
  }

  &-leave-to {
    top: var(--header-height);
    height: 0px;
    bottom: unset;

    .menu-inner-wrapper {
      top: 0;
      bottom: unset;
    }

    .image-wrapper {
      transition: height 800ms cubic-bezier(.70, 0, .40, 1);

      height: 0;
      top: 0;
      bottom: unset;

      .image {
        top: 0;
        bottom: unset;
      }
    }
  }
}

.overlay-fade-animation {
  &-enter-active, &-leave-active {}

  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

</style>