<script setup>
const props = defineProps({
  image: {
    type: String,
    required: true,
  }
})
</script>

<template>
  <div class="hero w-full flex lg:hidden">
    <div class="banner w-full h-full flex">
      <div class="column image-column w-full h-full">
        <NuxtImg class="image" :src="image" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  background-color: var(--primary-beige-100);
  height: calc(110vw - rem(80));
  aspect-ratio: 16 / 9;
  max-height: 615px;
  .image-column {
    overflow: hidden;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
</style>