<script setup>
const localePath = useLocalePath()
const emit       = defineEmits(['openSearch'])

function emitOpenSearch(event) {
    emit('openSearch', event);
}
</script>
<template>
    <div class="fixed w-full h-[var(--mobile-bottom-nav-height)] bottom-0 z-50 py-3 px-4 bg-[var(--primary-beige-100)] border-solid border-[var(--primary-black-100)] border-[0.4px]
        md:content-center lg:hidden"
    >
        <div class="grid grid-cols-4">
            <nuxt-link class="flex flex-col items-center" :to="localePath('shops-category')">
                <NuxtImg class="w-[20px] h-[20px] mb-1 md:w-[25px] md:h-[25px]" src="/img/Shops.svg" alt="" />
                <!-- Why it passes: The alt attribute is empty to avoid repeating $t('mainmenu.shops') twice. -->
                <div class="small-text uppercase">{{$t('mainmenu.shops')}}</div>
            </nuxt-link>
            <nuxt-link class="flex flex-col items-center" :to="localePath('discounts-category')">
                <NuxtImg class="w-[20px] h-[20px] mb-1 md:w-[25px] md:h-[25px]" src="/img/Discounts.svg" alt="" />
                <div class="small-text uppercase">{{$t('mainmenu.offers')}}</div>
            </nuxt-link>
            <nuxt-link class="flex flex-col items-center" :to="localePath('giftcard')">
                <NuxtImg class="w-[20px] h-[20px] mb-1 md:w-[25px] md:h-[25px]" src="/img/Giftcard.svg" alt="" />
                <div class="small-text uppercase">{{$t('mainmenu.gifts')}}</div>
            </nuxt-link>

            <button class="flex flex-col items-center" @click.prevent="emitOpenSearch">
                <NuxtImg class="w-[20px] h-[20px] mb-1 md:w-[25px] md:h-[25px]" src="/img/Search.svg" alt="" />
                <div class="small-text uppercase">{{$t('mainmenu.search')}}</div>
            </button>
        </div>
    </div>
</template>