<script setup>
</script>

<template>
  <div>
    <nuxt-link to="https://www.facebook.com/TKSpice/" target="_blank">
      <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0H0V24H12.409V14.9149H9.35986V11.3818H12.409V8.75718C12.409 5.7288 14.2853 4.08002 16.9658 4.08002C18.2391 4.08002 19.3448 4.18096 19.6799 4.21461V7.37758H17.8035C16.3292 7.37758 16.0612 8.05056 16.0612 9.09367V11.3481H19.5458L19.0767 14.8812H16.0277V23.9664L16.0611 24H24V0Z" fill="#030303"/>
      </svg>
    </nuxt-link>

    <nuxt-link to="https://www.linkedin.com/company/shopping-centre-spice" target="_blank">
      <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0H0V24H24V0ZM7.78616 9.42943H4.57423V19.68H7.78616V9.42943ZM8.00877 6.16066C8.00877 5.14513 7.18194 4.32001 6.1643 4.32001C5.14666 4.32001 4.31982 5.14513 4.31982 6.16066C4.31982 7.1762 5.14666 8.00133 6.1643 8.00133C7.18194 8.00133 8.00877 7.1762 8.00877 6.16066ZM12.938 19.68H9.75784H9.72603V9.42943H12.779V10.8258H12.8108C12.8962 10.6618 12.9368 10.4952 12.9761 10.3339C13.127 9.71487 13.2584 9.17554 15.8319 9.17554C19.0756 9.17554 19.6798 11.3018 19.6798 14.0628V19.68H16.4997V14.6975C16.4997 13.4916 16.4997 11.9683 14.846 11.9683C13.1924 11.9683 12.938 13.2694 12.938 14.6023V19.68Z" fill="#030303"/>
      </svg>
    </nuxt-link>

    <nuxt-link to="https://www.tiktok.com/@spiceshoppingcentre" target="_blank">
      <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0H0V24H24V0ZM15.1658 4.00001H12.4491V4.72133V14.8415C12.4491 16.2405 11.3755 17.2022 9.97334 17.1585C8.74642 17.1148 7.7605 16.0219 7.80432 14.776C7.87005 13.4645 8.96551 12.5246 10.3458 12.5902H10.784V9.90165C10.7088 9.89332 10.64 9.88181 10.5739 9.87076C10.4667 9.85282 10.3666 9.83608 10.2582 9.83608C7.21277 9.68308 4.64939 12.5246 5.08758 15.541C5.46004 18.0765 7.82623 20.1312 10.1924 19.9782C13.1502 19.7814 15.2096 17.7049 15.2096 14.8634V9.79237C15.2096 9.73342 15.2185 9.67447 15.2282 9.60956C15.2402 9.53007 15.2535 9.44165 15.2535 9.33335C16.4366 10.0984 17.6416 10.5574 19.0219 10.4918V7.84701C16.7652 7.51914 15.4287 6.31695 15.1658 4.00001Z" fill="#030303"/>
      </svg>
    </nuxt-link>

    <nuxt-link to="https://www.instagram.com/tkspice/" target="_blank">
      <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0H0V24H24V0ZM4.31982 12.913C4.31982 9.15357 7.42891 6.14602 11.1925 6.14602C15.0107 6.14602 18.0653 9.15357 18.0653 12.913C18.0653 16.6725 15.0107 19.68 11.1925 19.68C7.37436 19.68 4.31982 16.6725 4.31982 12.913ZM6.71982 12.8593C6.71982 15.2761 8.738 17.2632 11.1925 17.2632C13.6471 17.2632 15.6653 15.2761 15.6653 12.8593C15.6653 10.4425 13.6471 8.4554 11.1925 8.4554C8.738 8.4554 6.71982 10.4425 6.71982 12.8593ZM18.338 4.32001C19.2107 4.32001 19.9198 5.01818 19.9198 5.87749C19.9198 6.73679 19.2107 7.43498 18.338 7.43498C17.4653 7.43498 16.7562 6.73679 16.7562 5.87749C16.7562 5.01818 17.4653 4.32001 18.338 4.32001Z" fill="#030303"/>
      </svg>
    </nuxt-link>
  </div>
</template>

<style lang="scss" scoped>
</style>