<script setup>
const props = defineProps({
  image: {
    type: String,
    required: true,
  },
  mobileImage: {
    type: String,
    required: false,
  },
  title: {
    type: String,
    required: false,
  },
})



</script>

<template>
  <div class="hero w-full lg:flex">
    <div class="banner w-full h-full flex">

      <div class="column column-1 image-column">
        <NuxtImg class="image" :src="image" :alt="title" />
      </div>

      <div class="column column-2 image-column ">
        <NuxtImg class="image" :src="image" :alt="title" />
      </div>

      <div class="column column-3 image-column">
        <template v-if="mobileImage">
          <NuxtImg class="image hidden-on-mobile" :src="image" :alt="title" />
          <NuxtImg class="image hidden-on-desktop" :src="mobileImage" :alt="title" />
        </template>

        <NuxtImg v-else class="image" :src="image" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  background-color: var(--primary-beige-100);
  height: calc(110vw - rem(80));
  aspect-ratio: 16 / 9;
  max-height: 615px;

  @include desktop-lg {
    max-height: 1000px;
    height: calc(68vh - rem(80));
  }

  .image-column {
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;

      object-fit: cover;
      display: block;

      // height: calc(100% + 10vw);
      // transform: translateY(-5vw);
    }
  }

  .column {
    height: 100%;

    &-1, &-2 {
      display: none;
      @include desktop-lg {
        display: block;
      }
    }

    &-1 {
      width: 30%;

      .image {
        transform: scale(1.6);
        transform-origin: right center;
      }
    }
    &-2 {
      width: 20%;

      .image {
        max-width: unset;

        width: calc(100% + 9vw);
        transform: translateX(-9vw);
      }
    }
    &-3 {
      width: 100%;
      @include desktop-lg {
        width: 50%;
      }

      .image {
        @include desktop-lg {
          transform: scale(1.6);
          transform-origin: right center;
        }
      }
    }
  }


  .content-column {
    .content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: var(--gap-8);

      align-items: center;
      justify-content: center;
    }
  }
}

.hidden-on-mobile {
  @include mobile {
    display: none !important;
  }
}

.hidden-on-desktop {
  @include desktop {
    display: none !important;
  }
}
</style>