<script setup>
import Accordion from 'primevue/accordion';
import AccordionPanel from 'primevue/accordionpanel';
import AccordionHeader from 'primevue/accordionheader';
import AccordionContent from 'primevue/accordioncontent';
    const {list} = defineProps({
        list: {
            type: Array,
            default: () => []
        }
    })
</script>
<template>
    <div class="accordion container">
        <Accordion value="0">
            <template #expandicon>
                <svg class="ml-2 shrink-0 w-[24px] h-[24px]" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.3335 16H26.6668" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                    <path d="M16 5.33333V26.6667" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                </svg>
            </template>
            <template #collapseicon>
                <svg class="ml-2 shrink-0 w-[24px] h-[24px]" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.3335 16H26.6668" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
                </svg>
            </template>
            <AccordionPanel v-for="(item, index) in list" :value="index" :disabled="item.disabled" class="accordion-panel">
                <AccordionHeader class="accordion-header h3 uppercase p-4 border-y-[1px] border-t-[var(--primary-black-100)]">{{  item.header || item.title  }}</AccordionHeader>
                <AccordionContent class="">
                    <div class="wrapper py-4 pr-4 pl-4 pb-20">
                        <div v-html="item.content" class="body-text p"></div>
                    </div>
                </AccordionContent>
            </AccordionPanel>
        </Accordion>
    </div>
</template>

<style lang="scss" scoped>
    .accordion-panel {
        &:last-child {
            .accordion-header {
                border-bottom: 1px solid var(--primary-black-100);
            }
        }
        &.p-accordionpanel-active, .p-accordion-panel-active:last-child {
            .accordion-header {
                border-bottom: 1px solid transparent;
            }
        }
        &.p-accordionpanel {
            // transition: border-bottom 0ms linear;
            &:last-child {
                &.p-accordionpanel-active {
                    border-bottom: 1px solid var(--primary-black-100);
                }
            }
        }
    }
    .accordion-header  {
        border-bottom: 1px solid transparent;
    }
    .p-accordioncontent {
        &::v-deep(.body-text) {
            ul, ol {
                li:not(:last-child) {
                    margin-bottom: var(--gap-2);
                }
            }
            p {
                margin-bottom: var(--gap-2);
            }
        }
    }
</style>