<script setup>
const dataStore  = useDataStore();
const localePath = useLocalePath();

const amenitiesColors = [
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--primary-black-100)',
    color: 'var(--primary-beige-100)',
  },
  {
    bgcolor: 'var(--primary-white-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--tertiary-brown)',
    color: 'var(--primary-white-100)',
  },
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },

];

const openedAmenity   = ref(null);
const openedAmenies   = ref([true]);
const shelfHtmlObject = ref(null);
const shelfWidth      = ref(null);
const openBookWidth   = ref(null);
const closedBookWidth = ref(null);

const bookHeights = ref([]);

const amenities	= dataStore?.frontpageservices?.map((service, index) => {
  const safeIndex = index % amenitiesColors?.length;

  return {
    bgcolor: amenitiesColors[safeIndex]?.bgcolor,
    color: amenitiesColors[safeIndex]?.color,

    ...service,
  };
});

const columns         = buildColumnPattern();

function calcualteShelfWidth() {
  const openBookWidhtKoef = 0.60;

  if (import.meta.client && shelfHtmlObject.value) {
    shelfWidth.value      = shelfHtmlObject.value.offsetWidth;
    openBookWidth.value   = shelfWidth.value * openBookWidhtKoef;
    closedBookWidth.value = (shelfWidth.value - openBookWidth.value) / columns.total;
  }
}

function calcualteShelfBookHeights() {
    if (import.meta.client && shelfHtmlObject.value) {
        bookHeights.value = []
        shelfHtmlObject.value.querySelectorAll('.book .book-content').forEach((book) => {
            const bookHeight = book.offsetHeight + 4*16
            bookHeights.value.push(bookHeight)
        });
    }
}

function buildColumnPattern() {
  const patternToRepeat = [1,3,1,2];
  const patternArray    = [];

  const loopLength = amenities?.length - 1;

  for (let i = 0; i < loopLength; i++) {
    const index = i % patternToRepeat?.length;
    patternArray.push(patternToRepeat[index]);
  }

  return {
    pattern: patternArray,
    total: patternArray.reduce((acc, cur) => acc + cur, 0),
  };
}

function getMapPath(mapId) {
    let pathObject = {
        name: 'map',
    };

    const query = mapId
        ?.split('&')
        ?.map((item) => {
            return item
            ?.replace('?','')
            ?.split('=')
        })
        ?.reduce((acc, cur) => {
            if (cur[0] && cur[1]) {
              acc[cur[0]] = cur[1];
            }
            return acc;
        }, {});

    if (query?.page) {
        const name = query.page;

        pathObject = {
            name,
            query

        };
    } else {
      pathObject.query = query;
    }

    return localePath(pathObject);
}

const shelfCssStyles = computed(() => {
  const styles = {};

  styles['--book-count'] = amenities?.length - 1;

  if (shelfWidth.value) {
    styles['--open-book-width']   = `${openBookWidth.value}px`;
    styles['--closed-book-width'] = `${closedBookWidth.value}px`;
    styles['--closed-book-width--base-value'] = `${closedBookWidth.value}px`;
  }

  return styles;
});

const bookCssStyles = (amenitie, index) => {
  const styles = {};

  styles['--background-color']  = amenitie.bgcolor;
  styles['--text-color']        = amenitie.color;

  styles['--height'] = bookHeights.value[index] + 'px';

  return styles;
};

const open = (amenitie, index) => {
  calcualteShelfBookHeights();

  if (openedAmenies.value[index]) {
    openedAmenies.value[index] = false;
    return;
  }

  if (openedAmenity.value == index) {
    openedAmenity.value = null;
    return;
  }

  openedAmenity.value = index;
  openedAmenies.value[index] = true;

  // setTimeout(() => {
  //   shelfHtmlObject.value.querySelector('.book.is-open').scrollIntoView({
  //     behavior: 'smooth', // Defines the transition animation. default: auto
  //     block: 'start', // Defines vertical alignment. default: start
  //     inline: 'center' // Defines horizontal alignment. default: nearest
  //   });
  // }, 200);
};


onMounted(() => {

  if (import.meta.client) {

    let resizeTimeout = null;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimeout);
      resizeTimeout = setTimeout(() => {
        calcualteShelfWidth();
        calcualteShelfBookHeights();
      }, 100);
    });

    document.addEventListener('a18y.font.updated', () => {
      calcualteShelfWidth();
      calcualteShelfBookHeights();
    })
  }

  nextTick(() => {
    calcualteShelfWidth();
    calcualteShelfBookHeights();
  })
});

</script>

<template>
  <ClientOnly fallback-tag="span" fallback="" >
    <div class="shelf" :style="shelfCssStyles" ref="shelfHtmlObject">

        <div v-for="(amenitie, index) in amenities" :key="index"
          class="book"
          :class="{ 'is-open': openedAmenies[index] }"
          :style="bookCssStyles(amenitie, index)"
        >
          <div class="book-spine" @click="open(amenitie, index)">
            <div class="inner">
              <div class="spine-title h3" v-html="amenitie.title_no_tags"> </div>

              <svg class="w-[32px] h-[32px] shrink-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M5 16H27" stroke="#fff" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M16 5V27" stroke="#fff" stroke-linecap="square" stroke-linejoin="round"/>
              </svg>

            </div>
          </div>

          <div class="book-content">

            <div class="text-wrapper flex flex-col gap-4 justify-between">
              <div class="flex flex-col gap-4">
                <div class="h2" v-html="amenitie.title"></div>
                <div class="h3 uppercase">{{ $t('home.amenities.subtitle') }}</div>
                <div class="has-html-content" v-html="amenitie.body"></div>
              </div>

              <div class="flex flex-col gap-4">
                <div class="h3 mt-4 mb-2 uppercase lg:mb-0" v-html="amenitie.location_tagline"></div>

                <div class="flex flex-row-reverse justify-end gap-4 lg:flex-row lg:justify-start">
                  <AppButtonPrimary :label="$t('global.open_map')" :icon="null" :to="getMapPath(amenitie.map_id)"/>

                  <NuxtImg class="image w-11 block" :src="amenitie?.icon?.path" :alt="amenitie?.title_no_tags" />
                </div>
              </div>

            </div>

            <div class="image-wrapper hidden lg:flex">
              <div class="image-wrapper-inner">
                  <NuxtImg class="image" :src="amenitie?.image?.path" width="1480" :alt="amenitie?.title_no_tags" />
              </div>
            </div>
          </div>

        </div>
    </div>
  </ClientOnly>
</template>

<style lang="scss" scoped>

.shelf {
  --animation-speed: 200ms;

  display: flex;
  flex-direction: column;

  max-width: 100%;
  width: 100vw;
  // height: 100vh;
  // max-height: 740px;
}

.book {
  width: 100%;
  height: var(--gap-16);

  position: relative;

  overflow: hidden;

  transition: height var(--animation-speed) linear;

  background-color: var(--background-color);

  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  &:nth-child(6n+2) {
    --increase: calc(var(--gap-16) * 2);
    height: calc(var(--gap-16) + var(--increase));

    .book-spine {
      padding-top: var(--increase);
    }
  }
  &:nth-child(6n+4),
  &:nth-child(6n+6) {
    --increase: calc(var(--gap-16) * 1);
    height: calc(var(--gap-16) + var(--increase));

    .book-spine {
      padding-top: var(--increase);
    }
  }


  &-spine {
    text-transform: uppercase;

    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    align-items: flex-end;

    color: var(--text-color);

    cursor: pointer;
    transition: padding var(--animation-speed) ease-in-out;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: var(--gap-4) var(--gap-10);

      width: 100%;

      transition: padding var(--animation-speed) ease-in-out;
    }

    .spine-title {
      transition: opacity var(--animation-speed) linear;
      opacity: 1;
    }

    svg {
      transition: transform var(--animation-speed) linear;

      path {
        stroke: var(--text-color);
      }
    }

    * {
      color: var(--text-color);
    }

  }

  &-content {
    display: flex;
    width: 100%;
    position: relative;
    gap: var(--gap-20);
    transition: transform var(--animation-speed) linear;
    padding: 0 var(--gap-10);
    justify-content: stretch;
    align-items: stretch;

    .has-html-content,
    .h2,
    .h3,
    h3 {
      color: var(--text-color);
      * {
        color: var(--text-color);
      }
    }

    .text-wrapper {
      flex-grow: 0;
      padding-bottom: var(--gap-25);

      @include desktop-lg {
        width: 30%;
        width: 35%;
        flex-shrink: 0;
      }

      .p-button:not(:hover) {
        border-color: var(--text-color);
        --btn-color: var(--text-color);
      }
    }

    .image-wrapper {
      flex-basis: 100%;

      flex-grow: 1;
      flex-shrink: 1;

      object-fit: contain;
      position: relative;

      min-height: 60vh;

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .image {
        position: absolute;

        width: 100%;
        height: 100%;
        display: block;

        aspect-ratio: 16/9;

        object-fit: cover;
        object-position: center;

        padding-bottom: var(--gap-25);
      }
    }
  }

  &.is-open {
    height: var(--height, 100vh);

    .book-spine {
      padding-top: 0;

      .spine-title {
        opacity: 0;
      }

      svg {
        transform: rotate(45deg);
      }
    }

    .book-content {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}






.fade {
  &-enter-active, &-leave-active {
    transition: opacity var(--animation-speed) 100ms ease-in-out;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

</style>