<script setup>
const dataStore = useDataStore();

const amenitiesColors = [
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--primary-black-100)',
    color: 'var(--primary-beige-100)',
  },
  {
    bgcolor: 'var(--primary-white-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },
  {
    bgcolor: 'var(--tertiary-brown)',
    color: 'var(--primary-white-100)',
  },
  {
    bgcolor: 'var(--primary-beige-100)',
    color: 'var(--primary-black-100)',
  },

];

const openedAmenity   = ref(0);
const shelfHtmlObject = ref(null);
const shelfWidth      = ref(null);
const openBookWidth   = ref(null);
const closedBookWidth = ref(null);

const amenities	= dataStore.frontpageservices.map((service, index) => {
  const safeIndex = index % amenitiesColors.length;

  return {
    bgcolor: amenitiesColors[safeIndex].bgcolor,
    color: amenitiesColors[safeIndex].color,

    ...service,
  };
});

const columns         = buildColumnPattern();

function calcualteShelfWidth() {
  const openBookWidhtKoef = 0.60;

  if (import.meta.client && shelfHtmlObject.value) {
    shelfWidth.value      = shelfHtmlObject.value.offsetWidth;
    openBookWidth.value   = shelfWidth.value * openBookWidhtKoef;
    closedBookWidth.value = (shelfWidth.value - openBookWidth.value) / columns.total;
  }
}

function buildColumnPattern() {
  const patternToRepeat = [1,3,1,2];
  const patternArray    = [];

  const loopLength = amenities.length - 1;

  for (let i = 0; i < loopLength; i++) {
    const index = i % patternToRepeat.length;
    patternArray.push(patternToRepeat[index]);
  }

  return {
    pattern: patternArray,
    total: patternArray.reduce((acc, cur) => acc + cur, 0),
  };
}

function getColCountFromPattern(index) {
  const currentOpenIndex = openedAmenity.value;

  return (index <= currentOpenIndex )
    ? columns.pattern[index]
    : columns.pattern[index - 1];
}

const shelfCssStyles = computed(() => {
  const styles = {};

  styles['--book-count'] = amenities.length - 1;

  if (shelfWidth.value) {
    styles['--open-book-width']   = `${openBookWidth.value}px`;
    styles['--closed-book-width'] = `${closedBookWidth.value}px`;
    styles['--closed-book-width--base-value'] = `${closedBookWidth.value}px`;
  }

  return styles;
});

const bookCssStyles = (amenitie, index) => {
  const styles = {};

  styles['--width'] = ( index == openedAmenity.value )
    ? `var(--open-book-width)`
    : `calc( var(--closed-book-width) * ${getColCountFromPattern(index)} )`;

  styles['--background-color']  = amenitie.bgcolor;
  styles['--text-color']        = amenitie.color;

  return styles;
};

const open = (amenitie, index) => {
  openedAmenity.value = index;
};

onMounted(() => {

  if (import.meta.client) {

    let resizeTimeout = null;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimeout);
      resizeTimeout = setTimeout(() => {
        calcualteShelfWidth();
      }, 100);
    });
  }

  nextTick(() => {
    calcualteShelfWidth();
  })
});

</script>

<template>
  <ClientOnly fallback-tag="span" fallback="Loading...">
    <div class="shelf !hidden lg:!flex" :style="shelfCssStyles" ref="shelfHtmlObject">
      <template v-if="shelfWidth">
        <div v-for="(amenitie, index) in amenities" :key="index"
          class="book"
          :class="{ 'is-open': openedAmenity === index }"
          :style="bookCssStyles(amenitie, index)"
        >
          <div class="book-content">
            <div class="text-wrapper flex flex-col gap-4">
              <div class="h2" v-html="amenitie.title"></div>
              <div class="h3 uppercase">šeit iespējams:</div>
              <div class="has-html-content" v-html="amenitie.body">

              </div>

              <h3 class="mt-4 uppercase">{{ amenitie.location_tagline }}</h3>

              <div class="flex gap-4">
                <AppButtonPrimary label="Karte" :icon="null" />

                <!-- <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="44" height="44" fill="#030303"/>
                  <path d="M26.3883 28.0934L28.7896 26.9341C29.1321 27.3158 29.6309 27.5567 30.1865 27.5567C31.22 27.5567 32.0576 26.7248 32.0576 25.6984C32.0576 24.6719 31.22 23.84 30.1865 23.84C29.2151 23.84 28.4165 24.5755 28.3247 25.5163L27.736 25.7072C27.5068 24.4318 27.0483 22.4282 27.0483 22.4282L25.7642 22.6711V24.8572H24.0321C24.0623 24.8572 24.1529 24.7139 24.1727 24.6875C24.2263 24.6159 24.2762 24.5415 24.3226 24.465C24.4189 24.305 24.5002 24.1337 24.551 23.9536C24.6469 23.6143 24.6082 23.2441 24.2847 23.042C24.1811 22.9772 23.5429 22.7803 23.2702 22.6967L23.7178 22.0232L24.5413 22.2665L25.4584 20.3841L21.1174 19.1088L20.9953 14.5544L20.9937 14.5532L21.7673 13.7849C22.0473 13.8877 22.3503 13.9446 22.6666 13.9446C24.0969 13.9446 25.2565 12.7929 25.2565 11.3723C25.2565 9.95168 24.0969 8.79999 22.6666 8.79999C21.2363 8.79999 20.0767 9.95168 20.0767 11.3723C20.0767 11.6048 20.1081 11.8301 20.1665 12.0442L19.1036 13.0998L19.1 13.097C17.7865 14.4248 16.4654 15.7457 15.1366 17.0583C14.4674 17.719 13.7453 18.3492 13.1192 19.0503C12.2429 20.0312 11.8339 21.3141 11.9685 22.6163C12.0249 23.1621 12.0886 23.7071 12.1486 24.2525C12.3396 25.9873 12.5302 27.7224 12.7211 29.4572C12.8936 31.0242 13.066 32.5913 13.2385 34.1583C13.2767 34.5057 13.315 34.8526 13.3529 35.2H15.9206L16.3485 21.4766L18.9675 18.9363L19.0287 20.6366L21.9414 21.4974L20.7507 23.3085L22.4744 23.894C21.8362 24.6207 21.2258 25.4563 21.426 26.3422C21.536 26.8292 21.8386 27.2034 22.2875 27.3807L23.8246 28.1534H20.7512V29.8577H32.052V28.1534H26.2791L26.3887 28.0926L26.3883 28.0934Z" fill="#EACEBF"/>
                </svg> -->
                <NuxtImg class="image w-11 block" :src="amenitie?.icon?.path" />
              </div>

            </div>
            <div class="image-wrapper">
              <NuxtImg class="image" :src="amenitie?.image?.path" />
            </div>
          </div>

          <Transition name="fade">
            <div v-if="openedAmenity !== index" class="book-spine" @click="open(amenitie, index)">
              <div class="inner">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                  <path d="M5 16H27" stroke="#030303" stroke-linecap="square" stroke-linejoin="round"/>
                  <path d="M16 5V27" stroke="#030303" stroke-linecap="square" stroke-linejoin="round"/>
                </svg>

                <div class="spine-title h3" v-html="amenitie.title_no_tags"></div>
              </div>
            </div>
          </Transition>
        </div>
      </template>
    </div>
  </ClientOnly>
</template>

<style lang="scss" scoped>

.shelf {
  --animation-speed: 300ms;

  display: flex;

  max-width: 100%;
  width: 100vw;
  height: 100vh;
  max-height: 740px;
}

.book {
  width: var(--width);
  height: 100%;
  position: relative;

  overflow: hidden;

  transition: width var(--animation-speed) linear;

  background-color: var(--background-color);

  flex-grow: 0;
  flex-shrink: 0;

  &-spine {
    // opacity: 1;

    position: absolute;
    text-transform: uppercase;

    top: 0;
    left: 0;

    transform-origin: top right;
    transform: translate(-100%, 0) rotate(-90deg);

    width: 100vh;
    max-width: 740px;

    height: var(--width);

    display: flex;
    align-items: flex-end;

    color: var(--text-color);

    cursor: pointer;

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: var(--gap-4) var(--gap-10);

      width: 100%;

      transition: padding var(--animation-speed) ease-in-out;
    }

    * {
      color: var(--text-color);
    }

    &:hover {

      .inner {
        padding-right: var(--gap-15);
      }
    }
  }

  &-content {
    display: flex;
    width: var(--open-book-width);
    // width: 100%;
    height: 100%;


    transition: transform var(--animation-speed) linear;

    opacity: 0;
    transform: translate(-50%, 0);

    // *:not(:hover) {
    //   color: var(--text-color);
    // }

    .has-html-content,
    .h2,
    .h3,
    h3 {
      color: var(--text-color);
      * {
        color: var(--text-color);
      }
    }

    .text-wrapper {
      width: 60%;
      flex-basis: 60%;

      // justify-content: center;

      flex-shrink: 0;
      flex-grow: 0;

      padding: var(--gap-25) var(--gap-20);
      // padding: var(--gap-20) var(--gap-20);

      .p-button:not(:hover) {
        border-color: var(--text-color);
        --btn-color: var(--text-color);
      }
    }

    .image-wrapper {
      width: 100%;
      height: 100%;

      flex-grow: 1;
      flex-shrink: 1;

      object-fit: contain;

      .image {
        width: 100%;
        height: 100%;
        // display: block;

        object-fit: cover;
        object-position: center;
      }
    }
  }

  &.is-open {
    width: var(--open-book-width);
    // flex-shrink: 0;

    .book-content {
      opacity: 1;
      transform: translate(0, 0);
    }
    // .book-spine {
    //   opacity: 0;
    // }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity var(--animation-speed) 100ms ease-in-out;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
  }
}

</style>