<script setup>
    const props = defineProps({
        docs: {
            type: Object,
            default: () => ({})
        },
        title: {
            type: String,
            default: ''
        },
        downloadName: {
            type: String,
            default: 'Lejupielādēt...'
        },
        icon: {
            type: String,
            default: '/img/Download.svg'
        }
    })

    const link = (doc) => {
        return doc?.file?.path || doc?.link || doc?.external_url;
    }

    const icon = (doc) => {
        if (doc?.file) {
            return 'customicon--document';
        }

        return 'pi pi-arrow-right';
    }
</script>
<template>
    <div class="container">
        <div v-html="title" class="h2 text-center mb-[var(--gap-13)] lg:mb-16"></div>
        <div
            v-for="(doc, index) in props.docs" :key="index"
            class="download-line flex flex-col md:flex-row"
        >
            <div class="h3 uppercase w-full mb-2 md:mb-0">
                {{  doc.title  }}
            </div>
            <AppButtonTertiary
                v-if="link(doc)"
                class="download-link-button small-text ml-auto"
                :label="downloadName"
                target="_blank"
                :icon="icon(doc)"
                :to="link(doc)"
            />
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .download-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--gap-4) var(--gap-4);
        border-top: 1px solid var(--primary-black-100);

        &:last-child {
            border-bottom: 1px solid var(--primary-black-100);
        }
    }
    .download-link-button {
        flex-shrink: 0;
    }
</style>