<script setup>
const dataStore = useDataStore();
const props     = defineProps({
  shopId: {
    type: Number,
    required: true,
  },
});

const featuredSales = computed(() => {
  return dataStore.getSalesByShopId(props.shopId);
});

</script>
<template>
    <div>
        <AppSwiperOffers :offers="featuredSales" />
    </div>
</template>