<script setup>
const props = defineProps({
  backgroundImage: {
    type: String,
    default: "",
    // required: true
  },
  foregroundImage: {
    type: String,
    default: "",
    // required: true
  },
});

const cardDomElement = ref(null);
const win = ref(false) //added this because otherwise there is an error saying "win is not defined". I have no clue if I am making the right correction here.

const cardBackgroundStyles = computed(() => {
  return {
    backgroundImage: `url("${props.backgroundImage}")`,
  };
});

const cardForegroundStyles = computed(() => {
  return {
    backgroundImage: `url("${props.foregroundImage}")`,
  };
});

function make3d() {
  if (!window || !document) {
    return;
  }

  const bd = document.getElementsByTagName("body")[0];
  const htm = document.getElementsByTagName("html")[0];

  const card = cardDomElement.value;

  const layers = document.querySelectorAll(".card-rendered-layer");
  const shineHTML = document.querySelector(".card-shine");
  const width = card.clientWidth || card.offsetWidth || card.scrollWidth;
  const supportsTouch = "ontouchstart" in window || navigator.msMaxTouchPoints;

  card.style.transform = `perspective(${width * 3}px)`;

  if (supportsTouch) {
    win.preventScroll = false;

    (function (_card, _layers, _totalLayers, _shine) {
      card.addEventListener("touchmove", function (e) {
        if (win.preventScroll) {
          e.preventDefault();
        }
        processMovement(e, true, _card, _layers, _totalLayers, _shine);
      });
      card.addEventListener("touchstart", function (e) {
        win.preventScroll = true;
        processEnter(e, _card);
      });
      card.addEventListener("touchend", function (e) {
        win.preventScroll = false;
        processExit(e, _card, _layers, _totalLayers, _shine);
      });
    })(card, layers, layers.length, shineHTML);
  } else {
    (function (_card, _layers, _totalLayers, _shine) {
      card.addEventListener("mousemove", function (e) {
        processMovement(e, false, _card, _layers, _totalLayers, _shine);
      });
      card.addEventListener("mouseenter", function (e) {
        processEnter(e, _card);
      });
      card.addEventListener("mouseleave", function (e) {
        processExit(e, _card, _layers, _totalLayers, _shine);
      });
    })(card, layers, layers.length, shineHTML);
  }

  function processMovement(e, touchEnabled, elem, layers, totalLayers, shine) {
    let bdst = bd.scrollTop || htm.scrollTop,
      bdsl = bd.scrollLeft,
      pageX = touchEnabled ? e.touches[0].pageX : e.pageX,
      pageY = touchEnabled ? e.touches[0].pageY : e.pageY,
      offsets = elem.getBoundingClientRect(),
      w = elem.clientWidth || elem.offsetWidth || elem.scrollWidth,
      h = elem.clientHeight || elem.offsetHeight || elem.scrollHeight,
      wMultiple = 320 / w,
      offsetX = 0.52 - (pageX - offsets.left - bdsl) / w,
      offsetY = 0.52 - (pageY - offsets.top - bdst) / h,
      dy = pageY - offsets.top - bdst - h / 2,
      dx = pageX - offsets.left - bdsl - w / 2,
      yRotate = (offsetX - dx) * (0.07 * wMultiple),
      xRotate = (dy - offsetY) * (0.1 * wMultiple),
      imgCSS = `rotateX(${xRotate}deg) rotateY(${yRotate}deg)`,
      arad = Math.atan2(dy, dx),
      angle = (arad * 180) / Math.PI - 90;

    if (angle < 0) {
      angle = angle + 360;
    }

    if (elem.firstChild.className.indexOf(" over") != -1) {
      // imgCSS += " scale3d(1.07,1.07,1.07)";
    }

    elem.firstChild.style.transform = imgCSS;

    shine.style.background = `linear-gradient(${angle}deg, rgba(255,255,255,${
      ((pageY - offsets.top - bdst) / h) * 0.4
    }) 0%, rgba(255,255,255,0) 80%)`;
    shine.style.transform = `translateX(${
      offsetX * totalLayers - 0.1
    }px) translateY(${offsetY * totalLayers - 0.1}px)`;

    let revNum = totalLayers;
    for (let ly = 0; ly < totalLayers; ly++) {
      layers[ly].style.transform = `translateX(${
        offsetX * revNum * ((ly * 2.5) / wMultiple)
      }px) translateY(${offsetY * totalLayers * ((ly * 2.5) / wMultiple)}px)`;
      revNum--;
    }
  }

  function processEnter(e, elem) {
    elem.firstChild.className += " over";
  }

  function processExit(e, elem, layers, totalLayers, shine) {
    const container = elem.firstChild;

    container.className = container.className.replace(" over", "");
    container.style.transform = "";
    shine.style.cssText = "";

    for (var ly = 0; ly < totalLayers; ly++) {
      layers[ly].style.transform = "";
    }
  }
}

onMounted(() => {
  if (import.meta.client) {
    make3d();
  }
});
</script>

<template>
  <div class="cover card" ref="cardDomElement">
    <div class="card-container">
      <div class="card-shadow"></div>
      <div class="card-layers">
        <div
          class="card-rendered-layer"
          data-layer="0"
          :style="cardBackgroundStyles"
        ></div>
        <div
          class="card-rendered-layer"
          data-layer="1"
          :style="cardForegroundStyles"
        ></div>
      </div>
      <div class="card-shine"></div>
    </div>
  </div>
</template>


<style lang="scss">
.cover {
  --border-radius: 8px;

  display: inline-block;

  width: 100%;

  @include desktop-lg {
    min-width: 400px;
  }

  margin: 0;
  border-radius: var(--border-radius);

  aspect-ratio: 320 / 200;
}

.card {
  border-radius: var(--border-radius);
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(#000, 0);

  img {
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
  }

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: all 0.2s ease-out;
  }
}

.card-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  transform-style: preserve-3d;
}

.card-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.card-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-out;
  // box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  box-shadow: 0 6px 20px rgba(14, 21, 47, 0.4);

}

.card-shine {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
</style>
