<script setup>
const { image } = defineProps({
  image: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="tile tile--is-rect">
    <NuxtImg class="tile-image" :src="image?.path" width="800" :alt="image?.title" />
  </div>
</template>

<style lang="scss" scoped>
.tile {
  &:hover {
    &::v-deep(button) {
      background-color: var(--primary-black-100);
      color: var(--primary-white-100);
    }
  }
}
</style>
