<script setup>
const dayjs      = useDayjs()
const { locale } = useI18n()
const localePath = useLocalePath()

const { newsItem } = defineProps({
  newsItem: {
    type: Object,
    required: true
  }
});

const isColorDark = (hexColor) => {
  // Convert hex to RGB
  hexColor = hexColor.replace(/^#/, '');
  const bigint = parseInt(hexColor, 16);
  const red = (bigint >> 16) & 255;
  const green = (bigint >> 8) & 255;
  const blue = bigint & 255;

  // Calculate luminance
  const luminance = 0.299 * red + 0.587 * green + 0.114 * blue;

  // Define a threshold (you can adjust this value)
  const threshold = 128;

  // Check if luminance is below the threshold
  return luminance < threshold;
}

const getBgColorStyle = (salesTitle) => {
  if (salesTitle) {
    return {
      backgroundColor: salesTitle.color
    }
  }
}
const isBgColorDark = (salesTitle) => {
  if (salesTitle) {
    if (isColorDark(salesTitle.color)) {
      return 'is-bg-dark';
    }
    return 'is-bg-light';
  }
}

const computedDateString = computed(() => {
  const date = dayjs(newsItem.published_at);

  return date.format('DD.MM.YYYY');
})

</script>

<template>
  <NuxtLink
    class="tile tile--is-rect"
    :to="localePath({ name: 'news-slug', params: { slug: newsItem.slug } })"
  >
    <NuxtImg class="tile-image" :src="newsItem.image.path" width="800" :alt="newsItem.title" />

    <p class="tile-date description">
      {{ computedDateString }}.
    </p>

    <div class="tile-text paragraph" v-html="newsItem.title"></div>

    <div>
      <AppButtonTertiary :label="$t('news.link')" hasCustomIcon icon="customicon--right" />
    </div>

  </NuxtLink>

</template>

<style lang="scss" scoped>
.tile {

  &:hover {

    &::v-deep(button) {
      background-color: var(--primary-black-100);
      color: var(--primary-white-100);
      --btn-color: var(--primary-white-100);
    }
  }
}
</style>