<script setup>
const dayjs      = useDayjs()
const { locale } = useI18n()
const localePath = useLocalePath()

const { salesItem } = defineProps({
  salesItem: {
    type: Object,
    required: true
  }
});

const getColorCategory = (hexColor) => {

  if (typeof hexColor !== 'undefined' && hexColor === null) {
    return 'is-bg-light'
  }

  // Convert hex to RGB
  hexColor = hexColor.replace(/^#/, '');
  const bigint = parseInt(hexColor, 16);
  const red = (bigint >> 16) & 255;
  const green = (bigint >> 8) & 255;
  const blue = bigint & 255;

  // Calculate luminance
  const luminance = 0.299 * red + 0.587 * green + 0.114 * blue;

  // Define thresholds
  const darkThreshold = 85
  const lightThreshold = 170

  // Categorize luminance
  if (luminance < darkThreshold) {
    return 'is-bg-dark'
  } else if (luminance >= darkThreshold && luminance <= lightThreshold) {
    return 'is-bg-medium-dark'
  } else {
    return 'is-bg-light'
  }
};

const getBgColorStyle = (salesTitle) => {
  if (salesTitle) {
    return {
      backgroundColor: salesTitle.color
    }
  }
}

const isBgColorCategory = (salesTitle) => {
  if (salesTitle) {
    return getColorCategory(salesTitle.color)
  }
};


const computedDateString = computed(() => {
  const dates = [];

  if (salesItem.dateStart) {
    dates.push( dayjs(salesItem.dateStart) );
  }

  if (salesItem.dateEnd) {
    dates.push( dayjs(salesItem.dateEnd) );
  }

  return dates
    .map((date, index, array) => {
      if (index === array.length - 1) {
        return date.format('DD.MM.YYYY');
      }

      return date.format('DD.MM');
    })
    .join(' - ');
})

const firstCategory = (shop) => {
  if (shop?.categories.length > 0) {
    return shop?.categories[0].slug
  }

  return 'none';
};
</script>

<template>
  <NuxtLink
    :data-id="salesItem.id"
    class="tile"
    :to="localePath({ name: 'shops-category-slug', params: { slug: salesItem.shop.slug, category: firstCategory(salesItem.shop) } })"
  >
    <div class="tile-colorbox"
      :class="isBgColorCategory(salesItem.sales_title)"
      :style="getBgColorStyle(salesItem.sales_title)"
    >
      <h2 class="tile-title" :class="`is-language-${locale}`">
        {{ salesItem.final_sales_title }}
      </h2>

      <div v-if="salesItem.subtitle" class="h4 tile-subtitle uppercase" :class="`is-language-${locale}`">
        {{ salesItem.subtitle }}
      </div>
    </div>

    <h3 class="tile-shoptitle uppercase" :class="`is-language-${locale}`">
      {{ salesItem.shop.title }}
    </h3>

    <div class="tile-text paragraph" v-html="salesItem.content"></div>

    <p v-if="salesItem.is_dates_visible" class="tile-date description">
      {{ computedDateString }}.
    </p>
  </NuxtLink>

</template>

<style lang="scss" scoped>
.tile-title {
  font-style: italic;
}
</style>