<script setup>

const props = defineProps(['modelValue', 'suggestions']);

const complete = (event) => {
  emit('complete', event)
}

// Define v-model logic
const emit  = defineEmits(['update:modelValue', 'complete'])
const value = computed({
  // getter
  get() {
    return props?.modelValue
  },
  // setter
  set(newValue) {
    emit('update:modelValue', newValue)
  }
})

function clear(event) {
  value.value = null;
}
</script>

<template>
  <IconField class="search-input">
    <InputText
      class="input small-text"
      type="text"
      name=""
      :placeholder="$t('shop.searchShop')"
      v-model="value"
    />
    <div class="icon">
      <InputIcon v-if="value && value.length > 0" class="pi pi-times" @click="clear"/>
      <InputIcon v-else class="pi pi-search" />
    </div>
  </IconField>

</template>

<style lang="scss" scoped>

.search-input {
  display: flex;
  align-items: center;

  padding: var(--gap-2);
  border-bottom: 1px solid var(--primary-black-100);
}

.input {
  width: 100%;
  flex-grow: 1;
}

.icon {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;

  .pi {
    position: relative;

    &-times {
      cursor: pointer;
    }
  }
}
</style>