<script setup>
import PrimeSelect from 'primevue/select';


const emits = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: null,

  options: {
    type: Array,
    default: () => [],
  },
  optionLabel: {
    type: String,
    default: "name",
  },

  placeholder: {
    type: String,
    default: "",
  },
});
const value = computed({
  get: () => props.modelValue,
  set: (val) => emits("update:modelValue", val),
});

</script>

<template>
  <PrimeSelect
    v-model="value"
    :options="options"
    :optionLabel="optionLabel"
    :placeholder="placeholder"
    class="select inline-flex justify-between w-full md:w-80"
  >
    <template #dropdownicon>
      <svg xmlns="http://www.w3.org/2000/svg" class="s-24" viewBox="0 0 24 24" fill="none">
        <path d="M19.5 9L12 16.5L4.5 9" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>
    </template>
  </PrimeSelect>
</template>

<style lang="scss" scoped>

</style>