<script setup>
import { useId } from "vue";
const inputId = useId();

const props = defineProps(['modelValue', 'suggestions']);

const optionSelect = (event) => {
  setTimeout(() => {
    const input = document?.getElementById(inputId);
    input?.blur();
  }, 200);
}
const complete = (event) => {
  emits('complete', event)
}

// Define v-model logic
const emits = defineEmits(['update:modelValue', 'complete'])
const value = computed({
  get: () => props.modelValue,
  set: (val) => emits("update:modelValue", val),
});


</script>

<template>
  <AutoComplete
    :inputId="inputId"
    ref="autoCompleteDomElement"
    v-model="value"
    :suggestions="suggestions"
    optionLabel="title"
    :placeholder="$t('shop.searchShop')"
    :emptySearchMessage="$t('shop.noResults')"
    :selectOnFocus="true"
    :loading="false"
    dropdown
    :forceSelection="true"
    @complete="complete"
    @option-select="optionSelect"
  >
    <!-- Todo: add clear icon -->
    <template #dropdownicon>
      <!-- <template v-if="value" @click="value = null">
        <svg xmlns="http://www.w3.org/2000/svg" class="s-24" viewBox="0 0 24 24" fill="none">
          <path d="M18.75 5.25L5.25 18.75" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
          <path d="M19 19L5 5" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>
      </template> -->

      <svg class="s-24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.6003 16.2006C13.6933 16.2006 16.2006 13.6933 16.2006 10.6003C16.2006 7.50734 13.6933 5 10.6003 5C7.50734 5 5 7.50734 5 10.6003C5 13.6933 7.50734 16.2006 10.6003 16.2006Z" stroke="#030303" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M15.0703 15.0705L19.0003 19.0005" stroke="#030303" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
      </svg>
    </template>
  </AutoComplete>
</template>

<style lang="scss" scoped></style>