<script setup>

    const {banner} = defineProps({
        banner: {
            type: String,
            default: null,
        },
        poster: {
            type: String,
            default: ''
        },
        isMarginBottomSmall: {
            type: Boolean,
            default: null
        }
    });

</script>
<template>
    <div class="banner" :class="{'!mb-4' : isMarginBottomSmall}">
        <!-- <NuxtImg src="~/assets/img/banner-spice-about.png" alt="banner"> -->
        <video ref="videoRef" :src="banner" :poster="poster" id="video-container" width="100%" autoplay muted loop playsinline ></video>
    </div>
</template>

<style lang="scss" scoped>
.banner {
        // height: var(--desktop-banner-vh);
        height: calc(110vw - rem(80));
        aspect-ratio: 16 / 9;

        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: var(--gap-18);
        background: transparent;
        border: none;
        border-top-color: transparent;
        @include desktop-lg {
            margin-bottom: var(--gap-30);

            height: calc(68vh - rem(80));
            max-height: 1000px;
        }
        @include desktop-lg-down {
            height: calc(110vw - rem(80));
            max-height: 615px;
        }
    video {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}
</style>