<script setup>
const props = defineProps({
  progress: {
    type: Number,
    default: 0.7,
  },
})

const handleStyles = computed(() => {

  // Is in percent or decimals.. make as decimals (0 to 1)
  const progress = (props.progress > 1) ? props.progress/100 : props.progress;

  return {
    left: `${progress * 100}%`,
    transform: `translateX(-${progress * 100}%)`,
  };
})

</script>

<template>
  <div class="flex w-full flex-col gap-3 md:items-center lg:items-start">
    <div class="small-text">
      {{ $t('global.visitationTitle') }}
    </div>

    <div class="slider">
      <div class="slider-slider">
        <div class="slider-line"></div>
        <div class="slider-handle" :style="handleStyles"></div>
      </div>

      <div class="slider-labels">
        <div class="label h4 label--left">
          {{$t('global.visitationLabelEmpty')}}
        </div>
        <div class="label h4 label--right">
          {{$t('global.visitationLabelFull')}}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.slider {
  width: 100%;

  @include desktop {
    width: 20rem;
  }

  &-slider {
    position: relative;
    width: 100%;
    height: var(--gap-6);

  }

  &-line {
    position: absolute;
    width: 100%;
    height: 2px;

    top: 50%;
    transform: translateY(-50%);

    background-color: var(--primary-black-100);
  }

  &-handle {
    position: relative;

    width: var(--gap-6);
    height: var(--gap-6);

    left: 0;
    top: 0;

    border-radius: 50%;

    background-color: var(--primary-black-100);
    transition: left 400ms cubic-bezier(0.9,-0.3,0.3,1.1), transform 500ms ease-in-out;
  }

  &-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.label {
  text-transform: uppercase;
}
</style>