<script >
import { mapState } from 'pinia'
const dayjs = useDayjs();
// const data = useDataStore();

export default {
  props: {
    workHoursArray: {
      type: Array,
      default: () => [],
    },

    underConstructionUntil: String,

    onlyToday: Boolean,
    spice: {
      type: Boolean,
      default: false,
    },

    spicehome: {
      type: Boolean,
      default: false,
    },

    color: {
      type: String,
      default: '#000',
    }
  },

  methods: {
    timeFormat(time) {
      if (time == null) {
        return null;
      } else {
        return dayjs(`2002-01-01T${time}`, "HH:mm:ss").format("HH:mm");
      }
    },

    isUnderConstruction() {
      if (this.underConstructionUntil && dayjs().format("YYYY-MM-DD HH:mm:ss") < dayjs(this.underConstructionUntil).format("YYYY-MM-DD HH:mm:ss")) {
        return true;
      }
      return false;
    },

    formatTime() {
      return dayjs(this.underConstructionUntil).format("DD.MM");
    },

    titleCase(text) {
      return text.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    },
  },

  computed: {
    workHours() {

      if (this.workHoursArray.length > 0) {
        return this.workHoursArray;
      }

      if (this.spice) {
        return this?.workhours?.spice || null;
      }

      if (this.spicehome) {
        return this?.workhours?.spicehome || null;
      }
    },

    spiceWorkHoursToday() {
      const wh = this.workhours?.spice;

      const date = new Date;
      const today = date.getDay();

      if (wh == null) {
        return '10:00 - 22:00';
      }

      for (let index = 0; index < wh.length; index++) {
        const element = wh[index];

        if (element.days.some( day => day == today)) {
          return `${this.timeFormat(element.start)} - ${this.timeFormat(element.end)}`;
        }

      }

      return '10:00 - 22:00';
    },
    spiceHomeWorkHoursToday() {
      const wh = this.workhours?.spicehome;

      const date = new Date;
      const today = date.getDay();

      if (wh == null) {
        if (today == 0) {
          return '10:00 - 20:00';
        } else {
          return '10:00 - 21:00';
        }
      }

      for (let index = 0; index < wh.length; index++) {
        const element = wh[index];

        if (element.days.some( day => day == today)) {
          return `${this.timeFormat(element.start)} - ${this.timeFormat(element.end)}`;
        }

      }

      return '10:00 - 21:00';
    },

    ...mapState(useDataStore, ['workhours']),
  }
};

</script>

<template>
  <div class="workhours today" v-if="onlyToday">
    <h4>
      <span class="uppercase">{{ $t("global.tc_spice") }}:</span>&nbsp;
      <span class="whitespace-nowrap">{{ spiceWorkHoursToday }}</span>,
    </h4>
    <h4>
      <span class="uppercase">{{ $t("global.tc_spicehome") }}:</span>&nbsp;
      <span class="whitespace-nowrap">{{ spiceHomeWorkHoursToday }}</span>
      <!-- 10:00 - 21:00, SPICE HOME: 10:00 - 21:00 -->
    </h4>
  </div>

  <div class="workhours times flex flex-col gap-[var(--gap-6)] lg:block lg:gap-0" v-else>
    <div class="time-box" v-for="wh in workHours" :class="{ multiple: workHours.length > 1 }" >
      <div class="day-list">
        <span class="small-text" v-for="(day, index) in wh.days" :key="index">
          {{ titleCase($t(`days.day${day}`)) }}
        </span>
      </div>

      <div class="time h3" v-if="isUnderConstruction()">
        {{ $t("shop.under_construction") }} {{ formatTime() }}
      </div>

      <div class="time h3" v-else-if="wh.start == null">
        {{ $t("shop.shop_closed") }}
      </div>

      <div class="time h3" v-else>
        {{ timeFormat(wh.start) }} - {{ timeFormat(wh.end) }}
      </div>

    </div>
  </div>
</template>


<style lang="scss" scoped>
.workhours {
  --workhours-color:   var(--color,   var(--primary-black-100));
  --workhours-bgcolor: var(--bgcolor, var(--primary-white-100));
}

.today {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-2);

  h4 {
    white-space: nowrap;
  }
}


.time-box {
  display: flex;
  flex-direction: column;

  // gap: var(--gap-3);
  gap: var(--gap-2);

  // &:nth-child(2) {
  //   margin-top: var(--gap-6);
  // }

  @include desktop-lg {
    margin-bottom: var(--gap-6);
  }

  .day-list {
    display: flex;
    gap: var(--gap-2);

    span {
      height: var(--gap-6);
      aspect-ratio: 1 / 1;

      border: 1px solid var(--workhours-color);
      color: var(--workhours-color);

      display: flex;
      justify-content: center;
      align-items: center;

      text-transform: titlecase;
    }
  }

  .time {
    color: var(--workhours-color);
  }

  .shop-times {
    cursor: default;
  }
}

</style>
