$transition-duration: 250ms;

.p-autocomplete {
  position: relative;
  width: 100%;

  border-bottom: 1px solid var(--primary-black-100, #030303);
  transition: background $transition-duration ease;

  .p-autocomplete-dropdown {
    // position: static;
    padding: var(--gap-2);
    z-index: 1;
  }

  input {
    @extend .small-text;

    height: var(--gap-10);

    display: flex;
    align-items: center;

    padding: var(--gap-2);

    transition: color $transition-duration ease;

    &.p-placeholder {
      color: var(--secondary-black-40);
    }
  }

  &-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    svg {
      transition: transform $transition-duration ease;

      * {
        transition: stroke $transition-duration ease;
      }
    }
  }

  &-open {
    background-color: var(--primary-black-100);

    input {
      color: var(--primary-white-100);
    }

    .p-autocomplete-dropdown {
      svg {

        * {
          stroke: var(--primary-white-100);
        }
      }
    }
  }

  &:hover {
    // @extend .p-autocomplete-open;
  }
}


.p-autocomplete-overlay {

  border-left: 1px solid var(--primary-black-100, #030303);
  border-right: 1px solid var(--primary-black-100, #030303);
  border-bottom: 1px solid var(--primary-black-100, #030303);

  background-color: var(--primary-white-100, #ffffff);

  .p-autocomplete-list {
    padding: var(--gap-2) var(--gap-2);
    // padding: 0;
  }

  .p-autocomplete-option {
    padding-top: var(--gap-1);
    padding-bottom: var(--gap-1);

    &-label {
      @extend .small-text;
    }
  }
}