.p-button {
  @extend .h3;

  --btn-color: var(--primary-black-100);
  --btn-bg: transparent;
  --btn-border-color: var(--primary-black-100);

  border: 1px solid var(--primary-black-100);

  display: inline-flex;
  padding: var(--gap-3) var(--gap-5);
  justify-content: center;
  align-items: center;
  gap: var(--gap-2);

  text-transform: uppercase;

  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);

  &:active,
  &.active {
    --btn-bg: var(--primary-black-100);
    --btn-color: var(--primary-white-100);
  }

  &:hover {
    @include desktop-xl {
      --btn-bg: var(--primary-black-100);
      --btn-color: var(--primary-white-100);
    }

  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;

    &:active {
      background-color: transparent;
      color: var(--primary-black-100);
    }

    &:hover {
      @include desktop-xl {
        background-color: transparent;
        color: var(--primary-black-100);
      }
    }
  }

  &.secondary {
    --btn-bg: var(--primary-black-100);
    --btn-color: var(--primary-white-100);

    color: var(--btn-color);

    &:active {
      --btn-bg: var(--primary-white-100);
      --btn-color: var(--primary-black-100);
    }

    &:hover {
      @include desktop-xl {
        --btn-bg: var(--primary-white-100);
        --btn-color: var(--primary-black-100);
      }
    }
  }

  &.tertiary {
    @extend .small-text;

    color: var(--btn-color);
    border: none;

    padding: var(--gap-2) var(--gap-3);
    text-transform: none;

    &:active {
      --btn-bg: var(--primary-black-100);
      --btn-color: var(--primary-white-100);
    }

    &:hover {
      @include desktop-xl {
        --btn-bg: var(--primary-black-100);
        --btn-color: var(--primary-white-100);
      }
    }
  }

  &.link {
    --btn-bg: transparent;

    border: none;
    border-bottom: 1px solid transparent;

    padding: var(--gap-2) 0;
    justify-content: flex-start;

    &:active {
      --btn-bg: transparent;
      color: initial;
      border-bottom: 1px solid var(--primary-black-100);
    }

    &:hover {
      @include desktop-xl {
        --btn-bg: transparent;
        color: initial;

        border-bottom: 1px solid var(--primary-black-100);
      }
    }
  }

  &-icon-only {

    &:not(.primary, .secondary, .tertiary) {
      border: none;

      &:active {
        --btn-bg: transparent;
        background-color: transparent;
        color: initial;
      }

      &:hover {
        @include desktop-xl {
          --btn-bg: transparent;
          background-color: transparent;
          color: initial;
        }
      }
    }

    .p-button-label {
      display: none;
    }
  }

  &.square {

  }
}