.p-datepicker {

  input {
    padding: var(--gap-2);
    border-bottom: 1px solid var(--primary-black-100);
  }

  .p-datepicker-input-icon-container {
    bottom: var(--gap-1);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: var(--desktop-small-text-size-rem);
    }
  }
}