.p-dialog-mask {
    background: rgba(3, 3, 3, 0.30);
}

.p-dialog {
    padding: 0;

    .p-dialog-header-actions {
        position: absolute;

        top: var(--gap-4);
        right: var(--gap-4);
    }

    @include mobile {
        margin-left: var(--gap-2);
        margin-right: var(--gap-2);
    }
}

.p-dialog-content {
    height: 100%;
}

.p-radiobutton {
    .p-radiobutton-box {
        border-radius: 50%;
        border: 1px solid var(--primary-black-100);
        width: 1rem;
        height: 1rem;
        // background: var(--primary-black-100);
        .p-radiobutton-icon {
            background: var(--primary-white-100);
        }
    }
    &:not(.p-disabled):has(.p-radiobutton-input:hover).p-radiobutton-checked .p-radiobutton-box {
        background: var(--primary-black-100);
    }
}
.p-radiobutton-checked .p-radiobutton-box  {
    border: none;
    background: var(--primary-black-100);
}
.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
    visibility: visible;
    width: .375rem;
    height: .375rem;
    border: none;
}
.p-checkbox {
    width: 1rem;
    height: 1rem;
    &-input {
        width: 100%;
        height: 100%;
    }
    &-box {
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--primary-black-100);
    }
    &-icon {
        width: 0.875rem;
        height: 0.875rem;
    }
}

.p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
    background: var(--primary-black-100);
}
.p-checkbox-checked:not(.p-disabled) .p-checkbox-box {
    background: var(--primary-black-100);
}
.p-checkbox-checked .p-checkbox-icon  {
    color: var(--primary-white-100);
}