.innerpage {
  // margin-top: rem(120);
  // margin-bottom: rem(60);

  margin-top: var(--gap-18);
  margin-bottom: var(--gap-15);

  min-height: 50vh;

  &.mt-small {
    margin-top: var(--gap-4);
    @include desktop-lg {
      margin-top: var(--gap-30);
    }
  }

  @include desktop-lg {
    margin-top: var(--gap-30);
  }

  &-block {
    // margin-bottom: rem(150);
    margin-bottom: var(--gap-25);
    @include desktop-lg {
      margin-bottom: var(--gap-37);
    }
    &:last-child {
      margin-bottom: var(--gap-28);
      @include desktop-lg {
        margin-bottom: var(--gap-45);
      }
    }
  }
}