$time: .4s;

:root {
  --hover-fill-color: #4A1C1F;
  // --hover-fill-color: #ED1C24;
  --hover-text-color: #fff;
}

path,
polygon,
rect,
circle {
	transition: fill $time ease, stroke $time ease, opacity $time ease, transform $time ease;
}


// Hide all locations
[id*="Location"] {
  display: none;
}

// Hide all guides
[id*="Guide"] {
  display: none;
}


[id*="Piktogrammas"] {
  .shopActive {
    path:first-child,
    polygon:first-child {
        fill: #2FAC66 !important;
        fill: #ED1C24 !important;
    }
    // path:last-child,
    // polygon:last-child {
    //     fill: #2FAC66 !important;
    //     fill: #000 !important;
    // }
  }

  * {
    transition: opacity 200ms ease 200ms;
  }
}


.animated-map {

  [id*="Veikals"], [id*="PromenadeMaja"] {
    &:hover,
    &.shopActive {
      rect,
      path,
      polygon {
          fill: #2FAC66 !important;
          fill: #ED1C24 !important;
          fill: var(--hover-fill-color) !important;
      }
      g g path {
        fill: #fff !important;
        fill: var(--hover-text-color) !important;
      }
      text {
        fill: white;
        fill: var(--hover-text-color) !important;
      }
    }
  };
}

@mixin maps {
  #spice_floor_1,
  #spice_floor_2,
  #spiceHome_floor_1,
  #spiceHome_floor_2 {
    @content;
  }
}


@include maps {
  #SpiceVeikals2-31 {
    // text {
    //   font-size: 20px;
    //   text-align: center;
    // }
  }

  text {
    font-family: $font-deca !important;

    * {
      font-family: $font-deca !important;
    }
  }
}


// .selected-language-ru {
//   @include maps {
//     text {
//       font-family: 'Avenir Next', "Lexend Giga" !important;
//       * {
//         font-family: 'Avenir Next', "Lexend Giga" !important;
//       }
//     }
//   }
// }
