$transition-duration: 250ms;

.p-select {
  width: 100%;
  border-bottom: 1px solid var(--primary-black-100, #030303);

  padding: var(--gap-2);

  transition: background $transition-duration ease;

  &-label {
    @extend .small-text;

    display: flex;
    align-items: center;
    padding-right: var(--gap-3);

    transition: color $transition-duration ease;

    &.p-placeholder {
      color: var(--secondary-black-40);
    }
  }

  &-dropdown {

    svg {
      transition: transform $transition-duration ease;

      * {
        transition: stroke $transition-duration ease;
      }
    }
  }

  &-open {
    background-color: var(--primary-black-100);

    .p-select-label {
      color: var(--primary-white-100);
    }

    .p-select-dropdown {

      svg {
        transform: rotate(180deg);

        * {
          stroke: var(--primary-white-100);
        }
      }
    }
  }

  &:hover {
    @extend .p-select-open;
  }
}


.p-select-overlay {

  border: 1px solid var(--primary-black-100, #030303);
  background-color: var(--primary-white-100, #ffffff);

  // maybe kko salauzu šo noresetojot.
  margin-top: 0 !important;

  .p-select-list {
    padding: var(--gap-2) var(--gap-2);
    // padding: 0;
  }

  .p-select-option {
    padding-top: var(--gap-1);
    padding-bottom: var(--gap-1);

    &-label {
      @extend .small-text;
    }
  }
}