.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-10);

  align-items: start;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  @include desktop-lg {
    gap: var(--gap-20) var(--gap-6);
  }
  @include desktop-xl {
    .tile:nth-child(3n-1) {
      margin-top: var(--gap-10);
    }
  }
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: var(--gap-3);

  &-colorbox {
    width: 100%;
    // min-height: 300px;
    aspect-ratio: 10/7;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #EACEBF;

    overflow: hidden;
    padding: .75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: var(--gap-4);

    &.is-bg-white {}
    &.is-bg-dark {

      .tile-title,
      .tile-subtitle {
        color: var(--primary-beige-100);
      }
    }
    &.is-bg-medium-dark {
      .tile-title,
      .tile-subtitle {
        color: var(--primary-white-100);
      }
    }

  }

  &-image {
    width: 100%;
    aspect-ratio: 1/1;

    padding: 0;
    margin: 0;

    display: block;

    background-color: #EACEBF;

    object-fit: cover;
  }

  &--is-rect {
    .tile-colorbox,
    .tile-image {
      aspect-ratio: 1/1;
    }
  }
}