@import '../nora/nora-css-variables-mixin';

.p-toast {
  @include p-variables;

  --p-toast-width: 25rem;
  --p-toast-border-radius: 0;
  --p-toast-border-width: 0px;
  --p-toast-transition-duration: var(--p-transition-duration);
  --p-toast-icon-size: 1.125rem;
  --p-toast-content-padding: var(--p-overlay-popover-padding);
  --p-toast-content-gap: 0.5rem;
  --p-toast-text-gap: 0.5rem;

  --p-toast-summary-font-weight: 400;
  --p-toast-summary-font-size: 1rem;

  --p-toast-detail-font-weight: 500;
  --p-toast-detail-font-size: 0.875rem;
  --p-toast-close-button-width: 1.75rem;
  --p-toast-close-button-height: 1.75rem;
  --p-toast-close-button-border-radius: 50%;
  --p-toast-close-button-focus-ring-width: var(--p-focus-ring-width);
  --p-toast-close-button-focus-ring-style: var(--p-focus-ring-style);
  --p-toast-close-button-focus-ring-offset: var(--p-focus-ring-offset);
  --p-toast-close-icon-size: 1rem;
  --p-toast-blur: 1.5px;

  --p-toast-info-background: color-mix(in srgb, var(--p-blue-50), transparent 5%);
  --p-toast-info-border-color: var(--p-blue-200);
  --p-toast-info-color: var(--p-blue-600);
  --p-toast-info-detail-color: var(--p-surface-700);
  --p-toast-info-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-blue-500), transparent 96%);
  --p-toast-info-close-button-hover-background: var(--p-blue-100);
  --p-toast-info-close-button-focus-ring-color: var(--p-blue-600);
  --p-toast-info-close-button-focus-ring-shadow: none;

  --p-toast-success-background: var(--info-color-success);
  --p-toast-success-border-color: var(--info-color-success);
  --p-toast-success-color: var(--primary-white-100);
  --p-toast-success-detail-color: var(--primary-white-100);
  --p-toast-success-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-green-500), transparent 96%);
  --p-toast-success-close-button-hover-background: var(--info-color-success);
  --p-toast-success-close-button-focus-ring-color: var(--info-color-success);;
  --p-toast-success-close-button-focus-ring-shadow: none;

  --p-toast-warn-background: color-mix(in srgb, var(--p-yellow-50), transparent 5%);
  --p-toast-warn-border-color: var(--p-yellow-200);
  --p-toast-warn-color: var(--p-yellow-600);
  --p-toast-warn-detail-color: var(--p-surface-700);
  --p-toast-warn-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-yellow-500), transparent 96%);
  --p-toast-warn-close-button-hover-background: var(--p-yellow-100);
  --p-toast-warn-close-button-focus-ring-color: var(--p-yellow-600);
  --p-toast-warn-close-button-focus-ring-shadow: none;

  --p-toast-error-background: var(--info-color-error);
  --p-toast-error-border-color: var(--info-color-error);
  --p-toast-error-color: var(--primary-white-100);
  --p-toast-error-detail-color:  var(--primary-white-100);
  --p-toast-error-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-red-500), transparent 96%);
  --p-toast-error-close-button-hover-background: var(--info-color-error);
  --p-toast-error-close-button-focus-ring-color: var(--info-color-error);
  --p-toast-error-close-button-focus-ring-shadow: none;

  --p-toast-secondary-background: var(--p-surface-100);
  --p-toast-secondary-border-color: var(--p-surface-200);
  --p-toast-secondary-color: var(--p-surface-600);
  --p-toast-secondary-detail-color: var(--p-surface-700);
  --p-toast-secondary-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-surface-500), transparent 96%);
  --p-toast-secondary-close-button-hover-background: var(--p-surface-200);
  --p-toast-secondary-close-button-focus-ring-color: var(--p-surface-600);
  --p-toast-secondary-close-button-focus-ring-shadow: none;
  --p-toast-contrast-background: var(--p-surface-900);
  --p-toast-contrast-border-color: var(--p-surface-950);
  --p-toast-contrast-color: var(--p-surface-50);
  --p-toast-contrast-detail-color: var(--p-surface-0);
  --p-toast-contrast-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-surface-950), transparent 96%);
  --p-toast-contrast-close-button-hover-background: var(--p-surface-800);
  --p-toast-contrast-close-button-focus-ring-color: var(--p-surface-50);
  --p-toast-contrast-close-button-focus-ring-shadow: none;

  @extend .p;

  width: var(--p-toast-width);
  white-space: pre-line;
  word-break: break-word;

  .p-toast-message.p-toast-message-leave-to {
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.p-toast-message {
  margin: 0 0 1rem 0;
}

.p-toast-message-icon {
  flex-shrink: 0;
  font-size: var(--p-toast-icon-size);
  width: var(--p-toast-icon-size);
  height: var(--p-toast-icon-size);
}

.p-toast-message-content {
  display: flex;
  align-items: flex-start;
  padding: var(--p-toast-content-padding);
  gap: var(--p-toast-content-gap);
}

.p-toast-message-text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--p-toast-text-gap);
}

.p-toast-summary {
  font-weight: var(--p-toast-summary-font-weight);
  font-size: var(--p-toast-summary-font-size);
}

.p-toast-detail {
  font-weight: var(--p-toast-detail-font-weight);
  font-size: var(--p-toast-detail-font-size);
}

.p-toast-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: background var(--p-toast-transition-duration), color var(--p-toast-transition-duration), outline-color var(--p-toast-transition-duration), box-shadow var(--p-toast-transition-duration);
  outline-color: transparent;
  color: inherit;
  width: var(--p-toast-close-button-width);
  height: var(--p-toast-close-button-height);
  border-radius: var(--p-toast-close-button-border-radius);
  margin: -25% 0 0 0;
  right: -25%;
  padding: 0;
  border: none;
  user-select: none;

  &:dir(rtl) {
    margin: -25% 0 0 auto;
    left: -25%;
    right: auto;
  }

  &:focus-visible {
    outline-width: var(--p-focus-ring-width);
    outline-style: var(--p-focus-ring-style);
    outline-offset: var(--p-focus-ring-offset);
  }
}

.p-toast-message-info {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-info-background);
  border-color: var(--p-toast-info-border-color);
  color: var(--p-toast-info-color);
  box-shadow: var(--p-toast-info-shadow);

  .p-toast-detail {
    color: var(--p-toast-info-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-info-close-button-focus-ring-color);
      box-shadow: var(--p-toast-info-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-info-close-button-hover-background);
    }
  }
}

.p-toast-message-success {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-success-background);
  border-color: var(--p-toast-success-border-color);
  color: var(--p-toast-success-color);
  box-shadow: var(--p-toast-success-shadow);

  .p-toast-detail {
    color: var(--p-toast-success-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-success-close-button-focus-ring-color);
      box-shadow: var(--p-toast-success-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-success-close-button-hover-background);
    }
  }
}

.p-toast-message-warn {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-warn-background);
  border-color: var(--p-toast-warn-border-color);
  color: var(--p-toast-warn-color);
  box-shadow: var(--p-toast-warn-shadow);

  .p-toast-detail {
    color: var(--p-toast-warn-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-warn-close-button-focus-ring-color);
      box-shadow: var(--p-toast-warn-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-warn-close-button-hover-background);
    }
  }
}

.p-toast-message-error {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-error-background);
  border-color: var(--p-toast-error-border-color);
  color: var(--p-toast-error-color);
  box-shadow: var(--p-toast-error-shadow);

  .p-toast-detail {
    color: var(--p-toast-error-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-error-close-button-focus-ring-color);
      box-shadow: var(--p-toast-error-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-error-close-button-hover-background);
    }
  }
}

.p-toast-message-secondary {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-secondary-background);
  border-color: var(--p-toast-secondary-border-color);
  color: var(--p-toast-secondary-color);
  box-shadow: var(--p-toast-secondary-shadow);

  .p-toast-detail {
    color: var(--p-toast-secondary-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-secondary-close-button-focus-ring-color);
      box-shadow: var(--p-toast-secondary-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-secondary-close-button-hover-background);
    }
  }
}

.p-toast-message-contrast {
  border-width: var(--p-toast-border-width);
  border-style: solid;
  backdrop-filter: blur(var(--p-toast-blur));
  border-radius: var(--p-toast-border-radius);
  background: var(--p-toast-contrast-background);
  border-color: var(--p-toast-contrast-border-color);
  color: var(--p-toast-contrast-color);
  box-shadow: var(--p-toast-contrast-shadow);

  .p-toast-detail {
    color: var(--p-toast-contrast-detail-color);
  }

  .p-toast-close-button {
    &:focus-visible {
      outline-color: var(--p-toast-contrast-close-button-focus-ring-color);
      box-shadow: var(--p-toast-contrast-close-button-focus-ring-shadow);
    }

    &:hover {
      background: var(--p-toast-contrast-close-button-hover-background);
    }
  }
}

.p-toast-close-icon {
  font-size: var(--p-toast-close-icon-size);
  width: var(--p-toast-close-icon-size);
  height: var(--p-toast-close-icon-size);
}

.p-toast-top-center {
  transform: translateX(-50%);
}

.p-toast-bottom-center {
  transform: translateX(-50%);
}

.p-toast-center {
  min-width: 20vw;
  transform: translate(-50%, -50%);
}

.p-toast-message-enter-from {
  opacity: 0;
  transform: translateY(50%);
}

.p-toast-message-leave-from {
  max-height: 1000px;
}

.p-toast-message-enter-active {
  transition: transform 0.3s, opacity 0.3s;
}

.p-toast-message-leave-active {
  transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s, margin-bottom 0.3s;
}