<script setup>
const props = defineProps({
  icon: {
    type: String,
    default: undefined,
  },
})
</script>

<template>
  <template v-if="icon == undefined"> x </template>

  <svg v-else-if="icon == `customicon--external-link`" style="order:1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <path d="M4 12L12 4" stroke="#030303" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M5.5 4H12V10.5" stroke="#030303" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

  <svg v-else-if="icon == `customicon--right`" style="order:1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 8L14 8" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
    <path d="M9 2L15 8L9 14" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
  </svg>

  <svg v-else-if="icon == `customicon--left`" style="order:1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15 8L2 8" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
    <path d="M7 14L1 8L7 2" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
  </svg>

  <svg v-else-if="icon == `customicon--document`" style="order:1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 2V5.5H12.5" stroke="#030303"/>
    <path d="M3 2H9.5L13 5.5V14H3V2Z" stroke="#030303"/>
  </svg>

  <svg v-else-if="icon == `customicon--plus`" style="order:1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <path d="M2.66602 8H13.3327" stroke="#030303" stroke-linecap="square" stroke-linejoin="round"/>
    <path d="M8 2.66669V13.3334" stroke="#030303" stroke-linecap="square" stroke-linejoin="round"/>
  </svg>

  <svg v-else-if="icon == `customicon--minus`" style="order:1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <path d="M2.66602 8H13.3327" stroke="#030303" stroke-linecap="square" stroke-linejoin="round"/>
  </svg>

</template>

<style lang="scss" scoped>

svg {
  // --btn-color: var(--primary-black-100);

  flex-shrink: 0;
  flex-grow: 0;

  path {
    stroke: var(--btn-color);
  }
}
</style>