<script setup>

defineI18nRoute({
    paths: {
        en: '/audiostories/[slug]',
        lv: '/audiostasti/[slug]',
    }
});

    const localePath = useLocalePath()

    const route = useRoute()
    const dataStore  = useDataStore();
    const audioStory = computed(() => {
        return dataStore.audioStories.find(story => story.slug === route.params.slug)
    })

</script>
<template>
    <div class="page" v-if="audioStory">
        <MainSubpageHero :image="audioStory?.image?.path"/>

        <div class="innerpage mt-small">
            <div class="innerpage-block">
                <div class="container flex flex-col">
                    <div class="top relative mb-10 order-1 lg:order-1 lg:mb-20">
                        <div class="back-link mb-[var(--gap-5)] lg:mb-0">
                            <AppButtonTertiary
                                :label="$t('global.back')"
                                :to="`${localePath({ name: 'audiostories' })}#${route.params.slug}`"
                                hasCustomIcon isReversed icon="customicon--left"
                            />
                        </div>
                        <h2 class="text-center lg:px-24" v-html="audioStory.title"></h2>
                    </div>

                    <div class="content has-html-content gap-x-16 lg:columns-2 order-3 lg:order-2" v-html="audioStory.content">
                    </div>

                    <client-only>
                        <PageAudiostoriesAudioPlayer
                        ref="audioPlayer"
                        theme-color="#000"
                        :audio-list="[audioStory.file.path]"
                        :show-prev-button="false"
                        :show-next-button="false"
                        :show-playback-rate="false"
                        class="audio-player-component mx-auto mb-10 order-2 w-full lg:order-3 lg:mb-0 lg:w-auto"
                        />
                    </client-only>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .audio-player-component {
        @include desktop {
            width: 28.25rem;
        }
    }
    .content {
        margin-bottom: var(--gap-13);
    }
    .top {
        @include desktop-xl {
            text-align: center;
        }
    }
    .back-link {
        @include desktop-xl {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
</style>