<script setup>
defineI18nRoute({
    paths: {
        en: '/audiostories',
        lv: '/audiostasti',
    }
});

    const localePath = useLocalePath()
    import posterImage from '/img/banner-spice-about.jpg';

    const { locale } = useI18n()
    const dataStore  = useDataStore();

</script>

<template>
    <div class="page">
        <AppSimpleBanner :banner="`/video/video.mp4`" :poster="posterImage"/>
        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <div class="container-inner">
                        <div class="w-full flex justify-center mb-10">
                            <h1 v-html="$t('about.main_title')"></h1>
                        </div>
                        <div class="w-full flex flex-col justify-center items-center gap-6 mb-[var(--gap-15)] uppercase md:flex-row md:gap-16 lg:mb-20">
                            <NuxtLink :to="localePath('about')" class="switch">{{ $t('about.manifesto_link') }}</NuxtLink>
                            <NuxtLink :to="localePath()" class="switch active"> {{ $t('about.audiostories_link') }} </NuxtLink>
                        </div>
                        <PageAudiostoriesAudioStories :audio-stories="dataStore.audioStories" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .switch {
        font-family: var(--font-giga);
        font-size: var(--desktop-paragraph-size-rem);
        line-height: 1.22;
        padding: var(--gap-2) 0;
        &.active {
            border-bottom: 1px solid var(--black-100, #030303);
        }
    }
</style>