<script setup>
    const cardNo = ref('')
    const cardBalance = ref(null)
    const cardBalanceLoading = ref(false)
    const checkCard = async () => {
        cardBalanceLoading.value = true
        const form = new FormData()
        form.append('card-number', cardNo.value.replace(/\s/g, ''))

        try {
            const { data: balanceData, error } = await $fetch('/api/v1/giftcard/ballance', {
                method: 'POST',
                body: form
            })

            if (balanceData && balanceData.summ) {
                cardBalance.value = balanceData.summ
            } else {
                cardBalance.value = 0
            }
        } catch (error) {
            console.error('Error fetching balance:', error)
        }   finally {
            cardBalanceLoading.value = false
        }
    }

    const clearBalance = () => {
        cardBalance.value = null
    }
</script>

<template>
    <div class="innerpage--giftcard pt-20 pb-[var(--gap-18)] bg-[var(--primary-beige-100)] lg:pb-[var(--gap-30)]">
        <div class="innerpage--giftcard__block">
            <div class="container">
                <h1 class="text-center mb-[var(--gap-15)] lg:mb-20" v-html="$t('giftcard.main_title')"></h1>
            </div>
            <div class="card">
                <div class="container w-full flex flex-col justify-center gap-x-24 lg:flex-row">
                    <div class="col-card mb-8 lg:w-5/12 lg:mb-0">
                        <AppFloatingCard
                            background-image="/img/giftcard/back.png"
                            foreground-image="/img/giftcard/front.png"
                        />
                    </div>
                    <div class="col-text lg:w-4/12 flex flex-col justify-center">
                        <h2 class="mb-10" v-html="$t('giftcard.get_ballance')"></h2>
                        <div class="relative lg:w-[min-content]">
                            <InputMask
                                v-model="cardNo"
                                mask="9999 9999 9999 9999"
                                :placeholder="$t('giftcard.cardNumber')"
                                class="search bg-[var(--primary-beige-100)] w-full md:w-80 lg:mb-6 pr-2 pb-3"
                                @input="clearBalance"
                                slotChar=" "
                            />
                            <div v-if="cardBalanceLoading" class="absolute top-0 left-1/2 translate-x-[-50%] flex justify-center">
                                <i class="pi pi-spin pi-spinner text-3xl text-[var(--primary-black-100)]"></i>
                            </div>
                        </div>
                        <div v-if="cardBalance === null">
                            <div class="giftcard-btn-wrap button-row mt-6 flex flex-col gap-6 mb-10 lg:mb-[var(--gap-13)]">
                                <div>
                                    <AppButtonPrimary :label="$t('giftcard.get_ballance_button_short')" :disabled="cardNo.length < 1" icon="" @click.prevent="checkCard" class="w-full lg:w-auto" />
                                </div>
                            </div>
                            <div class="p" v-html="$t('giftcard.balance_desc')"></div>
                        </div>
                        <div v-else-if="cardBalance >= 0">
                            <div class="giftcard-btn-wrap button-row mt-6 mb-10 flex flex-col gap-6 lg:mb-0">
                                <div>
                                    <AppButtonPrimary :label="$t('giftcard.clear')" icon="" @click.prevent="clearBalance" class="w-full lg:w-auto"/>
                                </div>
                            </div>
                            <div class="card-balance uppercase flex items-center">
                                <span class="h3 w-1/2 lg:w-auto">{{ $t('giftcard.balance_result') }}</span>
                                <span class="h2 ml-4 w-1/2 lg:w-auto whitespace-nowrap">{{ cardBalance }}&euro;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .search {
        border-bottom: 1px solid var(--primary-black-100);
        font-size: var(--desktop-small-text-size-rem);
        color: var(--primary-black-100);

        &::placeholder {
            color: var(--primary-black-80);
        }
    }
</style>