<script setup>
const {giftcardinfo} = useDataStore();
</script>
<template>
    <div class="how-to-buy">
        <div class="container">
            <h2 class="text-center mb-[var(--gap-13)] lg:mb-16" v-html="$t('giftcard.howToBuy')"></h2>
        </div>
        <AppAccordion :list="giftcardinfo.howtobuy"/>
    </div>
</template>