<script setup>
const { locale } = useI18n()

const { location } = defineProps({
  location: {
    type: Object,
    required: true
  }
});
</script>

<template>
  <div
    class="tile"
  >
    <div class="tile-colorbox"
      :style="{backgroundColor: location.background_color}"
    >
      <h2 class="tile-title" :class="`is-language-${locale}`" :style="{color: location.color}">
        {{ location.title }}
      </h2>

      <h4 v-if="location.content" class="tile-subtitle uppercase" :class="`is-language-${locale}`" :style="{color: location.color}" v-html="location.content">
      </h4>
    </div>
  </div>

</template>

<style lang="scss" scoped>
.tile-title {
  font-style: italic;
}
</style>