<script setup>

const props = defineProps({
  src: String,
  altsrc: {
    type: String,
    default: null,
  },
  alt: String,
  array: {
    type: Array,
    default: () => [],
  },
});

const MAX_CARDS_TO_SHOW = 15;

const additionalImageCounter = computed(() => {
  let array = props.array;
  let count = 0;
  let packTypeMap = [];

  array.forEach((card) => {
    let amount = 1;
    if (card.amount) {
      amount = card.amount;
    }

    for (let index = 0; index < amount; index++) {
      count++;
      packTypeMap.push(card.pack_type);
    }
  });

  if (count > MAX_CARDS_TO_SHOW) {
    count = MAX_CARDS_TO_SHOW;
  }

  return {
    packTypeMap: packTypeMap,
    count: count,
  };
});

const getSrc = (index) => {
  let array = additionalImageCounter.value.packTypeMap;

  if (props.altsrc) {
    try {
      return array[index] === 2 ? props.altsrc : props.src;
    } catch (error) {
      return props.src;
    }
  }

  return props.src;
};

const cssStyles = (index) => {
  const deg = 10;
  const i = -1 * index - 1;

  return {
    transform: `rotate(${deg * i}deg)`,
    'z-index': i,
  };
};
</script>

<template>
    <div class="card-img flex">
        <NuxtImg :src="getSrc(0)" :alt="alt" class="px-14 mx-auto" />

        <template v-if="additionalImageCounter.count > 1">
        <NuxtImg
            v-for="(item, index) in additionalImageCounter.count -1"
            :key="index"
            :style="cssStyles(index)"
            :alt="alt"
            class="card-img--under px-14 mx-auto"
            :src="getSrc(index+1)"
        />
        </template>
    </div>
</template>

<style lang="scss" scoped>
.card-img {
  text-align: center;
  position: relative;
  padding-bottom: var(--gap-12);
}
.card-img img {
  width: auto;
  height: 13rem;
  object-fit: contain;
//   margin: 90px auto;
  z-index: 2;

  &.card-img--under {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
}
</style>
