<script setup>
const { giftcardinfo } = useDataStore();
</script>

<template>
  <div class="locations flex flex-col">
    <div class="container">


        <h2 class="text-center mb-6" v-html="$t('giftcard.whereToUse')"></h2>
        <p class="text-center mx-auto mb-[var(--gap-15)] md:w-8/12 lg:mb-16" v-html="$t('giftcard.where_title_1')"></p>

      <AppSwiperLocations :locations="giftcardinfo?.locations" />

      <div class="locations__tiles tiles !hidden lg:!grid">
        <PageGiftcardLocationTile
          v-for="(location, index) in giftcardinfo?.locations" :key="index"
          :location="location"
        />
      </div>

    </div>
  </div>
</template>

<style lang="scss" scoped>
    .locations {
      margin-bottom: var(--gap-25);
      @include desktop-lg {
        margin-bottom: var(--gap-38);
      }
    }
    .locations__tiles {
        margin-bottom: var(--gap-13);
        @include desktop-xl {
        gap: 0 var(--gap-6);
        .tile:nth-child(3n-1) {
            margin-top: var(--gap-6);
        }
        }
    }
</style>