<script setup>
    defineI18nRoute({
        paths: {
            en: '/news/[slug]',
            lv: '/jaunumi/[slug]',
        }
    })

    import _each from 'lodash/each'
    import { parse } from 'node-html-parser'

    const $i18n      = useI18n();
    const dataStore  = useDataStore();
    const route      = useRoute()
    const dayjs      = useDayjs()

    const locale = $i18n.locale.value || $i18n.defaultLocale;
    const { data: newsItemData, error } = await useFetch(`/api/v1/posts/news/${route.params.slug}`, {
        headers: { 'accept-language': locale },
    });

    const newsItem = computed(() => {

        if (newsItemData.value) {
            return newsItemData.value.data
        }

        return null;
        return dataStore.news.find(item => item.slug === route.params.slug)
    })

    const gallery = computed(() => {
        if (newsItem.value?.gallery && newsItem.value?.gallery.length > 0) {
            let images = newsItem.value?.gallery
            let length = images.length;

            while (length < 8) {
                images = images.concat(images)
                length = images.length;
            }

            // while (length % 8 != 0) {
            //     console.log('?', length );
            //     images.pop()
            //     length = images.length;
            // }

            return images;
        }

        return null;
    });

    /**
     * Parse news item body and replace video and audio tags with iframe and video tags
     */
    const _body = computed(() => {
        let fixedBody  = newsItem.value.content
        let parsedHtml = parse(fixedBody)

        let iframeTemplate = parse(`<iframe class="article-video" controls muted autoplay width="100%" height="420" frameborder="0"></iframe>`)
        let videoTemplate  = parse(`<video class="article-video" controls="true"></video>`)
        let audioTemplate  = parse(`<audio class="article-audio" controls="true"></audio>`)

        _each(parsedHtml.getElementsByTagName('figure'), (node) => {
            let srcVideo = node.getAttribute('data-video') || null
            let srcAudio = node.getAttribute('data-audio') || null

            let newNode = null

            if (srcVideo) {
                if (srcVideo.includes('youtube.com') || srcVideo.includes('youtu.be')) {
                    srcVideo = srcVideo.replace('www.youtube.com/watch?v=', 'www.youtube.com/embed/')
                    srcVideo = srcVideo.replace('https://youtu.be/', 'https://www.youtube.com/embed/')
                    newNode = iframeTemplate.clone().setAttribute('src', srcVideo)
                } else {
                    newNode = videoTemplate.clone().setAttribute('src', srcVideo)
                }
            } else if (srcAudio) {
                newNode = audioTemplate.clone().setAttribute('src', srcAudio)
            }

            if (newNode) {
                parsedHtml.exchangeChild(node, newNode)
            }
        });

        fixedBody = parsedHtml.toString()

        try {
            fixedBody = fixedBody.replaceAll('http://', 'https://')
        } catch (error) {}

        fixedBody = fixedBody.replace(/<\/?em>/g, '')
        //this not a fix because all element quotes are also replaced
        // fixedBody = formatQuotes(fixedBody)

        return fixedBody
    })

    const date = computed(() => {
        const date = dayjs(newsItem.value.published_at);
        return date.format('DD.MM.YYYY');
    })

    const otherNews = computed(() => {

        if (dataStore?.news) {
            return dataStore.news.filter(n => n.id != newsItem.value.id).slice(0,3);
        }

        return []
    })

    function formatQuotes(text) {
        if (!text || typeof text !== 'string') return text
        return text.replace(/"([^"]+)"/g, '“$1”')
    }
</script>

<template>
    <div class="page">
        <div class="innerpage !mt-0 !mb-0">
            <div class="block-margin innerpage-block">
                <div class="container">
                    <AppSimpleBanner :poster="newsItem.image.path" is-margin-bottom-small />
                    <div class="top relative mb-[var(--gap-15)] lg:mb-20">
                        <!-- <div class="back-link lg:absolute lg:top-[1rem]"><span class="pi pi-arrow-left"></span><button @click="$router.back()" class="ml-2">Atpakaļ</button></div> -->
                        <AppButtonTertiary
                            :label="$t('global.back')"
                            icon-pos="left"
                            @click="$router.back()"
                            class="mb-[var(--gap-5)] lg:mb-0"
                            hasCustomIcon isReversed icon="customicon--left"
                        />
                        <h2 class="text-center mx-auto mb-6 lg:w-8/12 lg:px-24">{{ formatQuotes(newsItem.title) }}</h2>
                        <div class="date p text-center">{{ date }}.</div>
                    </div>

                    <div class="gap-x-16 mb-20 lg:columns-2 has-html-content" v-html="_body">
                    </div>

                    <PageNewsImageSwiper v-if="gallery" :images="gallery" />
                </div>
            </div>
            <div v-if="otherNews.length" class="other-news innerpage-block pt-[var(--gap-15)] !mb-0 lg:pt-20">
                <div class="container">
                    <h2 class="text-center mb-[var(--gap-13)] lg:mb-16" v-html="$t('news.otherNews')"></h2>
                    <div  class="news-tiles tiles">
                        <AppNewsTile v-for="(newsItem, index) in otherNews" :key="newsItem.id" :newsItem="newsItem" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .block-margin {
        margin-bottom: var(--gap-25);
        @include desktop-lg {
            margin-bottom: var(--gap-38);
        }
    }

    .back-link {
        @include desktop-xl {
            transform: translateY(-50%);
        }
    }
    .date {
        font-family: var(--font-giga);
    }
    .other-news {
        background: var(--primary-beige-100);
        padding-bottom: var(--gap-28);
        @include desktop-lg {
            padding-bottom: var(--gap-45);
        }
    }

    .has-html-content {

        &::v-deep(p img) {
            display: inline-block;
            margin-right: var(--gap-2);
        }
    }
</style>