<script setup>

defineI18nRoute({
    paths: {
        en: '/news',
        lv: '/jaunumi',
    }
})

const { locale } = useI18n()
const dataStore  = useDataStore();
const route      = useRoute();
const router     = useRouter();
const localePath = useLocalePath();

const newsItems             = computed(() => {
    const news = dataStore?.news || [];
    return news;
})
const newsItemsLength       = computed(() => newsItems.value.length)
const displayedCount        = computed(() => {
    const page = route.query?.page || 1;
    return page*9;
})

const visibleNewsItems      = computed(() => {
    const news = newsItems.value || [];

    if (news) {
        return news.slice(0, displayedCount.value)
    }

    return [];
})

const buttonStyle           = computed(() => {
    const length         = newsItems.value.length || 1;
    const fillPercentage = Math.min((displayedCount.value / length) * 100, 100);

    return {
        background: `linear-gradient(to right, var(--primary-black-100) ${fillPercentage}%, var(--primary-white-100) 0%)`
    }
})

function loadMore() {
    const currentPage = route.query?.page || 1;

    const path        = localePath({
        name: 'news',
        query: {
            page: parseInt(currentPage) + 1,
        }
    });

    router.replace(path);
}
</script>

<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/news.png`"/>

        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <h1 class="text-center mb-[var(--gap-15)] lg:mb-20" v-html="$t('news.title')"></h1>

                    <div v-if="visibleNewsItems && visibleNewsItems.length" class="news-tiles tiles">
                        <AppNewsTile v-for="(newsItem, index) in visibleNewsItems" :key="newsItem.id" :newsItem="newsItem" />
                    </div>

                    <ClientOnly>
                        <button
                            @click="loadMore"
                            class="block mx-auto py-3 w-full lg:w-auto"
                            :style="buttonStyle"
                        >

                                <span class="button-text h3 uppercase px-5">
                                    {{ $t('news.old_news') }}
                                    &nbsp({{ displayedCount }} / {{ newsItemsLength }})
                                </span>
                        </button>
                    </ClientOnly>

                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .news-tiles {
        margin-bottom: var(--gap-13);
    }
    button {
        border: 1px solid var(--primary-black-100);
    }
    .button-text {
        color: var(--primary-white-100);
        mix-blend-mode: difference;
        -webkit-background-clip: text;
        background-clip: text;
    }

    @include mobile {
        .page {
            &::v-deep(.banner) {
                margin-bottom: var(--gap-4);
            }
        }
    }
</style>