@mixin p-variables {
  --p-border-radius-none: 0;
  --p-border-radius-xs: 2px;
  --p-border-radius-sm: 4px;
  --p-border-radius-md: 6px;
  --p-border-radius-lg: 8px;
  --p-border-radius-xl: 12px;
  --p-emerald-50: #ecfdf5;
  --p-emerald-100: #d1fae5;
  --p-emerald-200: #a7f3d0;
  --p-emerald-300: #6ee7b7;
  --p-emerald-400: #34d399;
  --p-emerald-500: #10b981;
  --p-emerald-600: #059669;
  --p-emerald-700: #047857;
  --p-emerald-800: #065f46;
  --p-emerald-900: #064e3b;
  --p-emerald-950: #022c22;
  --p-green-50: #f0fdf4;
  --p-green-100: #dcfce7;
  --p-green-200: #bbf7d0;
  --p-green-300: #86efac;
  --p-green-400: #4ade80;
  --p-green-500: #22c55e;
  --p-green-600: #16a34a;
  --p-green-700: #15803d;
  --p-green-800: #166534;
  --p-green-900: #14532d;
  --p-green-950: #052e16;
  --p-lime-50: #f7fee7;
  --p-lime-100: #ecfccb;
  --p-lime-200: #d9f99d;
  --p-lime-300: #bef264;
  --p-lime-400: #a3e635;
  --p-lime-500: #84cc16;
  --p-lime-600: #65a30d;
  --p-lime-700: #4d7c0f;
  --p-lime-800: #3f6212;
  --p-lime-900: #365314;
  --p-lime-950: #1a2e05;
  --p-red-50: #fef2f2;
  --p-red-100: #fee2e2;
  --p-red-200: #fecaca;
  --p-red-300: #fca5a5;
  --p-red-400: #f87171;
  --p-red-500: #ef4444;
  --p-red-600: #dc2626;
  --p-red-700: #b91c1c;
  --p-red-800: #991b1b;
  --p-red-900: #7f1d1d;
  --p-red-950: #450a0a;
  --p-orange-50: #fff7ed;
  --p-orange-100: #ffedd5;
  --p-orange-200: #fed7aa;
  --p-orange-300: #fdba74;
  --p-orange-400: #fb923c;
  --p-orange-500: #f97316;
  --p-orange-600: #ea580c;
  --p-orange-700: #c2410c;
  --p-orange-800: #9a3412;
  --p-orange-900: #7c2d12;
  --p-orange-950: #431407;
  --p-amber-50: #fffbeb;
  --p-amber-100: #fef3c7;
  --p-amber-200: #fde68a;
  --p-amber-300: #fcd34d;
  --p-amber-400: #fbbf24;
  --p-amber-500: #f59e0b;
  --p-amber-600: #d97706;
  --p-amber-700: #b45309;
  --p-amber-800: #92400e;
  --p-amber-900: #78350f;
  --p-amber-950: #451a03;
  --p-yellow-50: #fefce8;
  --p-yellow-100: #fef9c3;
  --p-yellow-200: #fef08a;
  --p-yellow-300: #fde047;
  --p-yellow-400: #facc15;
  --p-yellow-500: #eab308;
  --p-yellow-600: #ca8a04;
  --p-yellow-700: #a16207;
  --p-yellow-800: #854d0e;
  --p-yellow-900: #713f12;
  --p-yellow-950: #422006;
  --p-teal-50: #f0fdfa;
  --p-teal-100: #ccfbf1;
  --p-teal-200: #99f6e4;
  --p-teal-300: #5eead4;
  --p-teal-400: #2dd4bf;
  --p-teal-500: #14b8a6;
  --p-teal-600: #0d9488;
  --p-teal-700: #0f766e;
  --p-teal-800: #115e59;
  --p-teal-900: #134e4a;
  --p-teal-950: #042f2e;
  --p-cyan-50: #ecfeff;
  --p-cyan-100: #cffafe;
  --p-cyan-200: #a5f3fc;
  --p-cyan-300: #67e8f9;
  --p-cyan-400: #22d3ee;
  --p-cyan-500: #06b6d4;
  --p-cyan-600: #0891b2;
  --p-cyan-700: #0e7490;
  --p-cyan-800: #155e75;
  --p-cyan-900: #164e63;
  --p-cyan-950: #083344;
  --p-sky-50: #f0f9ff;
  --p-sky-100: #e0f2fe;
  --p-sky-200: #bae6fd;
  --p-sky-300: #7dd3fc;
  --p-sky-400: #38bdf8;
  --p-sky-500: #0ea5e9;
  --p-sky-600: #0284c7;
  --p-sky-700: #0369a1;
  --p-sky-800: #075985;
  --p-sky-900: #0c4a6e;
  --p-sky-950: #082f49;
  --p-blue-50: #eff6ff;
  --p-blue-100: #dbeafe;
  --p-blue-200: #bfdbfe;
  --p-blue-300: #93c5fd;
  --p-blue-400: #60a5fa;
  --p-blue-500: #3b82f6;
  --p-blue-600: #2563eb;
  --p-blue-700: #1d4ed8;
  --p-blue-800: #1e40af;
  --p-blue-900: #1e3a8a;
  --p-blue-950: #172554;
  --p-indigo-50: #eef2ff;
  --p-indigo-100: #e0e7ff;
  --p-indigo-200: #c7d2fe;
  --p-indigo-300: #a5b4fc;
  --p-indigo-400: #818cf8;
  --p-indigo-500: #6366f1;
  --p-indigo-600: #4f46e5;
  --p-indigo-700: #4338ca;
  --p-indigo-800: #3730a3;
  --p-indigo-900: #312e81;
  --p-indigo-950: #1e1b4b;
  --p-violet-50: #f5f3ff;
  --p-violet-100: #ede9fe;
  --p-violet-200: #ddd6fe;
  --p-violet-300: #c4b5fd;
  --p-violet-400: #a78bfa;
  --p-violet-500: #8b5cf6;
  --p-violet-600: #7c3aed;
  --p-violet-700: #6d28d9;
  --p-violet-800: #5b21b6;
  --p-violet-900: #4c1d95;
  --p-violet-950: #2e1065;
  --p-purple-50: #faf5ff;
  --p-purple-100: #f3e8ff;
  --p-purple-200: #e9d5ff;
  --p-purple-300: #d8b4fe;
  --p-purple-400: #c084fc;
  --p-purple-500: #a855f7;
  --p-purple-600: #9333ea;
  --p-purple-700: #7e22ce;
  --p-purple-800: #6b21a8;
  --p-purple-900: #581c87;
  --p-purple-950: #3b0764;
  --p-fuchsia-50: #fdf4ff;
  --p-fuchsia-100: #fae8ff;
  --p-fuchsia-200: #f5d0fe;
  --p-fuchsia-300: #f0abfc;
  --p-fuchsia-400: #e879f9;
  --p-fuchsia-500: #d946ef;
  --p-fuchsia-600: #c026d3;
  --p-fuchsia-700: #a21caf;
  --p-fuchsia-800: #86198f;
  --p-fuchsia-900: #701a75;
  --p-fuchsia-950: #4a044e;
  --p-pink-50: #fdf2f8;
  --p-pink-100: #fce7f3;
  --p-pink-200: #fbcfe8;
  --p-pink-300: #f9a8d4;
  --p-pink-400: #f472b6;
  --p-pink-500: #ec4899;
  --p-pink-600: #db2777;
  --p-pink-700: #be185d;
  --p-pink-800: #9d174d;
  --p-pink-900: #831843;
  --p-pink-950: #500724;
  --p-rose-50: #fff1f2;
  --p-rose-100: #ffe4e6;
  --p-rose-200: #fecdd3;
  --p-rose-300: #fda4af;
  --p-rose-400: #fb7185;
  --p-rose-500: #f43f5e;
  --p-rose-600: #e11d48;
  --p-rose-700: #be123c;
  --p-rose-800: #9f1239;
  --p-rose-900: #881337;
  --p-rose-950: #4c0519;
  --p-slate-50: #f8fafc;
  --p-slate-100: #f1f5f9;
  --p-slate-200: #e2e8f0;
  --p-slate-300: #cbd5e1;
  --p-slate-400: #94a3b8;
  --p-slate-500: #64748b;
  --p-slate-600: #475569;
  --p-slate-700: #334155;
  --p-slate-800: #1e293b;
  --p-slate-900: #0f172a;
  --p-slate-950: #020617;
  --p-gray-50: #f9fafb;
  --p-gray-100: #f3f4f6;
  --p-gray-200: #e5e7eb;
  --p-gray-300: #d1d5db;
  --p-gray-400: #9ca3af;
  --p-gray-500: #6b7280;
  --p-gray-600: #4b5563;
  --p-gray-700: #374151;
  --p-gray-800: #1f2937;
  --p-gray-900: #111827;
  --p-gray-950: #030712;
  --p-zinc-50: #fafafa;
  --p-zinc-100: #f4f4f5;
  --p-zinc-200: #e4e4e7;
  --p-zinc-300: #d4d4d8;
  --p-zinc-400: #a1a1aa;
  --p-zinc-500: #71717a;
  --p-zinc-600: #52525b;
  --p-zinc-700: #3f3f46;
  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-zinc-950: #09090b;
  --p-neutral-50: #fafafa;
  --p-neutral-100: #f5f5f5;
  --p-neutral-200: #e5e5e5;
  --p-neutral-300: #d4d4d4;
  --p-neutral-400: #a3a3a3;
  --p-neutral-500: #737373;
  --p-neutral-600: #525252;
  --p-neutral-700: #404040;
  --p-neutral-800: #262626;
  --p-neutral-900: #171717;
  --p-neutral-950: #0a0a0a;
  --p-stone-50: #fafaf9;
  --p-stone-100: #f5f5f4;
  --p-stone-200: #e7e5e4;
  --p-stone-300: #d6d3d1;
  --p-stone-400: #a8a29e;
  --p-stone-500: #78716c;
  --p-stone-600: #57534e;
  --p-stone-700: #44403c;
  --p-stone-800: #292524;
  --p-stone-900: #1c1917;
  --p-stone-950: #0c0a09;

  --p-transition-duration: 0s;
  --p-focus-ring-width: 2px;
  --p-focus-ring-style: solid;
  --p-focus-ring-color: var(--p-primary-color);
  --p-focus-ring-offset: 2px;
  --p-focus-ring-shadow: none;
  --p-disabled-opacity: 0.6;
  --p-icon-size: 1rem;
  --p-anchor-gutter: 0;
  --p-primary-50: #ecfdf5;
  --p-primary-100: #d1fae5;
  --p-primary-200: #a7f3d0;
  --p-primary-300: #6ee7b7;
  --p-primary-400: #34d399;
  --p-primary-500: #10b981;
  --p-primary-600: #059669;
  --p-primary-700: #047857;
  --p-primary-800: #065f46;
  --p-primary-900: #064e3b;
  --p-primary-950: #022c22;
  --p-form-field-padding-x: 0.75rem;
  --p-form-field-padding-y: 0.5rem;
  --p-form-field-sm-font-size: 0.875rem;
  --p-form-field-sm-padding-x: 0.625rem;
  --p-form-field-sm-padding-y: 0.375rem;
  --p-form-field-lg-font-size: 1.125rem;
  --p-form-field-lg-padding-x: 0.875rem;
  --p-form-field-lg-padding-y: 0.625rem;
  --p-form-field-border-radius: var(--p-border-radius-xs);
  --p-form-field-focus-ring-width: 2px;
  --p-form-field-focus-ring-style: solid;
  --p-form-field-focus-ring-color: var(--p-primary-color);
  --p-form-field-focus-ring-offset: -1px;
  --p-form-field-focus-ring-shadow: none;
  --p-form-field-transition-duration: var(--p-transition-duration);
  --p-list-padding: 0.125rem 0;
  --p-list-gap: 0;
  --p-list-header-padding: 0.5rem 0.75rem 0.375rem 0.75rem;
  --p-list-option-padding: 0.5rem 0.75rem;
  --p-list-option-border-radius: 0;
  --p-list-option-group-padding: 0.5rem 0.75rem;
  --p-list-option-group-font-weight: 700;
  --p-content-border-radius: var(--p-border-radius-xs);
  --p-mask-transition-duration: 0.15s;
  --p-navigation-list-padding: 0.125rem 0;
  --p-navigation-list-gap: 0;
  --p-navigation-item-padding: 0.5rem 0.75rem;
  --p-navigation-item-border-radius: 0;
  --p-navigation-item-gap: 0.5rem;
  --p-navigation-submenu-label-padding: 0.5rem 0.75rem;
  --p-navigation-submenu-label-font-weight: 700;
  --p-navigation-submenu-icon-size: 0.875rem;
  --p-overlay-select-border-radius: var(--p-border-radius-xs);
  --p-overlay-select-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --p-overlay-popover-border-radius: var(--p-border-radius-xs);
  --p-overlay-popover-padding: 0.75rem;
  --p-overlay-popover-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --p-overlay-modal-border-radius: var(--p-border-radius-xs);
  --p-overlay-modal-padding: 1.25rem;
  --p-overlay-modal-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --p-overlay-navigation-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --p-surface-0: #ffffff;
  --p-surface-50: #f8fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e2e8f0;
  --p-surface-300: #cbd5e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #475569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293b;
  --p-surface-900: #0f172a;
  --p-surface-950: #020617;
  --p-primary-color: var(--p-primary-600);
  --p-primary-contrast-color: #ffffff;
  --p-primary-hover-color: var(--p-primary-700);
  --p-primary-active-color: var(--p-primary-800);
  --p-highlight-background: var(--p-primary-600);
  --p-highlight-focus-background: var(--p-primary-700);
  --p-highlight-color: #ffffff;
  --p-highlight-focus-color: #ffffff;
  --p-mask-background: rgba(0, 0, 0, 0.4);
  --p-mask-color: var(--p-surface-200);
  --p-form-field-background: var(--p-surface-0);
  --p-form-field-disabled-background: var(--p-surface-300);
  --p-form-field-filled-background: var(--p-surface-100);
  --p-form-field-filled-hover-background: var(--p-surface-100);
  --p-form-field-filled-focus-background: var(--p-surface-100);
  --p-form-field-border-color: var(--p-surface-500);
  --p-form-field-hover-border-color: var(--p-surface-500);
  --p-form-field-focus-border-color: var(--p-surface-500);
  --p-form-field-invalid-border-color: var(--p-red-500);
  --p-form-field-color: var(--p-surface-900);
  --p-form-field-disabled-color: var(--p-surface-600);
  --p-form-field-placeholder-color: var(--p-surface-600);
  --p-form-field-invalid-placeholder-color: var(--p-red-600);
  --p-form-field-float-label-color: var(--p-surface-600);
  --p-form-field-float-label-focus-color: var(--p-primary-color);
  --p-form-field-float-label-active-color: var(--p-surface-600);
  --p-form-field-float-label-invalid-color: var(--p-form-field-invalid-placeholder-color);
  --p-form-field-icon-color: var(--p-surface-900);
  --p-form-field-shadow: none;
  --p-text-color: var(--p-surface-900);
  --p-text-hover-color: var(--p-surface-950);
  --p-text-muted-color: var(--p-surface-600);
  --p-text-hover-muted-color: var(--p-surface-700);
  --p-content-background: var(--p-surface-0);
  --p-content-hover-background: var(--p-surface-200);
  --p-content-border-color: var(--p-surface-400);
  --p-content-color: var(--p-text-color);
  --p-content-hover-color: var(--p-text-hover-color);
  --p-overlay-select-background: var(--p-surface-0);
  --p-overlay-select-border-color: transparent;
  --p-overlay-select-color: var(--p-text-color);
  --p-overlay-popover-background: var(--p-surface-0);
  --p-overlay-popover-border-color: transparent;
  --p-overlay-popover-color: var(--p-text-color);
  --p-overlay-modal-background: var(--p-surface-0);
  --p-overlay-modal-border-color: transparent;
  --p-overlay-modal-color: var(--p-text-color);
  --p-list-option-focus-background: var(--p-surface-200);
  --p-list-option-selected-background: var(--p-highlight-background);
  --p-list-option-selected-focus-background: var(--p-highlight-focus-background);
  --p-list-option-color: var(--p-text-color);
  --p-list-option-focus-color: var(--p-text-hover-color);
  --p-list-option-selected-color: var(--p-highlight-color);
  --p-list-option-selected-focus-color: var(--p-highlight-focus-color);
  --p-list-option-icon-color: var(--p-text-muted-color);
  --p-list-option-icon-focus-color: var(--p-text-hover-muted-color);
  --p-list-option-group-background: transparent;
  --p-list-option-group-color: var(--p-text-color);
  --p-navigation-item-focus-background: var(--p-primary-color);
  --p-navigation-item-active-background: var(--p-surface-200);
  --p-navigation-item-color: var(--p-text-color);
  --p-navigation-item-focus-color: var(--p-primary-contrast-color);
  --p-navigation-item-active-color: var(--p-text-hover-color);
  --p-navigation-item-icon-color: var(--p-text-muted-color);
  --p-navigation-item-icon-focus-color: var(--p-primary-contrast-color);
  --p-navigation-item-icon-active-color: var(--p-text-hover-muted-color);
  --p-navigation-submenu-label-background: transparent;
  --p-navigation-submenu-label-color: var(--p-text-color);
  --p-navigation-submenu-icon-color: var(--p-text-muted-color);
  --p-navigation-submenu-icon-focus-color: var(--p-primary-contrast-color);
  --p-navigation-submenu-icon-active-color: var(--p-text-hover-muted-color);

}