<script setup>
const { aboutContent } = useDataStore();

const image = computed(() => aboutContent?.banner_image?.path || null)
const title = computed(() => (aboutContent?.banner_title || '').replace(/<[^>]*>?/gm, ''))
</script>

<template>
  <div class="hero w-full flex flex-col gap-y-4 lg:flex-row lg:mx-0 lg-gap-y-0">
    <div class="banner w-full flex flex-row-reverse">

      <div class="column column-1 image-column">
        <NuxtImg class="image hidden lg:block" :src="image" :alt="title" />
        <NuxtImg class="image lg:hidden" :src="image" :alt="title" />
      </div>

      <div class="hidden lg:block column column-2 content-column">
        <div class="content p-10">
          <h2 v-html="aboutContent.banner_title"></h2>
          <p class="uppercase" v-html="aboutContent.banner_body"></p>
        </div>
      </div>

      <div class="column column-3 image-column ">
        <NuxtImg class="image" :src="image" :alt="title" />
      </div>

      <div class="column column-4 image-column">
        <NuxtImg class="image" :src="image" :alt="title" />
      </div>
    </div>
    <div class="px-3 lg:hidden">
      <h2 class="mb-8" v-html="aboutContent.banner_title"></h2>
      <p v-html="aboutContent.banner_body"></p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  @include desktop-lg {
    height: calc(100vh - rem(80));
    max-height: 1000px;
  }

  .column {
    height: 100%;

    &-3, &-4 {
      display: none;
      height: 100%;
      @include desktop-lg {
        display: block;
      }
    }

    &-1 {
      width: 100%;
      height: 100vw;
      @include desktop-lg {
        width: 15%;
        height: 100%;
      }
    }
    &-2 {
      width: 35%;
    }
    &-3 {
      width: 23%;
      @include desktop-lg {
        width: 10%;
      }
      .image {
        object-position: center -10vw;
      }
    }
    &-4 {
      width: 27%;
      @include desktop-lg {
        width: 40%;
      }
    }
  }

  .image-column {
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include desktop-lg {
        height: calc(100% + 15vw);
      }
      // transform: translateY(-5vw);
    }
  }

  .content-column {
    .content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: var(--gap-8);

      align-items: center;
      justify-content: center;
    }
  }
}
</style>