<script setup>

const { locale } = useI18n()
const { aboutContent } = useDataStore();

const sales = aboutContent?.about_list || [];

</script>

<template>
  <div class="offers flex flex-col">
    <div class="">
      <div class="tiles">
        <div
          v-for="(salesItem, index) in sales" :key="index"
          class="tile"
        >
          <div class="tile-colorbox">
            <h2 class="tile-title" :class="`is-language-${locale}`">
              {{ salesItem.title }}
            </h2>
            <h4 class="tile-subtitle uppercase" :class="`is-language-${locale}`">
              {{ salesItem.subtitle }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .offers {
    margin-bottom: var(--gap-25);
    @include desktop-lg {
      margin-bottom: var(--gap-38);
    }
  }
  .tiles {
    @include desktop-xl {
      gap: 0 var(--gap-6);
      .tile:nth-child(3n-1) {
        margin-top: var(--gap-6);
      }
    }
  }
  .tile-title {
    font-style: italic;
  }
</style>