<script setup>
defineI18nRoute({
    paths: {
        en: "/offers/[[category]]",
        lv: "/akcijas/[[category]]",
    }
})

const { homepageBanner } = useDataStore()

</script>

<template>
    <div class="page">
        <!-- <MainSubpageHero :image="`/img/heroimages/discounts.png`"/> -->
        <MainSubpageHero :image="homepageBanner?.image?.path"/>

        <div class="innerpage">
            <div class="innerpage-block">
                <PageDiscountsOffers />
            </div>
        </div>
    </div>
</template>