<script setup>
defineI18nRoute({
  paths: {
    en: "/shops/[category]/[slug]",
    lv: "/veikali/[category]/[slug]",
  },
});
const $i18n = useI18n();
const locale = $i18n.locale.value || $i18n.defaultLocale;
const route = useRoute();
const { data: shopData, error } = await useFetch(
  `/api/v1/shop/shops/${route.params.slug}`,
  {
    headers: { "accept-language": locale },
  },
);

const localePath = useLocalePath();
const dataStore = useDataStore();
const shop = computed(() => {
  if (shopData.value) {
    return shopData.value.data;
  }

  return null;

  dataStore?.shops.find((shop) => route.params.slug == shop.slug) || null;
});

const webSafeUrl = (url) => {
  if (url && url.indexOf("http") > -1) {
    return url;
  }
  return `https://${url}`;
};

const images = computed(() => {
  if (shop.value?.images) {
    return shop.value.images.slice(0, 3);
  }

  return null;
});

const shopCategoryString = computed(() => {
  return shop.value.categories.map((c) => c.name.trim()).join(", ");
});

const logo = computed(() => {
  if (shop.value?.main_logo) {
    return shop.value?.main_logo?.path;
  }

  return `${shop.value?.image}`;
});

function _body(content) {
  if (!content || typeof content !== "string") return content;
  return content.replace(/"([^"]+)"/g, "“$1”").replace(/<\/?em>/g, "");
}
</script>
<template>
  <div class="page" v-if="shop">
    <div class="innerpage !mt-0">
      <div class="innerpage-block !mb-10">
        <div class="container">
          <div class="shop-hero relative mt-4 flex flex-col-reverse lg:mt-0">
            <NuxtImg
              :src="logo"
              :alt="`${shop.title} Logo`"
              class="shop-image"
            />
            <div class="back-link">
              <AppButtonLink
                icon="pi pi-arrow-left"
                icon-pos="left"
                :label="$t('global.back')"
                :to="localePath({ name: 'shops-category' })"
              />
              <!-- <NuxtLink :to="" class="ml-2">Atpakaļ</NuxtLink> -->
            </div>
          </div>
        </div>
      </div>
      <div class="innerpage-block">
        <div class="container">
          <h2 class="mb-2">{{ shop.title }}</h2>
          <div class="mb-10">
            <span class="small-text !text-[var(--secondary-black-40)]">
              {{ shopCategoryString }}
            </span>
          </div>
          <div
            class="paragraph has-html-content mb-6 md:w-10/12"
            v-html="_body(shop.content)"
          ></div>

          <AppButtonPrimary
            :to="localePath({ name: 'map', query: { shop: shop.slug } })"
            :label="$t('global.open_map')"
            :icon="null"
            class="mb-[var(--gap-13)] w-full md:w-auto lg:mb-16"
          />

          <div
            class="mb-[var(--gap-13)] flex flex-col flex-wrap gap-10 lg:mb-16 lg:flex-row"
          >
            <div class="">
              <div class="h3 uppercase">
                {{ $t("shop.shop_times") }}
              </div>
              <div class="wrapper mt-3">
                <AppWorkHours
                  :work-hours-array="shop.parsed_work_hours"
                  :under-construction-until="shop.under_construction_until"
                />
              </div>
            </div>

            <div class="">
              <div class="h3 uppercase"> {{ $t("shop.contacts") }} </div>
              <div class="wrapper mt-3">
                <a :href="`tel:${shop.phone}`" class="p block">{{ shop.phone }}</a>
                <a :href="`mailto:${shop.email}`" class="p block">{{ shop.email }}</a>
              </div>
            </div>

            <div v-if="shop.weburl != ''">
              <div class="h3 uppercase">{{ $t("shop.urls") }}</div>
              <div class="wrapper mt-3">
                <a class="p" :href="webSafeUrl(shop.weburl)" target="_blank">{{
                  shop.weburl
                }}</a>
              </div>
            </div>
            <div>
              <div class="hidden md:block h3 uppercase">&nbsp;</div>

              <div class="wrapper flex flex-col gap-2">
                <div
                  v-if="shop.is_sustainable_brand"
                  class="flex items-center justify-start gap-2"
                >
                  <!-- prettier-ignore -->
                  <svg  width="32" height="32" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="28" height="28" fill="#030303" />
                    <path d="M4 10.4722V7.99986H6.44033C11.6308 7.99986 15.8448 12.2691 15.8448 17.5277V20H13.4044C8.21396 20 4 15.7308 4 10.4722Z" fill="white" />
                    <path d="M17.0275 10.3985C17.6812 10.3985 18.2112 9.86155 18.2112 9.19923C18.2112 8.53692 17.6812 8 17.0275 8C16.3737 8 15.8438 8.53692 15.8438 9.19923C15.8438 9.86155 16.3737 10.3985 17.0275 10.3985Z" fill="white" />
                    <path d="M17.0275 14.1387C17.6812 14.1387 18.2112 13.6018 18.2112 12.9395C18.2112 12.2771 17.6812 11.7402 17.0275 11.7402C16.3737 11.7402 15.8438 12.2771 15.8438 12.9395C15.8438 13.6018 16.3737 14.1387 17.0275 14.1387Z" fill="white" />
                    <path d="M22.5992 13.11C19.6168 13.11 17.1992 15.5593 17.1992 18.5808V19.6813C17.9729 19.1123 20.6441 17.0479 21.9871 14.7148C22.0178 14.6621 22.0843 14.6439 22.1371 14.6727C22.1902 14.7024 22.2102 14.7696 22.1822 14.824C20.9926 17.1426 18.5724 19.2722 17.692 20.0003H18.6004C21.5828 20.0003 24.0004 17.551 24.0004 14.5295V13.1099H22.5992V13.11Z" fill="white" />
                  </svg>

                  <div>
                    <p>{{ $t("shop.sustainability.yes") }}</p>
                  </div>
                </div>

                <div
                  v-if="shop.is_pets_allowed"
                  class="flex items-center justify-start gap-2"
                >
                  <!-- prettier-ignore -->
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" >
                    <rect width="32" height="32" fill="black" />
                    <path d="M19.3953 10.7306L21.5741 8.205L22.3743 6.40039L23.1511 7.57783L22.586 8.7628L24.2107 9.45432L25.0581 10.3951L26.4 10.8424L25.6232 12.8476L23.2923 12.3695L22.1622 13.2685L19.3953 10.7306Z" fill="white" />
                    <path d="M20.6879 24.1685L20.7406 20.2642L21.6414 16.6983L21.6011 13.555L18.58 11.3467L16.5117 13.268L14.322 13.549L7.25909 13.268L6.62343 11.6232L6.65697 9.83398H5.93474L5.77566 11.6913L6.51738 14.1997L5.64342 15.5332L5.69357 17.6595L6.62343 20.134L5.59998 23.5655L6.35383 25.5999H7.83917L8.23654 24.958L7.38878 23.5772L8.67448 20.2865L10.3397 19.2585L13.4458 18.2798L16.9324 18.9556L18.1417 19.9343L19.6284 25.0013L20.5023 25.5999H21.8267V24.7932L20.6879 24.1685Z" fill="white" />
                  </svg>

                  <div>
                    <p>{{ $t("shop.pets.yes") }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-16 lg:hidden">
            <AppFeaturedOffers :shop-id="shop.id" />
          </div>

          <PageShopsOffers
            :shop-id="shop.id"
            class="mb-[var(--gap-25)] hidden lg:block"
          />

          <div v-if="images && images.length" class="lg:hidden">
            <AppSwiperImages :images="images" />
          </div>

          <div
            v-if="images && images.length"
            class="news-tiles tiles !hidden lg:!grid"
          >
            <PageShopsTile
              v-for="(image, index) in images"
              :key="index"
              :newsItem="image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.shop-hero {
  display: flex;
  flex-direction: column;

  @include desktop {
    align-items: center;
    // height: calc(10vw + var(--gap-20));
  }
}

.shop-image {
  width: 100%;
  max-width: 600px;
  height: var(--gap-45);
  object-fit: contain;

  margin-top: var(--gap-10);
  margin-bottom: var(--gap-10);

  @include mobile {
    height: var(--gap-30);
  }
}

.back-link {
  width: 100%;
  @include desktop-xl {
    width: unset;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.pets-allowed {
  // svg {
  //     margin-top: calc(-1 * var(--gap-4));
  //     margin-bottom: var(--gap-4);
  // }
}
</style>
