<script setup>

defineI18nRoute({
    paths: {
      en: '/about-spice',
      lv: '/par-spici',
    }
})


const localePath = useLocalePath();
const {aboutContent} = useDataStore();
const { t } = useI18n();

const sentences = aboutContent?.sentences?.map((sentence) => sentence.sentence) || [];

const activeSentenceIndex    = ref(0);
const sentenceIntervalHandle = ref(null);

onMounted(() => {
  sentenceIntervalHandle.value = setInterval(() => {
    if (activeSentenceIndex.value === sentences.length - 1) {
      activeSentenceIndex.value = 0;
    } else {
      activeSentenceIndex.value++;
    }
  }, 3000);
});

onUnmounted(() => {
  clearInterval(sentenceIntervalHandle.value);
});

</script>

<template>
  <div class="page">
    <AppSimpleBanner :banner="`/video/video.mp4`" :poster="`/img/banner-spice-about.jpg`" />

    <div class="innerpage">
      <div class="innerpage-block">
        <div class="container">
          <div class="w-full flex justify-center mb-10">
            <h1 v-html="$t('about.main_title')"></h1>
          </div>
          <div
            class="w-full flex flex-col justify-center items-center gap-6 uppercase mb-[var(--gap-15)] md:flex-row md:gap-16 lg:mb-20"
          >
            <NuxtLink :to="localePath()" class="switch active"
              >{{$t('about.manifesto_link')}}</NuxtLink
            >
            <NuxtLink :to="localePath('audiostories')" class="switch"
              >{{$t('about.audiostories_link')}}</NuxtLink
            >
          </div>

          <div class="motto h2 mb-[var(--gap-13)] text-center lg:mb-16" v-html="aboutContent.slogan"></div>

          <div
            class="has-html-content text-cols grid gap-x-16 mb-[var(--gap-13)] md:grid-cols-2 lg:mb-[var(--gap-16)]"
            v-html="aboutContent.body"
          >
          </div>

          <div class="design-text h2 flex align-center gap-x-6">

            <div class="design-text__left" v-html="aboutContent.sentences_start"></div>
            <div class="design-text__right">
              <TransitionGroup name="sentence-transitions">
                <template v-for="(sentence, index) in sentences" :key="index">
                  <div v-if="activeSentenceIndex == index" class="sentence" v-html="sentence"></div>
                </template>
              </TransitionGroup>
            </div>

          </div>

          <PageAboutOffers />
        </div>
        <div class="">
          <PageAboutHero />
        </div>
      </div>
    </div>

  </div>
</template>

<style lang="scss" scoped>

.innerpage,
.innerpage-block {
  @include desktop-lg {
    margin-bottom: 0;
  }
}

.switch {
  font-family: var(--font-giga);
  font-size: var(--desktop-paragraph-size-rem);
  line-height: 1.22;
  padding: var(--gap-2) 0;

  &.active {
    border-bottom: 1px solid var(--black-100, #030303);
  }
}

.text-cols {
  line-height: 1.4;
  div {
    p {
      &:not(:last-child) {
        margin-bottom: var(--gap-4);
      }
    }
  }
}

.design-text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: var(--gap-40);

  &__left {
    // max-width: 50%;
  }

  @include mobile {
    flex-direction: column;
    &__left {

    }

    &__right {
      flex-shrink: 1;
      width: 100%;
      position: relative;
      // max-width: 50%;

      .sentence {

      }
    }
  }
}

.sentence {
  position: absolute;
  transform: translate(0%, 0%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out;

  @include desktop-lg {
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
  }
}

.sentence-transitions {
  &-enter-from {
    transform: translate(0, 50%);
    opacity: 0;

    @include desktop-lg {
      transform: translate(0, 100%);
    }
  }
  &-leave-to {
    transform: translate(0, -50%);
    opacity: 0;

    @include desktop-lg {
      transform: translate(0, -100%);
    }
  }


  &-leave-active {
    position: absolute;
  }
}
</style>