<script setup>

defineI18nRoute({
    paths: {
      en: "/advertising",
      lv: "/reklama",
    },
})

    const { t } = useI18n();
    //TODO BACKEND: these contacts never came from api
    const people = ref([
        {
            name: t('ad.name'),
            title: t('ad.job_title'),
            tel: '+37127332293',
            email: 'mboom@mboom.eu'
        },
        {
            name: 'Zane Zonberga',
            title: t('ad.job_title2'),
            tel: '+371294-42-857',
            email: 'zane.zonberga@clearchannel.lv'
        }
    ])
    const sendMail = (email) => {
        const link = `mailto:${email}`
        window.location.href = link
    }
    const formattedNumber = (tel) => {
        if (tel.startsWith('+')) {
            let countryCode = tel.substring(0, 4)
            let localNumber = tel.substring(4)
            return `(${countryCode}) ${localNumber}`
        }
        return tel
    }
</script>
<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/news.png`"/>
        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <h1 class="h1 w-full flex-wrap text-center justify-center mb-[var(--gap-15)] lg:mb-20" v-html="$t('ad.title')"></h1>
                    <div class="grid md:grid-cols-2 gap-x-6">
                        <div v-for="(person, index) in people" :key="index" class="flex flex-col mb-[var(--gap-13)] last:mb-0 lg:mb-0">
                            <h2 class="mb-3">{{ person.name }}</h2>
                            <h3 class="uppercase md:h-[2.5em] mb-10">{{ person.title }}</h3>
                            <div class="h3 mb-3 uppercase">{{$t('ad.contacts')}}</div>
                            <a class="p mb-1" :href="`tel:${person.tel}`">{{ formattedNumber(person.tel) }}</a>
                            <a class="p" :href="`mailto:${person.email}`">{{ person.email }}</a>
                            <div>
                                <AppButtonPrimary class="secondary mt-8 w-full md:w-auto uppercase" @click="sendMail(person.email)" :label="$t('ad.email')" :icon="null"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>