<script setup>
defineI18nRoute({
    paths: {
      en: '/gift-cards',
      lv: '/davanu-kartes',
    }
});

const {giftcardinfo} = useDataStore();
</script>
<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/giftcard.png`"/>

        <div class="innerpage !mt-0">
            <PageGiftcardCardBalance />

            <PageGiftcardOrderCard />

            <PageGiftcardWhereToUse />

            <div class="innerpage-block">
                <PageGiftcardHowToBuy/>
            </div>

            <div class="innerpage-block">
                <PageGiftcardFAQ/>
            </div>

            <div class="innerpage-block">
                <AppDownloads :docs="giftcardinfo.files" :title="$t('giftcard.rulesTitle')" :download-name="$t('global.download')"/>
            </div>
        </div>
    </div>
</template>