<script setup>

</script>

<template>
  <div class="page">

    <PageIndexHero />

    <div class="innerpage">

      <div class="innerpage-block">
        <PageIndexShopSlider />
      </div>

      <div class="innerpage-block">
        <PageIndexOffers />
      </div>

      <div class="innerpage-block">
        <PageIndexAmenities />
      </div>

      <div class="innerpage-block">
        <PageIndexCard />
      </div>

      <div class="innerpage-block">
        <PageIndexNews />
      </div>

    </div>
  </div>
</template>

<style lang="scss" scoped>

</style>