<script setup>

defineI18nRoute({
    paths: {
        en: '/kids',
        lv: '/berni',
    }
})

const dataStore = useDataStore();

/**
 * Remap the calendar items to the format that the AppDownloads component expects
 */
const calendarItems = computed(() => {
    return dataStore.kids?.calendar.map((calendarItem) => {
        return {
            title: calendarItem.title,
            external_url: calendarItem.external_url,
        };
    });
})

</script>
<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/kids.png`" :mobile-image="`/img/heroimages/kids-mobile.png`" :title="$t('kids.title').replace(/<[^>]*>?/gm, '')" />

        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <h1 class="text-center mb-[var(--gap-15)] lg:mb-20" v-html="$t('kids.title')"></h1>
                    <div class="grid gap-10 lg:grid-cols-2 lg:gap-16">
                        <div>
                            <h2 class="mb-10" v-html="dataStore?.kids?.content?.heading"> </h2>
                            <div class="body has-html-content" v-html="dataStore?.kids?.content?.body"> </div>
                            <div class="h3 uppercase" v-html="dataStore?.kids?.content?.sub_body"></div>
                        </div>
                        <NuxtImg :src="dataStore?.kids?.content?.image?.path" :alt="dataStore?.kids?.content?.image?.title" class="spicite-img" width="800" />
                    </div>
                </div>
            </div>
            <div class="innerpage-block">
                <AppDownloads :docs="calendarItems" :title="$t('kids.calendar.title')" :download-name="$t('kids.calendardownloadname')" :icon="'/img/ArrowRight.svg'" class="lg:w-10/12"/>
            </div>
            <div class="innerpage-block">
                <AppDownloads :docs="dataStore.kids?.files" :title="$t('kids.downloads.title')" :download-name="$t('global.download')" :icon="'/img/Download.svg'" class="lg:w-10/12"/>
            </div>
            <div class="innerpage-block">
                <div class="container">
                    <h2 class="text-center mb-[var(--gap-13)] lg:mb-16" v-html="$t('kids.galtitle')"></h2>
                    <PageKidsImageSwiper :images="dataStore?.kids?.content?.gallery_images"/>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .body {
        &::v-deep(p) {
            margin-bottom: var(--gap-5);
            &:last-child {
                @include desktop-lg {
                    margin-bottom: var(--gap-10);
                }
            }
        }
    }
    .spicite-img {
        @include desktop-lg {
            padding-left: var(--gap-12);
        }
    }
</style>