<script setup>
defineI18nRoute({
    paths: {
      en: "/private-policy",
      lv: "/privatuma-politika",
    },
})

const { locale } = useI18n()
const config     = useRuntimeConfig()

const { data: privacyPage } = await useFetch(`/api/v1/content/pages/privatuma-politika`, {
    headers: { 'accept-language': locale }
})

const page = computed(() => {
    return privacyPage.value?.data || {};
})

    // BACKEND TODO: data should come from API
    import { privacy_policy_pretext  } from '~/data/privacyData.js'
    import { privacy_policy_data } from '~/data/privacyData.js'
    import { cookies_policy_pretext  } from '~/data/privacyData.js'
    import { cookies_policy_data } from '~/data/privacyData.js'
</script>

<template>
    <div class="page" id="policy">
        <div class="innerpage">
            <div class="innerpage-block !mb-0">
                <div class="container">
                    <h1 class="text-center mb-[var(--gap-15)] lg:mb-20" v-html="page?.title"></h1>
                </div>

                <BlocksRenderer :blocks="page?.block_list" />
            </div>
            <!-- <div id="cookies" class="innerpage-block pt-[var(--gap-33)] lg:pt-[var(--gap-37)]">
                <div class="container">
                    <h1 class="text-center mb-[var(--gap-15)] lg:mb-20">Sīkdatņu <i>politika</i></h1>
                    <div class="pretext paragraph mb-10 lg:mb-[var(--gap-13)]" v-html="cookies_policy_pretext "></div>
                    <AppAccordion :list="cookies_policy_data" class="px-0"/>
                </div>
            </div> -->
        </div>

    </div>
</template>

<style lang="scss" scoped>
    .pretext {
        &::v-deep(p) {
            &:not(:last-child) {
                margin-bottom: var(--gap-6);
            }
        }
    }
</style>