<script setup>
defineI18nRoute({
  paths: {
    en: "/lease",
    lv: "/noma",
  },
});

// TODO: TOAST component does not work???
import { useToast } from "primevue/usetoast";
const toast = useToast();
const fullName = ref(null);
const email = ref(null);
const phone = ref(null);
const shopName = ref(null);
const shopType = ref(null);
const sizeMinimal = ref(null);
const sizeOptimal = ref(null);
const sizeMax = ref();
const shopDesc = ref(null);
const selectedFile = ref(null);
const files = ref([]);

function onAdvancedUpload() {
  //TODO: maybe some sort of message that is has been uploaded , rather than a message on @select handler ?
  // and I think the Toast component does not work... idk
  toast.add({ severity: "info", summary: "Success", detail: "File Uploaded", life: 3000 });
}

function submitForm(e) {
  // e.preventDefault()
  const formData = new FormData(e.target);

  // files.value.forEach((file, index) => {
  //     formData.append(`file_${index}`, file);
  // });

  // console.log([...formData.entries()]);

  // formData.forEach((value, key) => {
  //     console.log(key, value);
  // });

  // return

  fetch(`/api/v1/content/tenant-request`, {
    method: "POST",
    body: formData,
    headers: {
      "Content-Type": "multipart/form-data", //is automatically set by FormData
    },
  })
    .then(async (response) => {
      const data = await response.json();

      if (data.error) {
        toast.add({ severity: "danger", summary: "Kļūda", detail: "Lūdzu pārbaudiet formu un mēģiniet vēlreiz.", life: 3000 });
      } else {
        toast.add({ severity: "success", summary: "Pieteikums nosūtīts.", detail: "Paldies, pieteikums ir nosūtīts!", life: 3000 });
      }
    })
    .catch((error) => {
      console.error("Request failed:", error);
      toast.add({ severity: "danger", summary: "Kļūda", detail: "Lūdzu pārbaudiet formu un mēģiniet vēlreiz.", life: 3000 });
    });
}
const onSelectedFiles = (event) => {
  console.log("onSelectedFiles event.files: ", event.files);
  if (event.files.length > 0) {
    files.value = event.files;
  }
};
const onTemplatedUpload = () => {
  toast.add({ severity: "info", summary: "Success", detail: "File Uploaded", life: 3000 });
};

const addFile = (chooseCallback, uploadCallback) => {
  chooseCallback();
  // uploadCallback()
};
</script>
<template>
  <div class="page">
    <MainSubpageHero :image="`/img/heroimages/news.png`" />
    <div class="innerpage">
      <div class="innerpage-block">
        <div class="container">
          <Toast />
          <h1
            class="h1 w-full text-center justify-center mb-[var(--gap-15)] lg:mb-20"
            v-html="$t('rent.title')"></h1>
          <form
            accept-charset="utf-8"
            enctype="multipart/form-data"
            @submit.prevent="submitForm">
            <div class="grid lg:grid-cols-2 gap-x-16 lg:px-[10%]">
              <div>
                <div class="h3 uppercase mb-6">{{ $t("rent.contact_title") }}</div>
                <div class="flex flex-col mb-10 gap-y-8 lg:mb-16 lg:gap-y-14">
                  <div class="flex flex-col gap-y-8">
                    <InputText
                      type="text"
                      name="name_surname"
                      v-model="fullName"
                      :placeholder="$t('rent.name')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                    <InputText
                      type="email"
                      name="epasts"
                      v-model="email"
                      :placeholder="$t('rent.email')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                    <InputText
                      type="tel"
                      name="tel"
                      v-model="phone"
                      :placeholder="$t('rent.phone')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                  </div>
                </div>
                <div class="h3 uppercase mb-6">{{ $t("rent.shop_title") }}</div>
                <div class="flex flex-col gap-y-8 mb-10 lg:gap-y-14 lg:mb-14">
                  <div class="flex flex-col gap-y-8">
                    <InputText
                      type="text"
                      name="veikals"
                      v-model="shopName"
                      :placeholder="$t('rent.shop_name')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                    <InputText
                      type="text"
                      name="veikala_tips"
                      v-model="shopType"
                      :placeholder="$t('rent.shop_type')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                  </div>
                </div>
              </div>
              <div>
                <div class="h3 uppercase mb-6">{{ $t("rent.space_title") }}</div>
                <div class="flex flex-col mb-10 gap-y-8 lg:gap-y-14 lg:mb-16">
                  <div class="flex flex-col gap-y-8">
                    <InputNumber
                      name="platiba_min"
                      v-model="sizeMinimal"
                      :placeholder="$t('rent.minimal')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                    <InputNumber
                      name="platiba_opt"
                      v-model="sizeOptimal"
                      :placeholder="$t('rent.optimal')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                    <InputNumber
                      name="tel"
                      v-model="sizeMax"
                      :placeholder="$t('rent.max')"
                      class="border-b-[1px] border-b-[var(--primary-black-100)] pb-3" />
                  </div>
                </div>
                <div class="h3 uppercase mb-6">{{ $t("rent.extra_info_title") }}</div>
                <div class="flex flex-col gap-y-14">
                  <div class="flex flex-col gap-y-6 mb-6 lg:mb-14">
                    <TextArea
                      type="text"
                      name="coments"
                      v-model="shopDesc"
                      :placeholder="$t('rent.moreInfoText')"
                      class="border-[1px] border-[var(--primary-black-100)] p-3 h-[25vw] lg:h-[var(--gap-26)]" />
                  </div>
                </div>
              </div>
            </div>
            <div class="grid lg:grid-cols-2 gap-x-16 items-center lg:px-[10%]">
              <FileUpload
                ref="file"
                :multiple="true"
                name="file"
                :auto="true"
                accept="image/*"
                :maxFileSize="50000000"
                :fileLimit="10"
                :invalidFileSizeMessage="$t('rent.form.fileUpload_invalidSize')"
                :invalidFileTypeMessage="$t('rent.form.fileUpload_invalidFormat')"
                :chooseLabel="$t('rent.addFile')"
                class="flex-row-reverse lg:mr-auto"
                @select="onSelectedFiles"
                @upload="onTemplatedUpload($event)">
                <template #header="{ chooseCallback, uploadCallback, clearCallback, files }">
                  <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
                    <div class="flex gap-2">
                      <Button
                        class="btn-add"
                        @click="addFile(chooseCallback, uploadCallback)"
                        icon="pi pi-plus"
                        iconPos="right"
                        :label="$t('rent.addFile')" />
                    </div>
                  </div>
                </template>
                <template #content="{ files, uploadedFiles, removeUploadedFileCallback, removeFileCallback, messages }">
                  <div>
                    <Message
                      v-for="message of messages"
                      :key="message"
                      severity="error">
                      {{ message }}
                    </Message>
                    <div v-if="uploadedFiles.length > 0">
                      <div class="text-[var(--info-color-success)] mt-2 mb-4">{{ $t("rent.form.fileUploadSuccess") }}</div>
                      <div
                        v-for="(file, index) of uploadedFiles"
                        :key="file.name + file.type + file.size"
                        class="flex flex-wrap md:justify-between items-center md:flex-nowrap md:gap-x-8">
                        <div class="small-text w-full !text-[var(--secondary-black-40)] whitespace-normal break-all">{{ file.name }}</div>
                        <div
                          class="btn-remove flex items-center"
                          @click="removeUploadedFileCallback(index)">
                          <div class="small-text shrink-0">{{ $t("rent.form.fileUploadRemove") }}</div>
                          <Button
                            icon="pi pi-times"
                            outlined
                            rounded
                            severity="danger" />
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </FileUpload>
              <div class="hidden lg:block"></div>
              <div class="small-text mt-10 lg:mt-0 lg:-order-1">{{ $t("rent.validation") }}</div>
              <div class="mt-10 lg:mt-20 flex flex-col lg:flex-row lg:justify-end">
                <AppButtonPrimary
                  class="secondary"
                  :label="$t('rent.button')"
                  :icon="null"
                  type="submit" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.btn-add {
  .p-button-label {
    white-space: normal;
    word-break: break-word;
  }
}
.btn-remove {
  .p-button-icon-only {
    padding: var(--gap-2);
  }
}
</style>
