<script setup>
defineI18nRoute({
    paths: {
        en: "/services",
        lv: "/pakalpojumi",
    }
})

const { services } = useDataStore();
const localePath = useLocalePath();


function getMapPath(mapId) {
    let pathObject = {
        name: 'map',
    };

    const query = mapId
        ?.split('&')
        ?.map((item) => {
            return item
            ?.replace('?','')
            ?.split('=')
        })
        ?.reduce((acc, cur) => {
            if (cur[0] && cur[1]) {
            acc[cur[0]] = cur[1];
            }
            return acc;
        }, {});

    if (query?.page) {
        const name = query.page;

        pathObject = {
            name,
            query
        };
    } else {
        pathObject.query = query;
    }

    return localePath(pathObject);
}
</script>

<template>
    <div class="page">
        <MainSubpageHero :image="`/img/heroimages/services.png`"/>

        <div class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <div class="container-inner">
                        <h1 class="text-center mb-[var(--gap-15)] lg:mb-20" v-html="$t('services.title')"></h1>
                        <div v-for="service in services" class="hidden service py-6 px-4 lg:flex" >
                            <NuxtImg :src="service.image.path" :alt="service?.title" class="mr-3 h-[2.75rem] md:w-[4.375rem] md:h-[4.375rem] lg:mr-6 w-[2.75rem]" format="png" />
                            <div class="w-full">
                                <h3 class="uppercase">{{ service.title }}</h3>
                                <div v-for="item in service.service_list" class="flex flex-wrap justify-between">
                                    <div v-html="item.title" class="html-paragraph mt-3 w-full md:w-auto"></div>
                                    <AppButtonTertiary v-if="item.map_id" :to="getMapPath(item.map_id)" :label="$t('global.open_map')" hasCustomIcon icon="customicon--right"/>
                                </div>
                            </div>
                        </div>
                        <div class="lg:hidden">
                            <PageServicesAccordion :services="services"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .service {
        border-top: 1px solid var(--primary-black-100);
        &:last-child {
            border-bottom: 1px solid var(--primary-black-100);
        }
        .html-paragraph{
            p {
                &:not(:last-child) {
                    margin-bottom: var(--gap-3);
                }
            }
        }
    }
</style>