<script setup>
defineI18nRoute({
  paths: {
    en: "/sustainability",
    lv: "/ilgtspeja",
  },
});

// const seo = useSeoMeta();

const dataStore = useDataStore();
</script>
<template>
  <div class="page">
    <MainSubpageHero :image="`/img/heroimages/sustainability.png`" />

    <div class="innerpage !mb-0">
      <div class="innerpage-block">
        <div class="container">
          <h1
            class="text-center mb-10"
            v-html="$t('sustainability.title')"></h1>
          <div class="text-center lg:w-8/12 mx-auto mb-[var(--gap-15)] lg:mb-20">
            <div class="h3 mb-4 uppercase">{{ $t("sustainability.body1") }}</div>
            <div class="h3 uppercase">{{ $t("sustainability.body2") }}</div>
          </div>
        </div>

        <template
          v-for="(sustainabilityItem, index) in dataStore.sustainablility?.items"
          :key="sustainabilityItem.id">
          <div class="pb-[var(--gap-15)] lg:pb-20 last:pb-0">
            <div class="container">
              <h2 class="mb-10 lg:mb-16">
                <span>{{ sustainabilityItem.sort_order }}.&nbsp;</span>
                <span v-html="sustainabilityItem.title"></span>
              </h2>
            </div>
            <AppAccordion :list="sustainabilityItem.inner_content" />
          </div>
        </template>
      </div>

      <div class="innerpage-block">
        <PageSustainabilityManifest />
      </div>

      <div class="innerpage-block">
        <PageSustainabilityShopSlider />
      </div>

      <div
        v-if="dataStore.sustainablility?.files && dataStore.sustainablility?.files.length"
        class="innerpage-block">
        <AppDownloads
          :docs="dataStore.sustainablility?.files"
          :title="$t('sustainability.documentsTitle')"
          :download-name="$t('global.download')"
          :icon="'/img/Download.svg'"
          class="lg:w-10/12" />
      </div>

      <div
        v-if="dataStore.sustainablility?.news && dataStore.sustainablility?.news.length"
        class="other-news innerpage-block !mb-0 pt-[var(--gap-15)] lg:pt-20">
        <div class="container">
          <h2
            class="text-center mb-[var(--gap-13)] lg:mb-16"
            v-html="$t('sustainability.newsTitle')"></h2>
          <div class="news-tiles tiles">
            <AppNewsTile
              v-for="(newsItem, index) in dataStore.sustainablility?.news"
              :key="newsItem.id"
              :newsItem="newsItem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.other-news {
  background: var(--primary-beige-100);
  padding-bottom: var(--gap-28);
  @include desktop-lg {
    padding-bottom: var(--gap-45);
  }
}
</style>
