<script setup>

defineI18nRoute({
    paths: {
        en: "/rules-of-internal-procedures-for-visitors/[slug]",
        lv: "/apmekletaju-ieksejas-kartibas-noteikumi/[slug]",
        ru: "/pravila-vnutrennego-raspolo-zh-eni-ya-posetitelej/[slug]"
    }
})

const route      = useRoute()
const router     = useRouter()
const localePath = useLocalePath()
const { locale } = useI18n()

const { data: pages } = await useFetch(`/api/v1/content/pages`, {
    headers: { 'accept-language': locale }
})

const tabs = [
    {title: "Spice",      id: 'spice',     slug: "apmekletaju-ieksejas-kartibas-noteikumi--spice" },
    {title: "Spice Home", id: 'spicehome', slug: "apmekletaju-ieksejas-kartibas-noteikumi--spicehome"}
];
const openTab = ref(tabs.find(tab => tab.id === route.params.slug) || null)
const data    = pages.value?.data?.find(page => page.slug == openTab.value?.slug)

// onMounted(() => {
//     if (!isRouteValid.value) {
//         router.replace(localePath({
//             name: 'internal-procedures-slug',
//             params: { slug: 'spice' },
//         }))
//     }
// })

const isRouteValid = computed (() => {
    return true;
    // return tabs.value.map(tab => tab.id).includes(route.params.slug)
})

function tabRoute(tab) {
    const newRoute = localePath({
        name: 'internal-procedures-slug',
        params: {slug: tab.id},
    })

    return newRoute;
}

</script>
<template>
    <div class="page">
        <div v-if="isRouteValid" class="innerpage">
            <div class="innerpage-block">
                <div class="container">
                    <div id="content" class="w-full mb-10">
                        <h1 class="text-center mx-auto max-w-lg lg:max-w-3xl" v-html="data?.title"></h1>
                    </div>
                    <div class="flex justify-center mb-[var(--gap-15)] lg:mb-20">
                        <div
                            v-for="tab in tabs"
                            :key="tab.id"
                            class="nav-item mb-3 cursor-pointer"
                            :class="{ 'active': openTab.id === tab.id }"
                        >
                            <nuxt-link :to="tabRoute(tab)" class="h3 nav-item__text uppercase mx-auto py-2">{{ tab?.title }}</nuxt-link>
                        </div>
                    </div>
                    <!-- <div class="pretext has-html-content paragraph mb-10 lg:mb-[var(--gap-13)]" v-html="data.pretext"></div> -->
                </div>

                <BlocksRenderer :blocks="data?.block_list" />
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .nav-item {
            &:not(:first-child) {
                margin-left: var(--gap-12);
                @include desktop-lg {
                    margin-left: var(--gap-16);
                }
            }
            &:hover, &.active {
                .nav-item__text {
                    border-bottom: 1px solid var(--primary-black-100);
                    width: max-content;
                }
            }
        }
    .pretext {
        &::v-deep(p) {
            &:not(:last-child) {
                margin-bottom: var(--gap-6);
            }
        }
    }
</style>