<template>
    <div></div>
  </template>
  
  <script setup>
  
  const localePath = useLocalePath()
  const router = useRouter()
  
  router.replace(localePath({
    name: 'internal-procedures-slug',
    params: { slug: 'spice' }
  }))
  </script>
  
  <style scoped lang="scss">
  </style>
  