/* Cookie Script */
.cookiescriptlogo {
  fill: var(--primary-black-100) !important;
}

#cookiescript_injected {
  width: 400px !important;
}

#cookiescript_readmore, #cookiescript_reportlink, #cookiescript_cookiescriptlink {
  color: var(--primary-black-100) !important;
  text-decoration: underline !important;
}

// #cookiescript_accept {
//   color: var(--primary-black-100) !important;
// }

#cookiescript_injected .mdc-checkbox__native-control:disabled~.mdc-checkbox__background .mdc-checkbox__checkmark, #cookiescript_injected_fsd .mdc-checkbox__native-control:disabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: rgba(#030303, 10%) !important;
}

#cookiescript_injected .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark, #cookiescript_injected_fsd .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: var(--primary-black-100) !important;
}

#cookiescript_injected .mdc-checkbox__background, #cookiescript_injected_fsd .mdc-checkbox__background {
  border-width: 1.5px !important;
  border-radius: 0px !important;
}


#cookiescript_accept, #cookiescript_reject, #cookiescript_save {
  border-radius: 0px !important;
}

#cookiescript_buttons {

  > div {
    @extend .p-button;

    font-size: var(--desktop-h4-size);

    &:hover {
      background-color: var(--primary-black-100) !important;
      color: var(--primary-white-100) !important;
    }
  }

  #cookiescript_accept {
    background-color: var(--primary-beige-100) !important;
    color: var(--primary-black-100) !important;
    border: none !important;

    &:hover {
      background-color: var(--primary-black-100) !important;
      color: var(--primary-white-100) !important;
    }
  }

  #cookiescript_save {

  }

}

#cookiescript_injected_fsd #cookiescript_save {
  color: var(--primary-black-100) !important;

  &:hover {
    background-color: var(--primary-black-100) !important;
    color: var(--primary-white-100) !important;
  }
}

#cookiescript_fsd_wrapper .cookiescript_fsd_tabs {

  & > div {
    @extend .small-text;
    color: var(--primary-black-100) !important;
  }


}

#cookiescript_declarationwrap .cookiescript_fsd_category {
  .cookiescript_fsd_cookies_control {

    span {
      @extend .small-text;
    }

    color: var(--primary-black-100) !important;
  }
}