<script setup>

const props = defineProps({
  blocks: Object
})

function capitalizeFirstLetter(val) {
    return String(val).charAt(0).toUpperCase() + String(val).slice(1);
}

/**
 * Load component by block type name..
 * @param block
 */
function getComponent(block) {
  const type          = block?.type?.replace('block', '') || null;

  const componentName = `BlocksBlock${capitalizeFirstLetter(type)}`
  const component     = resolveComponent(componentName);

  if (component) {
    return component;
  }

  return resolveComponent('BlocksBlockError');
}
</script>

<template>
  <div class="blocks">
    <div class="block" :id="`block-${block.id}`" v-for="block in blocks" :key="block.id">
      <component :is="getComponent(block)" :block="block" />
    </div>
  </div>
</template>

<style lang="scss" scoped>

.blocks {
  display: flex;
  flex-direction: column;

  gap: var(--gap-12);
}
</style>